<div class="headContent">
  <h1>Lista de Puertos de Origen</h1>
</div>
<div class="box">

  <div class="newTopBanner">
    <%= link_to 'Nuevo Puerto de Origen', new_origin_port_path , :class => "button blue alignright" %>
  </div>

  <p id="notice" class="alignleft"><%= notice %> </p>

  <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th colspan="3" style="width:20% !important;">Acciones</th>
        </tr>
    </thead>
    <tbody>
      <% @origin_ports.each do |origin_port| %>
        <tr>
          <td><%= origin_port.name %></td>
          <td><%= link_to 'Ver', origin_port %>
          <%= link_to 'Editar', edit_origin_port_path(origin_port) %>
          <%= link_to 'Eliminar', origin_port, method: :delete, data: { confirm: '¿Está seguro de eliminar este puerto?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>