<div class="headContent">
    <h1>Lista de ingresos desde proveedores</h1>
</div>
<div class="box">
    <div class="newTopBanner">
        <%= link_to 'Nuevo ingreso', new_supplies_providers_loan_path, :class => "button blue alignright" %>
    </div>
    <p id="notice" class="alignleft"><%= notice %> </p>
    <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
      <thead>
          <tr>
            <th>N°Guia Despacho</th>
            <th>Proveedor</th>
            <th>Insumo</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
        <% @supplies_providers_loans.each do |supplies_providers_loan| %>
            <tr>
              <td><%= supplies_providers_loan.dispatch_guide_number %></td>
              <td><%= (Provider.all(:select => "name", :conditions => ["id = ?", supplies_providers_loan.provider_id]))[0].name %></td>
              <td><%= (Supply.all(:select => "name", :conditions => ["id = ?",supplies_providers_loan.supply_id]))[0].name %></td>
              <td><%= supplies_providers_loan.quantity %></td>
              <td><%= link_to 'Ver', supplies_providers_loan %>
              <%= link_to 'Editar', edit_supplies_providers_loan_path(supplies_providers_loan) %>
              <%= link_to 'Eliminar', supplies_providers_loan, method: :delete, data: { confirm: 'Esta seguro que desea eliminar este Ingreso de insumos?' } %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>
