<p id="notice"><%= notice %></p>

<div class="headContent">
  <h1>Ver Ingreso de Insumo Proveedor</h1>
</div>
<div class="box">
<%= link_to 'Volver',supplies_providers_loans_path , :class => "button blue alignright" %>

<p>
  <b>Trabajador:</b>
   <%= (Provider.all(:select => "name", :conditions => ["id = ?", @supplies_providers_loan.provider_id]))[0].name %>
</p>

<p>
  <b>Insumo:</b>
  <%= (Supply.all(:select => "name", :conditions => ["id = ?",@supplies_providers_loan.supply_id]))[0].name %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @supplies_providers_loan.quantity %>
</p>


</div>
<div class="foot-box">
  <%= link_to 'Editar', edit_supplies_providers_loan_path(@supplies_providers_loan) , :class => "button green alignright" %>
</div>


