<div class="headContent">
    <h1>Lista de Cámaras de Estabilización</h1>
</div>
<div class="box">
    <div class="newTopBanner">
        <%= link_to 'Nueva Cámara de Estabilizacion', new_stabilization_chamber_io_path , :class => "button blue alignright" %>
    </div>
    <p id="notice" class="alignleft"><%= notice %> </p>
    <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
      <thead>
          <tr>
            <th>Número de Orden</th>
            <th>Temperatura</th>
            <th>Acciones</th>  
          </tr>
      </thead>
      <tbody>
        <% @stabilization_chamber_ios.each do |stabilization_chamber_io|%>
            <tr>
                <td><%= stabilization_chamber_io.temperature %></td>
                <td><%= stabilization_chamber_io.order_number %></td>
                <td><%= link_to 'Ver', stabilization_chamber_io %>
                  <%= link_to 'Editar', edit_stabilization_chamber_io_path(stabilization_chamber_io) %>
                  <%= link_to 'Eliminar', stabilization_chamber_io, method: :delete, data: { confirm: '¿Está seguro de eliminar esta Cámara de Estabilización?' } %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>
