<h1>Listing transit_chamber_ios</h1>

<table>
  <tr>
    <th>Temperature</th>
    <th>Order number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transit_chamber_ios.each do |transit_chamber_io| %>
  <tr>
    <td><%= transit_chamber_io.temperature %></td>
    <td><%= transit_chamber_io.order_number %></td>
    <td><%= link_to 'Show', transit_chamber_io %></td>
    <td><%= link_to 'Edit', edit_transit_chamber_io_path(transit_chamber_io) %></td>
    <td><%= link_to 'Destroy', transit_chamber_io, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transit chamber io', new_transit_chamber_io_path %>
