<div class="headContent">
    <h1>Lista de Cámaras de Producto en Tránsito</h1>
</div>
<div class="box">
    <div class="newTopBanner">
        <%= link_to 'Nueva Cámara de Producto en Tránsito', new_transit_chamber_io_path , :class => "button blue alignright" %>
    </div>

    <p id="notice" class="alignleft"><%= notice %> </p>

    <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
      <thead>
          <tr>
            <th>Entrada/Salida</th>
            <th>Número de Orden</th>
            <th>Encargado</th>
            <th>Codigo Pallet</th>
            <th>Fecha</th>
            <th>Acciones</th>  
          </tr>
      </thead>
      <tbody>
        <% @transit_chamber_ios.each do |transit_chamber_io| %>
            <tr>
                <td><%= transit_chamber_io.direction == true ? "Entrada" : "Salida" %></td>
                <td><%= transit_chamber_io.order_number %></td>
                <td><%= PackingPallet.find(transit_chamber_io.packing_pallet_id).pallet_code %></td>
                <td><%= Worker.find(transit_chamber_io.worker_id).rut %></td>
                <td><%= transit_chamber_io.io_datetime %></td>
                <td><%= link_to 'Ver', transit_chamber_io %>
                  <%= link_to 'Editar', edit_transit_chamber_io_path(transit_chamber_io) %>
                  <%= link_to 'Eliminar', transit_chamber_io, method: :delete, data: { confirm: '¿Está seguro de eliminar esta Cámara de Producto en Tránsito?' } %></td>
            </tr>
        <% end %>
      </tbody>
    </table>

</div>

