<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Cámara de Producto en Tránsito</h1>
</div>
<div class="box">
<%= link_to 'Volver', transit_chamber_ios_path , :class => "button blue alignright" %>

<p>
  <b>Fecha:</b>
  <%= "#{@transit_chamber_io.io_datetime.day} - #{@transit_chamber_io.io_datetime.month} - #{@transit_chamber_io.io_datetime.year}" %>
</p>

<p>
  <b>Tipo:</b>
  <%= @transit_chamber_io.direction == true ? "Entrada" : "Salida" %>
</p>


<p>
  <b>Temperatura:</b>
  <%= @transit_chamber_io.temperature %>
</p>

<p>
  <b>Número de Orden:</b>
  <%= @transit_chamber_io.order_number %>
</p>

<p>
  <b>Código de Pallet:</b>
  <%= PackingPallet.find(@transit_chamber_io.packing_pallet_id).pallet_code %>
</p>

<p>
  <b>Encargado:</b>
  <%= Worker.find(@transit_chamber_io.worker_id).rut %>
</p>

</div>
<div class="foot-box">
  <!--- <%= link_to 'Editar', edit_transit_chamber_io_path(@transit_chamber_io) , :class => "button green alignright" %>-->
</div>
