<h1>Listing groupings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groupings.each do |grouping| %>
  <tr>
    <td><%= grouping.name %></td>
    <td><%= grouping.description %></td>
    <td><%= link_to 'Show', grouping %></td>
    <td><%= link_to 'Edit', edit_grouping_path(grouping) %></td>
    <td><%= link_to 'Destroy', grouping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grouping', new_grouping_path %>
