<div class="headContent">
    <h1>Ingresos en recepción</h1>
</div>
<div class="box">
    <div class="newTopBanner">
        <%= link_to 'Agregar nuevo ingreso', new_receipt_packing_io_path , :class => "button blue alignright" %>
    </div>
    <p id="notice" class="alignleft"><%= notice %> </p>
    <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
      <thead>
          <tr>
			<th>Pallet</th>
		    <th>Código</th>
			<th>Productor</th>
		    <th>Código de trazabilidad</th>
		    <th>Nº Guía de despacho</th>
          </tr>
      </thead>
      <tbody>
 		<% @receipt_packing_ios.each do |receipt_packing_io| %>
		  <tr>
			<% if receipt_packing_io.packing_pallet != nil %>
			<td><%= link_to receipt_packing_io.packing_pallet.pallet_code, packing_pallet_path(receipt_packing_io.packing_pallet) %></td>
			<% else %>
			<td><font color="red">No ingresado</td></td>
			<% end %>
			<td><%= receipt_packing_io.code %></td>
			<% if receipt_packing_io.producer != nil %>
		    <td><%= receipt_packing_io.producer.name %></td>
			<% else %>
			<td><font color="red">No definido</font></td>
			<% end %>
		    <td><%= receipt_packing_io.trazability_code %></td>
		    <td><%= receipt_packing_io.dispatch_guide_number %></td>
                <td><%= link_to 'Ver', receipt_packing_io %>
                  <%= link_to 'Editar', edit_receipt_packing_io_path(receipt_packing_io) %>
                  <%= link_to 'Eliminar', receipt_packing_io, method: :delete, data: { confirm: '¿Está seguro de eliminar este ingreso?' } %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>








