<div class="box">
<%= form_for(@destination_port) do |f| %>
  <% if @destination_port.errors.any? %>
    <div id="error_explanation">
      <h2><%= @destination_port.errors.count > 1 ? "#{@destination_port.errors.count} errores." : "#{@destination_port.errors.count} error." %> no se puede guardar el puerto:</h2>

      <ul>
      <% @destination_port.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="line-forme">
    <div class="forme-lab">
      <label> 
        Nombre                
        <em class="formee-req">*</em>
      </label>  
    </div>
    <div class="forme-in">
      <%= f.text_field :name %>
    </div>
  </div>
  <label> (
    <em class="formee-req">*</em>
  </label> ) Campos obligatorios.
</div>
<div class="foot-box">
  <%= link_to 'Cancelar', destination_ports_path , :class => "button silver alignright" %>
  <%= f.submit :Guardar , :class => "button green alignright" %>
</div>
<% end %>