<h1>Listing destination_ports</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @destination_ports.each do |destination_port| %>
  <tr>
    <td><%= destination_port.name %></td>
    <td><%= link_to 'Show', destination_port %></td>
    <td><%= link_to 'Edit', edit_destination_port_path(destination_port) %></td>
    <td><%= link_to 'Destroy', destination_port, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Destination port', new_destination_port_path %>
