<script type="text/javascript">

   function show_rut1(s)
   {
      if(s.value == "")
      {
         var inputRut = document.getElementById('rut1');
         inputRut.value = "-";

         var inputCodigo = document.getElementById('codigo1');
         inputCodigo.value = "-";
      }
      else
      {
         $.get("/producers/"+s.value+".json", function(data) {
            var inputRut = document.getElementById('rut1');
            inputRut.value = data.rut;

            var inputCodigo = document.getElementById('codigo1');
            inputCodigo.value = data.sag_code;
         });
      }
      show_kind1(s.options[s.selectedIndex].value);
      setEstadoBoton1(s.options[s.selectedIndex].value);
   }


</script>

<!---->
<%= form_tag  do %>
<input type="hidden" value="1" name="report_type"></input>

<div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Productor'%> 
              <em class="formee-req">*</em>
      </div>
      <% @producers_array = Producer.all.map { |producer| [producer.name, producer.id] } %>
      <div class="forme-in">
         <%= select_tag "Productores1", options_for_select(@producers_array), :prompt => "Seleccione un Productor", :onchange => "show_rut1(this)" %>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag "rut"  %>
      </div>
      <div class="forme-in ">
         <input id="rut1" value="-" disabled="true"></input>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag "Cod. Productor"%>
      </div>
      <div class="forme-in">
         <input id="codigo1" value="-" disabled="true"></input>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Fecha Inicio' %>
      </div>
      <div class="field">
         <%= select_date Date.today, :prefix => :start_date1 %>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Fecha Termino' %>
      </div>
      <div class="field">
         <%= select_date Date.today, :prefix => :end_date1%>
      </div>
   </div>
   <button id = "boton1" >Generar Informe </button>   

<% end %>
