<%= form_for(@destination_packing) do |f| %>
  <% if @destination_packing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destination_packing.errors.count, "error") %> prohibited this destination_packing from being saved:</h2>

      <ul>
      <% @destination_packing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :international %><br />
    <%= f.check_box :international %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
