<h1>Listing destination_packings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>International</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @destination_packings.each do |destination_packing| %>
  <tr>
    <td><%= destination_packing.name %></td>
    <td><%= destination_packing.email %></td>
    <td><%= destination_packing.phone %></td>
    <td><%= destination_packing.international %></td>
    <td><%= destination_packing.company_id %></td>
    <td><%= link_to 'Show', destination_packing %></td>
    <td><%= link_to 'Edit', edit_destination_packing_path(destination_packing) %></td>
    <td><%= link_to 'Destroy', destination_packing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Destination packing', new_destination_packing_path %>
