<h1>Listing subprocesses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Process</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subprocesses.each do |subprocess| %>
  <tr>
    <td><%= subprocess.name %></td>
    <td><%= subprocess.process_id %></td>
    <td><%= link_to 'Show', subprocess %></td>
    <td><%= link_to 'Edit', edit_subprocess_path(subprocess) %></td>
    <td><%= link_to 'Destroy', subprocess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subprocess', new_subprocess_path %>
