<div class="box">
<%= form_for(@variety) do |f| %>
  <% if @variety.errors.any? %>
    <div id="error_explanation">
      <h2><%= @variety.errors.count > 1 ? "#{@variety.errors.count} errores." : "#{@variety.errors.count} error." %> no se puede guardar la variedad:</h2>

      <ul>
      <% @variety.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Nombre %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Especie %><br />
    </div>
    <div class="forme-in">
      <% kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
      <%= f.select(:kind_id, kinds_array, :selected => :prompt, :prompt => '- Seleccione especie -') %>
    </div>

    
  </div>
</div>
<div class="foot-box">
  <%= link_to 'Cancelar', varieties_path , :class => "button silver alignright" %>
  <%= f.submit :Guardar , :class => "button green alignright" %>
</div>
<% end %>