<div class="headContent">
  <h1>Lista de Variedades</h1>
</div>
<div class="box">
  <%= link_to 'Nueva Variedad', new_variety_path , :class => "button blue alignright" %>

  <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
    <thead>
      <tr>
        <th style="width:20% !important;">Nombre</th>
        <th>Especie</th>
        <th style="width:20% !important;">Acciones</th>
      </tr>
    </thead>
  <tbody>
  <% @varieties.each do |variety| %>
  <tr>
    <td><%= variety.name %></td>
    <td><%= Kind.find(variety.kind_id).name %></td>
    <td><%= link_to 'Ver', variety %></td>
    <td><%= link_to 'Editar', edit_variety_path(variety) %></td>
    <td><%= link_to 'Eliminar', variety, method: :delete, data: { confirm: '¿Está seguro de eliminar esta variedad?' } %></td>
  </tr>
<% end %>
    </tbody>
  </table>

</div>