<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Variedad</h1>
</div>
<div class="box">
<%= link_to 'Volver', variety_path , :class => "button blue alignright" %>
<p>
  <b>Nombre:</b>
  <%= @variety.name %>
</p>

<p>
  <b>Especie:</b>
  <% kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
  <%= f.select(:kind_id, kinds_array) %>
</p>
</div>
<div class="foot-box">
  <%= link_to 'Editar', edit_variety_path(@variety) , :class => "button green alignright" %>
</div>