<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Usuario</h1>
</div>
<div class="box">
  <%= link_to 'Volver', users_path , :class => "button blue alignright" %>
  <p>
    <b>Correo electrónico:</b>
    <%= @user.email %>
  </p>

  <p>
    <b>Contraseña:</b>
    <%= @user.password %>
  </p>

  <p>
    <b>Confirmar Contraseña:</b>
    <%= @user.password_confirmation %>
  </p>

  <p>
    <b>Activo:</b>
    <%= @user.active %>
  </p>

  <p>
    <b>Teléfono:</b>
    <%= @user.phone %>
  </p>

  <p>
    <b>Nombre:</b>
    <%= @user.name %>
  </p>

  <p>
    <b>Apellido:</b>
    <%= @user.lastname %>
  </p>

  <p>
    <b>Género:</b>
    <%= @user.gender %>
  </p>

  <p>
    <b>Pregunta secreta:</b>
    <%= @user.secret_question %>
  </p>

  <p>
    <b>Respuesta secreta:</b>
    <%= @user.secret_answer %>
  </p>
</div>  
<div class="foot-box">
  <%= link_to 'Editar', edit_user_path(@user) , :class => "button green alignright" %>
</div>
