<div class="box">
<%= form_for(@format) do |f| %>
  <% if @format.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@format.errors.count, "error") %> prohibited this format from being saved:</h2>

      <ul>
      <% @format.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="line-forme">
    <div class="forme-lab">
    <%= f.label :Nombre %><br />
    </div>
     <div class="forme-in">
    <%= f.text_field :name %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Cantidad %><br />
    </div>
    <div class="forme-in">
      <%= f.number_field :quantity %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Peso %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :weight %>
    </div>
  </div>
  
</div>
<div class="foot-box">
  <%= link_to 'Cancelar', formats_path , :class => "button silver alignright" %>
  <%= f.submit :Guardar , :class => "button green alignright" %>
</div>
  <% end %>
