<div class="box">
<%= form_for(@container) do |f| %>
  <% if @container.errors.any? %>
    <div id="error_explanation">
      <h2><%= @container.errors.count > 1 ? "#{@container.errors.count} errores." : "#{@container.errors.count} error." %> no se puede guardar el envase</h2>

      <ul>
      <% @container.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Nombre %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Tara %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :tare %>
    </div>
    
  </div>
</div>
<div class="foot-box">
  <%= link_to 'Cancelar', containers_path , :class => "button silver alignright" %>
  <%= f.submit :Guardar , :class => "button green alignright" %>
</div>
<% end %>