<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Envase</h1>
</div>
<div class="box">
<%= link_to 'Volver', containers_path , :class => "button blue alignright" %>
<p>
  <b>Nombre:</b>
  <%= @container.name %>
</p>

<p>
  <b>Tara:</b>
  <%= @container.tare %>
</p>
</div>
<div class="foot-box">
	<%= link_to 'Editar', edit_container_path(@container) , :class => "button green alignright" %>
</div>