<h1>Listing dispatch_ios</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Charging order</th>
    <th>Container code</th>
    <th>Charging temperature</th>
    <th>Dispatch temperature</th>
    <th>Name driver</th>
    <th>Rut driver</th>
    <th>Patent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dispatch_ios.each do |dispatch_io| %>
  <tr>
    <td><%= dispatch_io.number %></td>
    <td><%= dispatch_io.charging_order_id %></td>
    <td><%= dispatch_io.container_code %></td>
    <td><%= dispatch_io.charging_temperature %></td>
    <td><%= dispatch_io.dispatch_temperature %></td>
    <td><%= dispatch_io.name_driver %></td>
    <td><%= dispatch_io.rut_driver %></td>
    <td><%= dispatch_io.patent %></td>
    <td><%= link_to 'Show', dispatch_io %></td>
    <td><%= link_to 'Edit', edit_dispatch_io_path(dispatch_io) %></td>
    <td><%= link_to 'Destroy', dispatch_io, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dispatch io', new_dispatch_io_path %>
