<%= form_for(@packing_process) do |f| %>
  <% if @packing_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@packing_process.errors.count, "error") %> prohibited this packing_process from being saved:</h2>

      <ul>
      <% @packing_process.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
