<h1>Listing packing_processes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @packing_processes.each do |packing_process| %>
  <tr>
    <td><%= packing_process.name %></td>
    <td><%= link_to 'Show', packing_process %></td>
    <td><%= link_to 'Edit', edit_packing_process_path(packing_process) %></td>
    <td><%= link_to 'Destroy', packing_process, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Packing process', new_packing_process_path %>
