<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Permisos</h1>
</div>
<div class="box">
<%= link_to 'Volver', access_rights_path , :class => "button blue alignright" %>
<p>
  <b>Model name:</b>
  <%= @access_right.model_name %>
</p>

<p>
  <b>Action:</b>
  <%= @access_right.action %>
</p>

</div>
<div class="foot-box">
  <%= link_to 'Editar', edit_access_right_path(@access_right) , :class => "button green alignright" %>
</div>