<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @access_right.model %>
</p>

<p>
  <b>Right:</b>
  <%= @access_right.right %>
</p>


<%= link_to 'Edit', edit_access_right_path(@access_right) %> |
<%= link_to 'Back', access_rights_path %>
