<script type="text/javascript">

function add_pallet(){

    console.log("agregando")
    $("#error_label").text("");
    $.get("/packing_pallets.json", function(pallets) {
      flag = false;
      $.each(pallets, function(index, pallet){
        if (pallet.pallet_code == $("#code_pallet").val()) {
          flag = true;
          $('#tunnel_table').dataTable().fnAddData([
             pallet.pallet_code,
             pallet.pack_type_id,
             pallet.gross_weight,
             "<a onclick='delete_row(this);'>Eliminar</a>"
          ]);   
        }
      });
      if (!flag){
        $("#error_label").text("Ingrese un código válido");
      }
       
      $("#code_pallet").val("");
    });
  }

function add_pallets(){
  var p_temperature = $("#frozen_tunnel_temperature").val();
  var p_order_number = $("#frozen_tunnel_order_number").val();
  var p_worker_id = $("#frozen_tunnel__worker_id").val();
  var p_direction = $('input[name="frozen_tunnel_[direction]"]:checked').val();
  
  $('#tunnel_table tbody tr').each(function(index){
     var code = $(this).find("td").eq(0).text();
     $.get("/packing_pallets.json", function(pallets) {
       $.each(pallets, function(index, pallet){
        if (pallet.pallet_code == code) {
          p_packing_pallet_id = pallet.id;
          $.ajax({
              url: "/frozen_tunnel_/",
              type: "POST",
                data: {frozen_tunnel:{ temperature: p_temperature,
                                            order_number: p_order_number,
                                            direction: p_direction,
                                            worker_id: p_worker_id,
                                            packing_pallet_id: p_packing_pallet_id}
                      }                      
            }).done(function(){
              window.location = "/frozen_tunnels"
            });
        }
       });
     });
  });
}

</script>

<div class="box">


  <div class="headContent">
    <h1>Agregar Pallet</h1>
  </div>
  <div class="box">

    <div class="line-forme">
      <div class="forme-lab">
        <label> 
          Pallet
        </label>  
      </div>
      <div class="forme-in">
        <%= text_field(:code, :pallet)%>
      </div>
      <div class="forme-in">
        <label id="error_label">
        </label>
      </div>
    </div>

    <table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="tunnel_table">
      <thead>
        <tr>    
          <th>Código de Pallet</th>
          <th>Tipo de Pack</th>
          <th>Peso Bruto</th>  
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>

  </div>
  <div class="foot-box">
  <%= button_tag "Agregar Pallet" , :class => "button green alignright", :onclick => "add_pallet();"%>
  </div>
<br>

<%= form_for(@frozen_tunnel) do |f| %>
  <% if @frozen_tunnel.errors.any? %>
    <div id="error_explanation">
      <h2><%= @frozen_tunnel.errors.count > 1 ? "#{@frozen_tunnel.errors.count} errores." : "#{@frozen_tunnel.errors.count} error." %> no se puede guardar la cámara de producto en tránsito:</h2>
      <ul>
      <% @frozen_tunnel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="line-forme">
    <div class="forme-lab">
      <label> 
        Número de Orden
      </label>  
    </div>
    <div class="forme-in">
      <%= f.text_field :order_number %>
    </div>
  </div>

  <div class="line-forme">
    <div class="forme-lab">
      <label> 
        Tunel
      </label>  
    </div>
    <div class="forme-in">
      <% tunnels_array = Tunnel.all.map { |t| [t.name, t.id] } %>
      <%= f.select(:tunnel_id, tunnels_array, :prompt => "Seleccione un Tunel") %>      
    </div>
  </div>


</div>
<% end %>
<div class="foot-box">
    <%= link_to 'Cancelar', transit_chamber_ios_path , :class => "button silver alignright" %>
    <%= button_tag "Agregar" , :class => "button green alignright", :onclick => "add_pallets();"%>
  </div>