<p id="notice"><%= notice %></p>

<p>
  <b>Order number:</b>
  <%= @frozen_tunnel.order_number %>
</p>

<p>
  <b>Tunnel:</b>
  <%= @frozen_tunnel.tunnel_id %>
</p>

<p>
  <b>Tunnel temperature:</b>
  <%= @frozen_tunnel.tunnel_temperature %>
</p>

<p>
  <b>Packing pallet temperature:</b>
  <%= @frozen_tunnel.packing_pallet_temperature %>
</p>


<%= link_to 'Edit', edit_frozen_tunnel_path(@frozen_tunnel) %> |
<%= link_to 'Back', frozen_tunnels_path %>
