<div class="headContent">
  <h1>Lista de Configuraciones</h1>
</div>
<div class="box">
  <div class="newTopBanner">
    <%= link_to 'Nueva Configuracion', new_setting_path , :class => "button blue alignright" %>
  </div>

  <p id="notice" class="alignleft"><%= notice %> </p>

    <div class="line-forme">
      <div class="forme-lab">
        <label><b>Esquema de trabajo:</b></label>
      </div>
        
      <div class="forme-in">
        <% settings_array = Setting.all.map { |setting| [setting.key] }%>
        <% last = (settings_array[settings_array.size - 1][0]).to_s %>
        
        <% if (last == 'pack') %>
          <label>Sólo Bandejas</label>        
        <% elsif (last == 'pallet')%>
          <label>Sólo Pallets</label>
        <% else %>
          <label>Esquema Mixto</label>
        <%end%>

        <td><%= link_to 'Ver', @settings.last %></td>
        <td><%= link_to 'Editar', edit_setting_path(@settings.last) %></td>
        <td><%= link_to 'Eliminar', @settings.last, method: :delete, data: { confirm: '¿Está seguro de eliminar esta configuración?' } %></td>

      </div>
    </div>

</div>






