<div class="headContent">
  <h1>Lista de Calidades</h1>
</div>
<div class="box">
  <div class="newTopBanner">
    <%= link_to 'Nueva Calidad', new_quality_path , :class => "button blue alignright" %>
  </div>

  <p id="notice" class="alignleft"><%= notice %> </p>

  <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th style="width:20% !important;">Acciones</th>
      </tr>
    </thead>
  <tbody>
  <% @qualities.each do |quality| %>
  <tr>
    <td><%= quality.name %></td>
    <td><%= link_to 'Ver', quality %>
    <%= link_to 'Editar', edit_quality_path(quality) %>
    <%= link_to 'Eliminar', quality, method: :delete, data: { confirm: '¿Está seguro de eliminar esta calidad?' } %></td>
  </tr>
<% end %>
    </tbody>
  </table>

</div>