<script type="text/javascript">
  function show_rut(s) {

    if(s.value == "")
    {      
      $('#rut').val("-"); 
      $('#codigo').val("-");
    }
    
    $.get("/destinations/"+s.value+".json", function(data) {
     $('#rut').val(data.rut); 
     $('#codigo').val(data.code);
   });
  }

  function add_register()
  {

    var work_model = get_work_model();

    var variety_id = $("#select_variety").val();    
    var variety_name = $("#select_variety option[value='"+variety_id+"']").text();

    //show_kind(document.getElementById("select_variety"));

    var quality_id = $("#select_quality").val();
    var quality_name = $("#select_quality option[value='"+quality_id+"']").text();
  
    //La tabla se llena sólo si el esquema de trabajo incluye pallets.
    if((work_model == 'pallet') || (work_model == 'pack_pallet'))
    {
      if((variety_id != '') && (quality_id != ''))
      {
        $.get("/pallets.json", function(data) { 
          var variety_id = $("#select_variety").val(); 
          var quality_id = $("#select_quality").val();          
          var encontrado = false;
         for (var i = data.length - 1; i >= 0; i--) {
          if((data[i]["variety_id"]==variety_id) && (data[i]["variety_id"]==quality_id)){  
      
            var pack_type_tare = get_pack_type_tare(data[i]["pack_type_id"]);          
            var net_weight = data[i]["gross_weight"] - (pack_type_tare * data[i]["quantity"]) - data[i]["tare"];                   
            var row = new Array(data[i]["code"], data[i]["quantity"], net_weight, "<a onclick='delete_row(this);'>Eliminar</a>"); 

            //Validar que no esté en la tabla
            
            var nNodes = $('#table_register').dataTable().fnGetNodes( );

            /*
            for (var i = nNodes.length - 1; i >= 0; i--) {
              var val = nNodes[i].cells[0].innerHTML;
              if(val != row[0])
              {
                $('#table_register').dataTable().fnAddData(row);
              }
            }; 
            
            if(nNodes.length == 0 )
            {
              $('#table_register').dataTable().fnAddData(row);
            } 
            */ 

            $('#table_register').dataTable().fnAddData(row);

            encontrado = true;                     
          }
         };
         if(encontrado == false)
         {
            $('#table_register').dataTable().fnClearTable();
         }

        }); 
      }
    }
    
  }

  function get_pack_type_tare (pack_type_id) {
    $.ajax({
      url: "/pack_types.json",
      dataType: 'json',
      async: false,
      success: function(data){
          $.each(data,function(index, value){
            if(value.id == pack_type_id)
            {
              tare = value.tare;
            }
          });
      }
    });
    return tare;
  }

  //Obtiene el modelo de trabajo
  function get_work_model () {
    $.ajax({
      url: "/settings.json",
      dataType: 'json',
      async: false,
      success: function(data){
        work_model = data[data.length -1]["key"];
      }
    });
    return work_model;
  }

  function delete_row(button)
  {
    var currentRow = $(button).closest('tr');
    $('#table_register').dataTable().fnDeleteRow(currentRow[0]);
  }

  function show_variety(s)
  { 
    $('#table_register').dataTable().fnClearTable();  
    if (s.value != '')
    {
      $.get("/varieties.json", function(data) {         
        var options = '<option value>- Seleccione variedad -</option>';
        $.each(data, function(i, item){ 
          if(item.kind_id == s.value){
            options += '<option value="' + item.id + '">' + item.name + '</option>';
          }
        });
        $("#select_variety").html(options);
      });
    }
    else
    {
      $.get("/varieties.json", function(data) {         
        var options = '<option value>- Seleccione variedad -</option>';
        $.each(data, function(i, item){           
          options += '<option value="' + item.id + '">' + item.name + '</option>';        
        });
        $("#select_variety").html(options);
      });

    }
    
  }

  function show_kind(s)
  {   
    $('#table_register').dataTable().fnClearTable(); 
    if (s.value != '')
    {
      $.get("/kinds.json", function(data) {         
        var options = '<option value>- Seleccione especie -</option>';
        $.each(data, function(i, item){ 
          $.get("/varieties/"+s.value+".json", function(variety)
            {
              if(item.id == variety.kind_id){
                options += '<option value="' + item.id + '" selected>' + item.name + '</option>';
              }
              else
              {
                options += '<option value="' + item.id + '">' + item.name + '</option>';
              }
              $("#select_kind").html(options);
            });
            
        });
        
      });
    }
    else
    {
      $.get("/kinds.json", function(data) {         
        var options = '<option value>- Seleccione especie -</option>';
        $.each(data, function(i, item){          
          options += '<option value="' + item.id + '">' + item.name + '</option>';
        
        });
        $("#select_kind").html(options);
        
      });
    }
    
  }



  
</script>

<script type="text/javascript">
  function search_rut(s) {   
      
    if(s.value=="")
    {           
      $('#select_destination').val("");
      $('#rut').val("-");      
      $('#codigo').val("-");
    }

    else
    {      
      $.get("/destinations.json", function(data) {       
       
       var encontrado = false;       
       
       for (var i = data.length - 1; i >= 0; i--) {
        if(data[i]["rut"]==s.value){
          $('#rut').val(s.value); 
          $('#select_destination').val([data[i]["name"], data[i]["id"]]);
          $('#codigo').val(data[i]["code"]); 
          encontrado = true;                  
        }
       };
       if(!encontrado)
       {
          $('#select_destination').val("");
          $('#rut').val("-");      
          $('#codigo').val("-");
       }

      });      
  }  
}
</script>

<script type="text/javascript">
  function search_code(s) {   
      
    if(s.value=="")
    {           
      $('#select_destination').val("");
      $('#rut').val("-");      
      $('#codigo').val("-");
    }

    else
    {      
      $.get("/destinations.json", function(data) {       
       
       var encontrado = false;       
       
       for (var i = data.length - 1; i >= 0; i--) {
        if(data[i]["code"]==s.value){
          $('#rut').val(data[i]["rut"]); 
          $('#select_destination').val([data[i]["name"], data[i]["id"]]);
          $('#codigo').val(s.value);
          encontrado = true;                  
        }
       };
       if(!encontrado)
       {
          $('#select_destination').val("");
          $('#rut').val("-");      
          $('#codigo').val("-");
       }
             
      });      
  }  
}
</script>




<div class="box">
<%= form_for(@dispatch) do |f| %>
  <% if @dispatch.errors.any? %>
    <div id="error_explanation">
      <h2><%= @dispatch.errors.count > 1 ? "#{@dispatch.errors.count} errores." : "#{@dispatch.errors.count} error." %> No se puede guardar el despacho:</h2>
      <ul>
      <% @dispatch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "contentSubPanel">
    
    <div class="line-forme">
      <div class="forme-lab">
        <label>Destino </label>
        <em class="formee-req">*</em>
      </div>    
      <div class="forme-in">
        <% @options = Destination.all.map { |d| [d.name, d.id] } %>
        <%= f.select(:destination_id, options_for_select(@options), {:selected => :prompt, :prompt => '- Seleccione destino - '} , :id => 'select_destination', :onchange => "show_rut(this)") %>  
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Rut Destino </label>
        <em class="formee-req">*</em>
      </div>    
      <div class="forme-in">
        <input type="text" value="-" id="rut" onblur="search_rut(this)">
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Código Destino </label>
        <em class="formee-req">*</em>
      </div>
    
      <div class="forme-in">
        <input type="text" value="-" id="codigo" onblur="search_code(this)">
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Especie </label>
        <em class="formee-req">*</em>
      </div>    
      <div class="forme-in">
        <% @options = Kind.all.map { |k| [k.name, k.id] } %>
        <%= f.select(:kind_id, options_for_select(@options), {:selected => :prompt, :prompt => '- Seleccione especie - '} , :id => "select_kind", :onchange => "show_variety(this); add_register();") %>
      </div>    
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Fecha/Hora </label>
        <em class="formee-req">*</em>
      </div>    
      <div>
        <%= f.datetime_select :dispatch_datetime %>
      </div>    
    </div>

  </div> 

  <div class = "contentSubPanel">
    <div class="headContent">
      <h1>Registrar</h1>
    </div>
    <div class="box">
    
      <div class="line-forme">
        <div class="forme-lab">
          <label>Variedad</label>
          <em class="formee-req">*</em>
        </div>
        <div class="forme-in">
          <% @options_varieties = Variety.all.map { |variety| [variety.name, variety.id] } %>

          <%= select_tag "select_variety", options_for_select(@options_varieties), :prompt => '- Seleccione variedad - ', :id => "select_variety", :onchange => "add_register(); show_kind(this);"%>         
          

        </div>
      </div>

      <div class="line-forme">
        <div class="forme-lab">
          <label>Calidad</label>
          <em class="formee-req">*</em>
        </div>
        <div class="forme-in">
          <% @options_quality = Quality.all.map { |quality| [quality.name, quality.id] } %>
          <%= select_tag "select_quality", options_for_select(@options_quality), :prompt => '- Seleccione calidad - ', :onchange => "add_register()"%>
          
        </div>      
      </div>

      <table cellpadding="0" cellspacing="0" border="0" id="table_register" class="display datatable">
        <thead>
          <tr>
            <th style="width:20% !important;">Código Pallet</th>
            <th>N° Envases</th>
            <th>Peso Neto (Kg)</th>
            <th style="width:20% !important;">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <!-- Llenar tabla solamente si el esquema seleccionado incluye pallets-->
          
        </tbody>
      </table>

      <input type="button" value="Agregar" id="agregar" name="agregar" language="javascript">  

    

      <div class="line-forme">
        <div class="forme-lab">
          <label>Tipo Envase:</label>
        </div>
        <div class="forme-in">
          <% @options_pack_type = PackType.all.map { |pack_type| [pack_type.name, pack_type.id] } %>
          <%= select_tag "quality", options_for_select(@options_pack_type), :prompt => '- Seleccione envase - ' %>
        </div>
      </div>

      <div class="line-forme">
        <div class="forme-lab">
          <label>Envases en Stock:</label>
        </div>
        <div class="forme-in">
          <%= text_field_tag 'packs_in_stock'%>          
        </div>
      </div>

      <div class="line-forme">
        <div class="forme-lab">
          <label>Envases a Despachar:</label>
        </div>
        <div class="forme-in">
          <%= text_field_tag 'packs_to_dispatch'%>
        </div>
      </div>

      <div class="line-forme">
        <div class="forme-lab">
          <label>Peso Bruto (Kg):</label>
        </div>
        <div class="forme-in">
          <%= text_field_tag 'gross_weight'%>
        </div>
      </div>

      <input type="button" value="Agregar" id="agregar" name="agregar" language="javascript"> 

      

    </div>
  </div>

  <!-- Detalle -->
    <div class = "contentSubPanel">
    <div class="headContent">
      <h1>Detalle</h1>
    </div>
    <div class="box">
    
      <table cellpadding="0" cellspacing="0" border="0" id="tablealone" class="display datatable">
        <thead>
          <tr>
            <th>Variedad</th>
            <th>Calidad</th>
            <th style="width:20% !important;">Código Pallet</th>
            <th>N° Envases</th>
            <th>Peso Neto (Kg)</th>
            <th style="width:20% !important;">Acciones</th>
          </tr>
        </thead>

        <tbody>
          
          
        </tbody>
      </table>

    </div>
  </div>


  <br>
  <label> (
  <em class="formee-req">*</em>
  </label> ) Campos obligatorios.

</div>

<div class="foot-box">
  <div class="line-forme">
    <div class="forme-lab">
      <label>Número Despacho:</label>
    </div>
  
    <div class="forme-in">
      <% dispatchs_array = Dispatch.all.map { |dispatch| [dispatch.code] }%>
      <% if (dispatchs_array.size == 0) %>
        <%= f.text_field(:code, :value => '1', :readonly => true)%>
      <% else %>
        <%= f.text_field(:code, :value => (Integer((dispatchs_array[dispatchs_array.size - 1])[0])+1).to_s, :readonly => true)%>
      <%end%>
    </div>


    <%= link_to 'Cancelar', dispatches_path , :class => "button silver alignright" %>
    <%= f.submit :Aceptar , :class => "button green alignright" %>
  </div>
</div>


<% end %>
