<script type="text/javascript">
var oTable = {}
var registers = new Array();
var id_count = 1;
var modified = false;

    $(function() {
      oTable = $('#tablealone').dataTable({
        "sPaginationType": "full_numbers",
        "bJQueryUI": true,
        "aoColumnDefs": [
          { "bSortable": false, "aTargets": [ -1 ] },
          { "bSearchable": false, "aTargets": [ -1 ]}
        ] } );

      $("#tablealone tbody").delegate("a", "click", function () {
          var parent = $(this).parent().parent().get( 0 );
          console.log(parent)
          var iPos = oTable.fnGetPosition(parent);
          if (iPos !== null) {
              oTable.fnDeleteRow(iPos);
              var name = $(this).attr("name");
              delete registers[name];
              console.log(name);
      }});


      $(".chzn-select").chosen().change(function() {
          var id = $(this).val();
          document.getElementById('select_destination').value = id;
          document.getElementById('select_rut').value = id;
          $('#select_destination').trigger('liszt:updated');
          $('#select_rut').trigger('liszt:updated');
      });
    });

    function show_rut(s) {
    if(s.value == "")
    {      
      $('#rut').val(""); 
      $('#codigo').val("");
      $('#codigo_sag').val("");
    }
    
    $.get("/producers/"+s.value+".json", function(data) {
     $('#rut').val(data.rut); 
     $('#codigo').val(data.code);
     $('#codigo_sag').val(data.sag_code);
   });
  }

  function checkedPallet() {
    if (check.checked == 0) {
      code.disabled=true;
      destare.disabled=true;
      $("#code").val("");
      $("#destare").val("");
    } 
    else{
      code.disabled=false;
      destare.disabled=false;
    };
  }

  function delete_row () {
    
  }

  window.onbeforeunload = function () {    
    if (modified) {
      return "Los cambios no guardados se perderan";
    }
  }

  function set_modified (argument) {
    modified = argument;
  }

  function register (variety_id, quality_id, price_kg, pack_type_id, quantity, gross_weight, code, tare, is_pallet, id) {
    this.variety_id = variety_id;
    this.quality_id = quality_id;
    this.price_kg = price_kg;
    this.pack_type_id = pack_type_id;
    this.quantity = quantity;
    this.gross_weight =gross_weight;
    this.code = code;
    this.tare = tare;
    this.is_pallet = is_pallet;
    this.id = id;
  }

  //arreglar code
  function post () {
    if(registers.length > 0)
    {
      //obtener datos de despacho
      var kind_id = $("#dispatch_kind_id").val();
      var destination_id = $("#select_destination").val();
      var code = $("#dispatch_code").val();

      //crear datetime
      var year = $("#dispatch_dispatch_datetime_1i").val();
      var month = $("#dispatch_dispatch_datetime_2i").val();
      var day = $("#dispatch_dispatch_datetime_3i").val();
      var hour = $("#dispatch_dispatch_datetime_4i").val();
      var minute = $("#dispatch_dispatch_datetime_5i").val();
      var dispatch_datetime = new Date(year, month, day, hour, minute);

      $.ajax({  
        url: "/dispatches",  
        type: "POST", 
        dataType: "json",
        async: false,
        data: { dispatch : {code: code, kind_id: kind_id, destination_id: destination_id, dispatch_datetime: dispatch_datetime } },
        success: function(data){ 
          add_registers_to(data.id);
        },  
        error: function(){  
          alert("Error al registrar despacho");  
        }  
      }); 
    }
    else
      alert("Lista de ingresos vacía");
  }

  function add_registers_to (dispatch_id) {
    for (var key in registers) {
      var register = registers[key];

      var code = register.code;
      var gross_weight = register.gross_weight;
      var pack_type_id = register.pack_type_id;
      var price_per_unit = register.price_kg;
      var quality_id = register.quality_id;
      var quantity = register.quantity;
      var tare = register.tare;
      var variety_id = register.variety_id;

      if(register.is_pallet){
        $.ajax({  
          url: "/pallets",  
          type: "POST", 
          dataType: "json",
          async: false,
          data: { pallet : {code: code, gross_weight: gross_weight, pack_type_id: pack_type_id, price_per_unit: price_per_unit, quality_id: quality_id, quantity: quantity, dispatch_id: dispatch_id, tare: tare, variety_id: variety_id} } }); 
      }
      else
      {
        $.ajax({  
          url: "/pack_group_dispatches",  
          type: "POST", 
          dataType: "json",
          async: false,
          data: { pack_group_dispatch : {gross_weight: gross_weight, pack_type_id: pack_type_id, quality_id: quality_id, quantity: quantity, dispatch_id: dispatch_id, variety_id: variety_id} } }); 
      }
    };
    set_modified(false);
    location.href = "/dispatches";
  }

  function get_pack_type_tare (pack_type_id) {
    $.ajax({
      url: "/pack_types.json",
      dataType: 'json',
      async: false,
      success: function(data){
          $.each(data,function(index, value){
            if(value.id == pack_type_id)
            {
              tare = value.tare;
            }
          });
      }
    });
    return tare;
  }

  function add_register()
  {
    var variety_id = $("#select_variety").val();
    var variety_name = $("#pallet_variety_id option[value='"+variety_id+"']").text();
    var quality_id = $("#pallet_quality_id").val();
    var quality_name = $("#pallet_quality_id option[value='"+quality_id+"']").text();
    var price_kg = $("#pallet_price_per_unit").val();
    var pack_type_id = $("#pallet_pack_type_id").val();
    var quantity = $("#pallet_quantity").val();
    var gross_weight = $("#pallet_gross_weight").val();
    var code = $("#code").val();
    var tare = $("#destare").val();

    var pack_type_tare = get_pack_type_tare(pack_type_id);

    var net_weight = gross_weight - (pack_type_tare * quantity) - tare;

    var is_pallet = $("#check").is(':checked'); //true pallet
    if(!is_pallet)
      code = "no aplica";
    var id = id_count;
    id_count++;


    var new_register = new register(variety_id, quality_id, price_kg, pack_type_id, quantity, gross_weight, code, tare, is_pallet, id);

    registers[id_count] = new_register;

    var row = new Array(code, quantity, net_weight, variety_name, quality_name, price_kg, "<a name="+id_count+"'>eliminar</a>");
    $('#tablealone').dataTable().fnAddData(row);
    set_modified(true);
  }
</script>

<script type="text/javascript">
  function search_rut(s) {   
      
    if(s.value=="")
    {           
      $('#select_producer').val("");
      $('#rut').val("-");
      $('#codigo').val("-");
      $('#codigo_sag').val("-");
    }

    else
    {      
      $.get("/producers.json", function(data) {       
       
       var encontrado = false;       
       
       for (var i = data.length - 1; i >= 0; i--) {
        if(data[i]["rut"]==s.value){
          $('#rut').val(s.value); 
          $('#select_producer').val([data[i]["name"], data[i]["id"]]);
          $('#codigo').val(data[i]["code"]);
          $('#codigo_sag').val(data[i]["sag_code"]);  
          encontrado = true;                  
        }
       };
       if(!encontrado)
       {
          $('#select_producer').val("");
          $('#rut').val("-");      
          $('#codigo').val("-");
          $('#codigo_sag').val("-");
       }

      });      
  }  
}
</script>

<script type="text/javascript">
  function show_variety(s)
  { 
      
    if (s.value != '')
    {
      $.get("/varieties.json", function(data) {         
        var options = '<option value>- Seleccione variedad -</option>';
        $.each(data, function(i, item){ 
          if(item.kind_id == s.value){
            options += '<option value="' + item.id + '">' + item.name + '</option>';
          }
        });
        $("#select_variety").html(options);
      });
    }
    
  }

</script>

<script type="text/javascript">
  function isInteger(possibleInteger) {
    return !isNaN(parseInt(possibleInteger));
  }

  function errors_revision () {
    var variety_id = $("#select_variety").val();   
    var quality_id = $("#pallet_quality_id").val();
    var price_kg = $("#pallet_price_per_unit").val();
    var pack_type_id = $("#pallet_pack_type_id").val();
    var quantity = $("#pallet_quantity").val();
    var gross_weight = $("#pallet_gross_weight").val();
    var code = $("#code").val();
    var tare = $("#destare").val();
    
    $("#variety_div").removeClass("field_with_errors");
    $("#quality_div").removeClass("field_with_errors");
    $("#price_per_unit_div").removeClass("field_with_errors");
    $("#pack_type_id_div").removeClass("field_with_errors");
    $("#quantity_div").removeClass("field_with_errors");
    $("#gross_weight_div").removeClass("field_with_errors");
    $("#code_div").removeClass("field_with_errors");
    $("#tare_div").removeClass("field_with_errors");

    var errorText = "<div id=error_explanation>";
    var isError = false;
    var contador_errores = 0;
    var errors = "";

    if(variety_id == ""){
      $("#variety_div").addClass("field_with_errors");
      errors = errors + "<li>Variedad no puede estar en blanco</li>";
      contador_errores += 1;
      isError = true;
    }

    if(quality_id == ""){
      $("#quality_div").addClass("field_with_errors");
      errors = errors + "<li>Calidad no puede estar en blanco</li>";
      contador_errores += 1;
      isError = true;
    }

    if(price_kg == ""){
      $("#price_per_unit_div").addClass("field_with_errors");
      errors = errors + "<li>Precio por Kg no puede estar en blanco</li>";
      contador_errores += 1;
      isError = true;
    }

    if(!isInteger(price_kg)){
      $("#price_per_unit_div").addClass("field_with_errors");
      errors = errors + "<li>Precio por Kg no es un número</li>";
      contador_errores += 1;
      isError = true;
    }

    if(pack_type_id == ""){
      $("#pack_type_id_div").addClass("field_with_errors");
      errors = errors + "<li>Tipo de Envase no puede estar en blanco</li>";
      contador_errores += 1;
      isError = true;
    }

    if(quantity == ""){
      $("#quantity_div").addClass("field_with_errors");
      errors = errors + "<li>Cantidad de Envases no puede estar en blanco</li>";
      contador_errores += 1;
      isError = true;
    }

    if(!isInteger(quantity)){
      $("#quantity_div").addClass("field_with_errors");
      errors = errors + "<li>Cantidad de Envases no es un número</li>";
      contador_errores += 1;
      isError = true;
    }

    if(gross_weight == ""){
      $("#gross_weight_div").addClass("field_with_errors");
      errors = errors + "<li>Peso Bruto no puede estar en blanco</li>";
      contador_errores += 1;
      isError = true;
    }

    if(!isInteger(gross_weight)){
      $("#gross_weight_div").addClass("field_with_errors");
      errors = errors + "<li>Peso Bruto no es un número</li>";
      contador_errores += 1;
      isError = true;
    }

    if (check.checked == 1) {
      if(code == ""){
        $("#code_div").addClass("field_with_errors");
        errors = errors + "<li>Código Pallet no puede estar en blanco</li>";
        contador_errores += 1;
        isError = true;
      }

      if(!isInteger(code)){
        $("#code_div").addClass("field_with_errors");
        errors = errors + "<li>Código no es un número</li>";
        contador_errores += 1;
        isError = true;
      }

      if(tare == ""){
        $("#tare_div").addClass("field_with_errors");
        errors = errors + "<li>Destare Pallet no puede estar en blanco</li>";
        contador_errores += 1;
        isError = true;
      }   

      if(!isInteger(tare)){
        $("#tare_div").addClass("field_with_errors");
        errors = errors + "<li>Destare Pallet no es un número</li>";
        contador_errores += 1;
        isError = true;
      }
    }

    if(isError){
      errorText+= "<h2>"+contador_errores+" errores, no se puede guardar el pallet o envase";
      errorText+= "<ul>";
      errorText+= errors;
      errorText+= "</ul>";
      errorText+= "</div>";  
      document.getElementById("show_errors").innerHTML = errorText;
    }
    else{
      add_register();
    }
  }
</script>


<div class="box">
<%= form_for(@dispatch) do |f| %>
  <% if @dispatch.errors.any? %>
    <div id="error_explanation">
      <h2><%= @dispatch.errors.count > 1 ? "#{@dispatch.errors.count} errores." : "#{@dispatch.errors.count} error." %> No se puede guardar el despacho:</h2>
      <ul>
      <% @dispatch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "contentSubPanel">
    
    <div class="line-forme">
      <div class="forme-lab">
        <label>Destino </label>
        <em class="formee-req">*</em>
      </div>    
      <div class="forme-in">
        <% @options = Destination.all.map { |d| [d.name, d.id] } %>
        <%= f.select(:destination_id, options_for_select(@options), {:selected => :prompt, :prompt => '- Seleccione destino - '} , :id => 'select_destination',:onchange => "show_rut(this)", :class => 'chzn-select') %>  
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Rut Destino </label>
        <em class="formee-req">*</em>
      </div>    
      <div class="forme-in">

        <% @options = Destination.all.map { |d| [d.rut, d.id] } %>
        <%= f.select(:destination_id, options_for_select(@options), {:selected => :prompt, :prompt => '- Seleccione Rut de destino - '} , :id => 'select_rut',:onchange => "show_rut(this)", :class => 'chzn-select') %>  
        
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Especie </label>
        <em class="formee-req">*</em>
      </div>    
      <div class="forme-in">
        <% @options = Kind.all.map { |k| [k.name, k.id] } %>
        <%= f.select(:kind_id, options_for_select(@options), {:selected => :prompt, :prompt => '- Seleccione especie - '} , :onchange => "show_rut(this)") %>
      </div>    
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Fecha de Despacho </label>
        <em class="formee-req">*</em>
      </div>    
      <div>
        <%= f.datetime_select :dispatch_datetime %>
      </div>    
    </div>
    <label> (
      <em class="formee-req">*</em>
    </label> ) Campos obligatorios.

  </div>  

  <div class = "contentSubPanel">
    <div class="headContent">
      <h1>Registrar</h1>
    </div>
    <div class="box">

      <div id = "show_errors">

      </div>


      <%= form_for([@pallet], :url => pallets_path) do |f| %>

        <% if @pallet.errors.any? %>
          <div id="error_explanation">
            <h2><%= @pallet.errors.count > 1 ? "#{@pallet.errors.count} errores." : "#{@pallet.errors.count} error." %> No se puede guardar el pallet:</h2>

            <ul>
            <% @pallet.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="line-forme">
          <div class="forme-lab">
            <label>Variedad</label>
            <em class="formee-req">*</em>
          </div>
          <div class="forme-in">
            <div id="variety_div">
              <% @options_varieties = Variety.all.map { |variety| [variety.name, variety.id] } %>
              <%= f.select(:variety_id, options_for_select(@options_varieties), {:selected => :prompt, :prompt => '- Seleccione variedad - '} , :id => 'select_variety') %> 
            </div>
          </div>
        </div>

        <div class="line-forme">
          <div class="forme-lab">
            <label>Calidad</label>
            <em class="formee-req">*</em>
          </div>
          <div class="forme-in">
            <div id="quality_div">
              <% quality_array = Quality.all.map { |quality| [quality.name, quality.id] } %>
              <%= f.select(:quality_id, quality_array, :selected => :prompt, :prompt => '- Seleccione calidad -')  %>
            </div>
          </div>
        </div>

        <div class="line-forme">
          <div class="forme-lab">
            <label>Precio por Kg ($)</label>
            <em class="formee-req">*</em>
          </div>
          <div class="forme-in">
            <div id="price_per_unit_div">
              <%= f.text_field :price_per_unit %>
            </div>
          </div>
        </div>

        <div class="line-forme">
          <div class="forme-lab">
            <label>Tipo Envase</label>
            <em class="formee-req">*</em>
          </div>
          <div class="forme-in">
            <div id="pack_type_id_div">
              <% pack_type_array = PackType.all.map { |pack_type| [pack_type.name, pack_type.id] } %>
              <%= f.select(:pack_type_id, pack_type_array , :selected => :prompt, :prompt => '- Seleccione envase -')  %>
            </div>
          </div>
        </div>

        <div class="line-forme">
          <div class="forme-lab">
            <label>Cantidad Envases</label>
            <em class="formee-req">*</em>
          </div>
          <div class="forme-in">
            <div id="quantity_div">
              <%= f.text_field :quantity %>
            </div>
          </div>
        </div>

        <div class="line-forme">
          <div class="forme-lab">
            <label>Peso Bruto (Kg)</label>
            <em class="formee-req">*</em>
          </div>
          <div class="forme-in">
            <div id="gross_weight_div">
              <%= f.text_field :gross_weight %>
            </div>
          </div>
        </div>

        <div class="line-forme">
          <div class="forme-lab">
            <label>¿Trabajar con Pallet?</label>
          </div>
          <div class="forme-in">
              <input type="checkbox" id="check" class="check" value="¿Trabajar con Pallet?" checked onClick="checkedPallet()" />          
          </div>
        </div>
        
        <div class="line-forme">
          <div class="forme-lab">
            <label>Código Pallet</label>
            <em class="formee-req">*</em>
          </div>
          <div class="forme-in">
            <div id="code_div">
              <%= f.text_field :code, :id=>"code"%>
            </div>
          </div>
        </div>

        <div class="line-forme">
          <div class="forme-lab">
            <label>Destare Pallet</label>
            <em class="formee-req">*</em>
          </div>
          <div class="forme-in">
            <div id="tare_div">
              <%= f.text_field :tare, :id=>"destare"%>
            </div>
          </div>
        </div>
        <label> (
          <em class="formee-req">*</em>
        </label> ) Campos obligatorios.
        <div class = "newTopBanner">
          <input type="button" value="Agregar Pallet" id="agregar" name="agregar" class="button blue alignright" language="javascript" onClick='errors_revision()'>
        </div>
    </div> 
  </div>  


  <div class = "contentSubPanel">
    <div class="headContent">
      <h1>Detalle</h1>
    </div>

    <div class="box"> 
      <table cellpadding="0" cellspacing="0" border="0" id="tablealone" class="display">
        <thead>
          <tr>
            <th style="width:20% !important;">Código Pallet</th>
            <th>N° Envases</th>
            <th>Peso Neto (Kg)</th>
            <th>Variedad</th>
            <th>Calidad</th>
            <th>Precio</th>
            <th style="width:20% !important;">Acciones</th>
          </tr>
        </thead>

        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>

</div>
<% end %>

<div class="foot-box">
  <div class="line-forme">
    <div class="forme-lab">
      <label>Número Despacho:</label>
    </div>
  
    <div class="forme-in">
      <% dispatchs_array = Dispatch.all.map { |dispatch| [dispatch.code] }%>
      <% if (dispatchs_array.size == 0) %>
        <%= f.text_field(:code, :value => '1', :readonly => true)%>
      <% else %>
        <%= f.text_field(:code, :value => (Integer((dispatchs_array[dispatchs_array.size - 1])[0])+1).to_s, :readonly => true)%>
      <%end%>
    </div>


    <%= link_to 'Cancelar', dispatches_path , :class => "button silver alignright" %>
    <%= f.submit :Aceptar, :class => "button green alignright", :onClick => 'post()' %>
  </div>
</div>


<% end %>
