<h1>Listing dispatches</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Destination</th>
    <th>Kind</th>
    <th>Date</th>
    <th>Hour</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dispatches.each do |dispatch| %>
  <tr>
    <td><%= dispatch.code %></td>
    <td><%= dispatch.destination_id %></td>
    <td><%= dispatch.kind_id %></td>
    <td><%= dispatch.date %></td>
    <td><%= dispatch.hour %></td>
    <td><%= link_to 'Show', dispatch %></td>
    <td><%= link_to 'Edit', edit_dispatch_path(dispatch) %></td>
    <td><%= link_to 'Destroy', dispatch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dispatch', new_dispatch_path %>
