<div class="headContent">
  <h1>Lista de Despachos</h1>
</div>
<div class="box">
  <% if (Season.all(:select => "id", :conditions => ["is_active= ? and is_delete = ?", 1,0]))[0] != nil %>
    <%= link_to 'Nuevo despacho', new_dispatch_path , :class => "button blue alignright" %>
  <% else %>
    <%= 'No hay temporada activa' %>
<% end %>

  <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
    <thead>
      <tr>
        <th>Orden Nº</th>
        <th style="width:20% !important;">Destino</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Producto</th>
        <th style="width:20% !important;">Acciones</th>
      </tr>
     </thead> 
     <tbody>
      <% @dispatches.each do |dispatch| %>

          <tr>
            <td><%= dispatch.id %></td>
            <td><%= (Destination.all(:select => "name", :conditions => ["id = ?",dispatch.destination_id]))[0].name %></td>
            <td><%= dispatch.dispatch_datetime.strftime('%d/%m/%Y') %></td>
            <td><%= dispatch.dispatch_datetime.strftime('%H:%M:%S') %></td>
            <td><%= (Kind.all(:select => "name", :conditions => ["id = ?",dispatch.kind_id]))[0].name %></td>
            <% count = 0 %>
            <% dispatch.pallets.each do |pallet| %>
              <% count += 1 %>
            <% end %>
            <% dispatch.pack_group_dispatches.each do |pack_group_dispatch| %>
              <% count += 1 %>
            <% end %>
            <td>
            <%= link_to 'Editar', edit_dispatch_path(dispatch) %>
            <% if count == 0 %>
              <%= link_to 'Eliminar', dispatch, method: :delete, data: { confirm: '¿Está seguro de eliminar este despacho?'} %>
              <% else %>
                <a href="/dispatches/<%= dispatch.id %>.pdf">PDF</a>
              <% end %>
            </td>
          </tr>   
                           
      <% end %>
      </tbody>
  </table>
</div>