<script type="text/javascript">

function add_pallets(){

  var dia = $("#store_finish_product_io_datetime_3i").val();
  var mes = $("#store_finish_product_io_datetime_2i").val();
  var anio = $("#store_finish_product_io_datetime_1i").val();
  var hora = $("#store_finish_product_io_datetime_4i").val();
  var minuto = $("#store_finish_product_io_datetime_5i").val();

  var p_io_datetime = anio+"-"+mes+"-"+dia+" "+hora+":"+minuto;
  var p_direction = $('input[name="store_finish_product[direction]"]:checked').val();
  var p_worker_id = $("#store_finish_product_worker_id").val();


  $('#chamber_table tbody tr').each(function(index){
     var code = $(this).find("td").eq(0).text();
     $.get("/final_packing_pallets.json", function(pallets) {
       $.each(pallets, function(index, pallet){

        if (pallet.id == code) {

          p_packing_pallet_id = pallet.id;
          $.ajax({
              url: "/store_finish_products/",
              type: "POST",
                data: {store_finish_product:{ io_datetime: p_io_datetime,
                                                 direction: p_direction,
                                                 worker_id: p_worker_id,
                                                 packing_pallet_id: p_packing_pallet_id}
                      }                      
            }).done(function(){
              window.location = "/store_finish_products"
            });
        }
       });
     });
  });
}

function add_pallet (){
    $("#error_label").text("");
    $.get("/final_packing_pallets.json", function(pallets) {
      flag = false;
      $.each(pallets, function(index, pallet){
        if (pallet.id == $("#code_pallet").val()) {
          flag = true;
          $('#chamber_table').dataTable().fnAddData([
             pallet.id,
             pallet.kind_id,
             pallet.quality_id,
             "<a onclick='delete_row(this);'>Eliminar</a>"
          ]);   
        }
      });
      if (!flag){
        $("#error_label").text("Ingrese un código válido");
      }
       
      $("#code_pallet").val("");
    });
  }


function delete_row(button)
{
  var currentRow = $(button).closest('tr');
  $("#chamber_table").dataTable().fnDeleteRow(currentRow[0]);
}


</script>

<div class="box">
<%= form_for(@store_finish_product) do |f| %>
  <% if @store_finish_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_finish_product.errors.count, "error") %> prohibited this store_finish_product from being saved:</h2>

      <ul>
      <% @store_finish_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="line-forme">
    <div class="forme-lab">
      <label>Tiempo de Entrada</label>
      <em class="formee-req">*</em>
    </div>
      <%= f.datetime_select :io_datetime %>
  </div>

  <div class="line-forme">
    <div class="forme-lab">
      <label>Encargado</label>
      <em class="formee-req">*</em>
    </div>
    <div class="forme-in">
      <% @options = Worker.all.map { |w| [w.first_name, w.id]} %>
        <%= f.select(:worker_id, options_for_select(@options), {:selected => :prompt, :prompt => '- Seleccione trabajador - '}, :class => 'chzn-select') %>
    </div>
  </div>

  <div class="line-forme">
    <div class="forme-lab">
      <label> 
        Tipo
      </label>  
    </div>
    <div class="forme-in">
      <%= f.radio_button(:direction, true) %>
        <%= label_tag(:label1, "Entrada") %>
        <%= f.radio_button(:direction,false) %>
        <%= label_tag(:label1, "Salida") %>
    </div>
  </div>

<% end %>
  <div class="headContent">
    <h1>Agregar Pallet</h1>
  </div>
  <div class="box">

    <div class="line-forme">
      <div class="forme-lab">
        <label> Pallet</label>  
      </div>
      <div class="forme-in">
        <%= text_field(:code, :pallet)%> 
      </div>

      <div class="forme-in">
        <label id="error_label", style="color: red;"></label>
      </div>
      <%= button_tag "Agregar Pallet" , :class => "button blue alignright", :onclick => "add_pallet()"%>
    </div>

    <table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="chamber_table">
      <thead>
        <tr>    
          <th>Código de Pallet</th>
          <th>Tipo de Pack</th>
          <th>Peso Bruto</th>  
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>

  </div>

</div>
<div class="foot-box">
    <%= link_to 'Cancelar', transit_chamber_ios_path , :class => "button silver alignright" %>
    <%= button_tag "Agregar" , :class => "button green alignright", :onclick => "add_pallets();"%>
</div>

