<div class="headContent">
  <h1>Lista de Bodega de Productos terminados</h1>
</div>
<div class="box">
  <%= link_to 'Nueva Bodega de Prodcuto Terminado', new_store_finish_product_path , :class => "button blue alignright" %>

  <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
    <thead>
      <tr>
        <th>Tiempo Entrada</th>
        <th>Tiempo Salida</th>
        <th>Tiempo en Bodega</th>
        <th>Encargado</th>
        <th style="width:20% !important;">Acciones</th>
      </tr>
    </thead>
  <tbody>
  <% @store_finish_products.each do |store_finish_product| %>
  <tr>
    <td><%= store_finish_product.io_datetime %></td>
    <td><%= store_finish_product.time_out%></td>
    <td><%= store_finish_product.store_time%></td>
    <td><%= store_finish_product.worker_id%></td>

    <td><%= link_to 'Ver', store_finish_product %>
    <%= link_to 'Editar', edit_store_finish_product_path(store_finish_product) %>
    <%= link_to 'Eliminar', store_finish_product, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el registro?' } %></td>
  </tr>
<% end %>
    </tbody>
  </table>

</div>
