<h1>Listing empty_packs_producer_moves</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Producer</th>
    <th>Pack type</th>
    <th>Quantity</th>
    <th>Pack option</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @empty_packs_producer_moves.each do |empty_packs_producer_move| %>
  <tr>
    <td><%= empty_packs_producer_move.company_id %></td>
    <td><%= empty_packs_producer_move.producer_id %></td>
    <td><%= empty_packs_producer_move.pack_type_id %></td>
    <td><%= empty_packs_producer_move.quantity %></td>
    <td><%= empty_packs_producer_move.pack_option %></td>
    <td><%= link_to 'Show', empty_packs_producer_move %></td>
    <td><%= link_to 'Edit', edit_empty_packs_producer_move_path(empty_packs_producer_move) %></td>
    <td><%= link_to 'Destroy', empty_packs_producer_move, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Empty packs producer move', new_producer_empty_packs_producer_move_path %>
