<%= form_for(@production_process_io) do |f| %>
  <% if @production_process_io.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_process_io.errors.count, "error") %> prohibited this production_process_io from being saved:</h2>

      <ul>
      <% @production_process_io.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_number %><br />
    <%= f.number_field :order_number %>
  </div>
  <div class="field">
    <%= f.label :production_lines_number %><br />
    <%= f.text_field :production_lines_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
