<script type="text/javascript">
$(document).ready(function(){
  <%@production_process_ios.each do |production_process_io|%>
    var a = "<%= production_process_io.id %>";
    var b = "<%= production_process_io.order_number  %>";
    var c = "<%= production_process_io.production_lines_number %>";
    var d = "<%= production_process_io.direction %>";
    var e = "<%= production_process_io.io_datetime %>";
    var f = "<%= production_process_io.packing_pallet_id %>";
    var g = "<%= production_process_io.subprocess_id %>";
    var h = "<%= production_process_io.worker_id %>";
    
  <%end%>
 });
function production_process_io(order_number, production_lines_number,direction, io_datetime, packing_pallet_id, subprocess_id, worker_id) {
    this.id = id;
    this.order_number = order_number;
    this.production_lines_number = production_lines_number;
    this.direction = direction;
    this.io_datetime = io_datetime;
    this.packing_pallet_id = packing_pallet_id;
    this.subprocess_id= subprocess_id; 
    this.worker_id = worker_id; 
}
function show_result(x){
  
  var x = $('.dataTables_filter input[value=""]');

  alert(x.innerHTML);

}
</script>




<div class="headContent">
  <h1>Línea de Producción</h1>
</div>
<div class="box">
<div class="newTopBanner">
  <%= link_to 'Nueva Línea de Producción', new_production_process_io_path , :class => "button blue alignright" %>
</div>
<div class="line-forme">
      <div class="forme-lab">
        <%= label_tag :Número_de_orden %>
        
      </div>
      <div class="forme-in">
      <% @process_array= @production_process_ios.map { |process| [process.order_number,process.production_lines_number] }%>
       <%= select_tag "order_number", options_for_select(@process_array),:prompt => "Seleccione una Orden", :onchange => "show_result(this)" %>
      </div>
  </div>

<table cellpadding="0" cellspacing="0" border="0" class="display datatable">
  <thead>
    <tr>
      <th>Número de Orden</th>
      <th>Línea de Producción</th>
      <th>Pallet</th>

      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
<% @production_process_ios.each do |production_process_io| %>
    <tr>
      <td><%= production_process_io.order_number %></td>
      <td><%= production_process_io.production_lines_number %></td>
      <td><%= production_process_io.packing_pallet_id %></td>

      <td><%= link_to 'Ver', production_process_io %>
      <%= link_to 'Editar', edit_production_process_io_path(production_process_io) %>
      <%= link_to 'Eliminar', production_process_io, method: :delete, data: { confirm: 'Esta seguro que eliminar esta línea de productión' } %></td>
    </tr>
<% end %>
  </tbody>
</table>
</div>