<h1>Listing production_process_ios</h1>

<table>
  <tr>
    <th>Order number</th>
    <th>Production lines number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @production_process_ios.each do |production_process_io| %>
  <tr>
    <td><%= production_process_io.order_number %></td>
    <td><%= production_process_io.production_lines_number %></td>
    <td><%= link_to 'Show', production_process_io %></td>
    <td><%= link_to 'Edit', edit_production_process_io_path(production_process_io) %></td>
    <td><%= link_to 'Destroy', production_process_io, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Production process io', new_production_process_io_path %>
