<div class="box">
<%= form_for([@receipt, @pack_group_receipt], :url => receipt_pack_group_receipts_path) do |f| %>

  <% if @pack_group_receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= @pack_group_receipt.errors.count > 1 ? "#{@pack_group_receipt.errors.count} errores." : "#{@pack_group_receipt.errors.count} error." %> No se pueden guardar los envases sueltos:</h2>

      <ul>
      <% @pack_group_receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="line-forme">
    <div class="forme-lab">
      <label>Número Ingreso *</label>
    </div>
    <div class="forme-in">
      <%= f.text_field :receipt_id, :readonly => true %>
    </div>
  </div>

  <div class="line-forme">
    <div class="forme-lab">
      <label>Variedad *</label>
    </div>
    <div class="forme-in">
      <% varieties_aux = Array.new
      varieties_array = Variety.all.map { |variety|
        if (variety.kind_id == @receipt.kind_id)
          varieties_aux.push([variety.name, variety.id])
        end
      }
      %>
      <%= f.select(:variety_id, varieties_aux, :selected => :prompt, :prompt => '- Seleccione variedad -') %>
    </div>
  </div> 

  <div class="line-forme">
    <div class="forme-lab">
      <label>Calidad *</label>
    </div>
    <div class="forme-in">
      <% quality_array = Quality.all.map { |quality| [quality.name, quality.id] } %>
      <%= f.select(:quality_id, quality_array, :selected => :prompt, :prompt => '- Seleccione calidad -')  %>
    </div>
  </div>

  <div class="line-forme">
    <div class="forme-lab">
      <label>Precio por Kg($) *</label>
    </div>
    <div class="forme-in">
      <%= f.text_field :price_per_unit, :min => 1 %>
    </div>
  </div>

  <div class="line-forme">
    <div class="forme-lab">
      <label>Tipo Envase *</label>
    </div>
    <div class="forme-in">
      <% container_array = PackType.all.map { |container| [container.name, container.id] } %>
      <%= f.select(:pack_type_id, container_array, :selected => :prompt, :prompt => '- Seleccione envase -')  %>
    </div>
  </div>  
  
  <div class="line-forme">
    <div class="forme-lab">
      <label>Cantidad Envases *</label>
    </div>
    <div class="forme-in">
      <%= f.text_field :quantity %>
    </div>
  </div>

  <div class="line-forme">
    <div class="forme-lab">
      <label>Peso Bruto (Kg) *</label>
    </div>
    <div class="forme-in">
      <%= f.text_field :gross_weight %>
    </div>
  </div>

  <%= f.hidden_field :company_id, :value => 1 %>

  
</div>
  
  <div class="actions">
    <%= f.submit :Agregar %>
  </div>


<% end %>
