<p id="notice"><%= notice %></p>

<p>
  <b>Price per unit:</b>
  <%= @pack_group_receipt.price_per_unit %>
</p>

<p>
  <b>Quantity:</b>
  <%= @pack_group_receipt.quantity %>
</p>

<p>
  <b>Gross weight:</b>
  <%= @pack_group_receipt.gross_weight %>
</p>

<p>
  <b>Pack type:</b>
  <%= @pack_group_receipt.pack_type_id %>
</p>

<p>
  <b>Variety:</b>
  <%= @pack_group_receipt.variety_id %>
</p>

<p>
  <b>Quality:</b>
  <%= @pack_group_receipt.quality_id %>
</p>

<p>
  <b>Receipt:</b>
  <%= @pack_group_receipt.receipt_id %>
</p>

<p>
  <b>Company:</b>
  <%= @pack_group_receipt.company_id %>
</p>


<%= link_to 'Edit', edit_pack_group_receipt_path(@pack_group_receipt) %> |
<%= link_to 'Back', pack_group_receipts_path %>
