<div class="headContent">
  <h1>Lista de Insumos</h1>
</div>
<div class="box">
  <div class="newTopBanner">
    <%= link_to 'Nuevo Insumo', new_supply_path , :class => "button blue alignright" %>
  </div>

  <p id="notice" class="alignleft"><%= notice %> </p>

  <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Stock</th>
        <th>Stock Mínimo</th>
        <th>Acciones</th>
      </tr>
    </thead>
  <tbody>
  <% @supplies.each do |supply| %>
  <tr>
    <td><%= supply.name %></td>
    <td><%= supply.description %></td>
    <td><%= supply.stock_ini %></td>
    <td><%= supply.minimum_stock %></td>
    <td><%= link_to 'Ver', supply %>
    <%= link_to 'Editar', edit_supply_path(supply) %>
    <%= link_to 'Eliminar', supply, method: :delete, data: { confirm: '¿Esta seguro que desea elimnar este insumo?' } %></td>
  </tr>
<% end %>
    </tbody>
  </table>

</div>