<div class="box">
  <%= form_for(@final_packing_pallet) do |f| %>
    <% if @final_packing_pallet.errors.any? %>
      <div id="error_explanation">
        <h2><%= @final_packing_pallet.errors.count > 1 ? "#{@final_packing_pallet.errors.count} errores." : "#{@final_packing_pallet.errors.count} error." %> no se puede guardar el packing pallet final</h2>

        <ul>
        <% @final_packing_pallet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="line-forme">
      <div class="forme-lab">
        <label> 
          Especie                
          <em class="formee-req">*</em>
        </label>  
      </div>
      <div class="forme-in">
        <% if @final_packing_pallet.kind_id.nil? %>
          <% kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
          <%= f.select(:kind_id, kinds_array, :selected => :prompt, :prompt => '- Seleccione Especie -') %>
        <% else %>
          <% kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
          <%= f.select(:kind_id, kinds_array) %>
        <% end %>
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label> 
          Variedad                
          <em class="formee-req">*</em>
        </label>  
      </div>
      <div class="forme-in">
        <% if @final_packing_pallet.variety_id.nil? %>
          <% varieties_array = Variety.all.map { |variety| [variety.name, variety.id] } %>
          <%= f.select(:variety_id, varieties_array, :selected => :prompt, :prompt => '- Seleccione Variedad -') %>
        <% else %>
          <% varieties_array = Variety.all.map { |variety| [variety.name, variety.id] } %>
          <%= f.select(:variety_id, varieties_array) %>
        <% end %>
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label> 
          Calidad                
          <em class="formee-req">*</em>
        </label>  
      </div>
      <div class="forme-in">
        <% if @final_packing_pallet.quality_id.nil? %>
          <% qualities_array = Quality.all.map { |quality| [quality.name, quality.id] } %>
          <%= f.select(:quality_id, qualities_array, :selected => :prompt, :prompt => '- Seleccione Calidad -') %>
        <% else %>
          <% qualities_array = Quality.all.map { |quality| [quality.name, quality.id] } %>
          <%= f.select(:quality_id, qualities_array) %>
        <% end %>
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label> 
          Pack Packing                
          <em class="formee-req">*</em>
        </label>  
      </div>
      <div class="forme-in">
        <% if @final_packing_pallet.pack_packing_id.nil? %>
          <% pack_packings_array = PackPacking.all.map { |pack_packing| [pack_packing.name, pack_packing.id] } %>
          <%= f.select(:pack_packing_id, pack_packings_array, :selected => :prompt, :prompt => '- Seleccione Pack Packing -') %>
        <% else %>
          <% pack_packings_array = PackPacking.all.map { |pack_packing| [pack_packing.name, pack_packing.id] } %>
          <%= f.select(:pack_packing_id, pack_packings_array) %>
        <% end %>  
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label> 
          Formato:              
          <em class="formee-req">*</em>
        </label>  
      </div>
      <div class="forme-in">
        <% if @final_packing_pallet.format_id.nil? %>
          <% formats_array = FormatPacking.all.map { |format_packing| [format_packing.name, format_packing.id] } %>
          <%= f.select(:format_id, formats_array, :selected => :prompt, :prompt => '- Seleccione Formato -') %>
        <% else %>
          <% formats_array = FormatPacking.all.map { |format_packing| [format_packing.name, format_packing.id] } %>
          <%= f.select(:format_id, formats_array) %>
        <% end %>
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label> 
          Cantidad              
          <em class="formee-req">*</em>
        </label>  
      </div>
      <div class="forme-in">
        <%= f.text_field :quantity %>
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label> 
          Peso Neto              
          <em class="formee-req">*</em>
        </label>  
      </div>
      <div class="forme-in">
        <%= f.text_field :net_weight, :oninput => "replace_comma_with_dot(this)" %>
      </div>
    </div>

    <label> (
      <em class="formee-req">*</em>
    </label> ) Campos obligatorios.
</div>
<div class="foot-box">
  <%= link_to 'Cancelar', final_packing_pallets_path, :class => "button silver alignright" %>
  <%= f.submit :Guardar , :class => "button green alignright" %>
</div>
<% end %>