<div class="headContent">
  <h1>Lista de Packing Pallet Final</h1>
</div>
<div class="box">
  <div class="newTopBanner">
    <%= link_to 'Nuevo Packing Pallet Final', new_final_packing_pallet_path , :class => "button blue alignright" %>
  </div>

  <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
    <thead>
      <tr>
        <th>Especie</th>
        <th>Variedad</th>
        <th>Calidad</th>
        <th>Pack Packing</th>
        <th>Formato</th>
        <th style="width:20% !important;">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @final_packing_pallets.each do |final_packing_pallet| %>
        <tr>
          <td><%= Kind.find(final_packing_pallet.kind_id).name %></td>
          <td><%= Variety.find(final_packing_pallet.variety_id).name %></td>
          <td><%= Quality.find(final_packing_pallet.quality_id).name %></td>
          <td><%= PackPacking.find(final_packing_pallet.pack_packing_id).name %></td>
          <td><%= FormatPacking.find(final_packing_pallet.format_id).name %></td>
          <td><%= link_to 'Ver', final_packing_pallet %>
          <%= link_to 'Editar', edit_final_packing_pallet_path(final_packing_pallet) %>
          <%= link_to 'Eliminar', final_packing_pallet, method: :delete, data: { confirm: '¿Está seguro de eliminar este Packing Pallet Final?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>