<div class="box">
<%= form_for(@company) do |f| %>
   <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Nombre %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :RUT %><br />
    </div>
    <div class="forme-in">
      <%= f.number_field :rut %>
    </div>
  </div>

  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Dirección %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :address %>
    </div>
  </div>
    <div class="line-forme">
      <div class="forme-lab">
        <%= f.label :Ciudad %><br />
      </div>
      <div class="forme-in">
        <%= f.text_field :city %>
      </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Giro_del_Negocio %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :line_of_business %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Teléfono %><br />
    </div>
    <div class="forme-in">
      <%= f.number_field :phone %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Email %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :email %>
    </div>
   </div> 
</div>
<div class="foot-box">
  <%= link_to 'Cancelar', companies_path , :class => "button silver alignright" %>
  <%= f.submit :Guardar , :class => "button green alignright" %>
</div>
<% end %>