<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Compañia</h1>
</div>
<div class="box">
<%= link_to 'Volver', companies_path , :class => "button blue alignright" %>
<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Rut:</b>
  <%= @company.rut %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>

<p>
  <b>Line of business:</b>
  <%= @company.line_of_business %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>


</div>
<div class="foot-box">
  <%= link_to 'Editar', edit_company_path(@company) , :class => "button green alignright" %>
</div>