<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Rut:</b>
  <%= @company.rut %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>

<p>
  <b>Line of business:</b>
  <%= @company.line_of_business %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
