<% if current_user.super_admin == true %>
	<%= wiki_page_style %>
	<div class="headContent">
	  <h1><%=wt '%{page_title} - Registro histórico', :page_title => @page.title %></h1>
	</div>
	<div class="box">
		<%= wiki_page_info %>
		<%= wiki_page_history %>
	</div>
	<div class="foot-box">
		<%= wiki_page_actions %>
	</div>
<% else %>
	<div class="headContent">
	  <h1>Error</h1>
	</div>
	<div class="box">
		<%=wt 'No posees los permisos necesarios para estar acá.' %>
	</div>
	<div class="foot-box">
		<%= link_to( wt( 'Página principal Ayuda' ), "/wiki", :class => "button blue alignleft")%>
	</div>
<% end %>