<%= wiki_page_style %>
<div class="headContent">
  <h1><%=wt '%{page_title} - Registro histórico', :page_title => @page.title %></h1>
</div>
<div class="box">
	<%= wiki_page_info %>
	<%= wiki_page_history %>
</div>
<div class="foot-box">
	<%= wiki_page_actions %>
</div>