<div class="headContent">
  <h1>Lista de Pallets</h1>
</div>
<div class="box">
  <%= link_to 'Nuevo Pallet', new_pallet_path , :class => "button blue alignright" %>

  <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
    <thead>
      <tr>
        <th>Receipt</th>
        <th>pallet</th>
        <th>Quality</th>
        <th>Variety</th>
        <th>Price kg</th>
        <th>Quantity</th>
        <th>Gross weight</th>
        <th>Code</th>
        <th>Tare</th>
        <th style="width:20% !important;">Acciones</th>
      </tr>
    </thead>
  <tbody>
  <% @pallets.each do |pallet| %>
  <tr>
    <td><%= pallet.receipt_id %></td>
    <td><%= pallet.id %></td>
    <td><%= pallet.quality_id %></td>
    <td><%= pallet.variety_id %></td>
    <td><%= pallet.price_kg %></td>
    <td><%= pallet.quantity %></td>
    <td><%= pallet.gross_weight %></td>
    <td><%= pallet.code %></td>
    <td><%= pallet.tare %></td>
    <td><%= link_to 'Ver', pallet %>
    <%= link_to 'Editar', edit_pallet_path(pallet) %>
    <%= link_to 'Eliminar', pallet, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el registro?' } %></td>
  </tr>
<% end %>
    </tbody>
  </table>

</div>
