<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Pallet</h1>
</div>
<div class="box">
<%= link_to 'Volver', pallets_path , :class => "button blue alignright" %>

<p>
  <b>Receipt:</b>
  <%= @pallet.receipt_id %>
</p>

<p>
  <b>Variety:</b>
  <%= @pallet.variety_id %>
</p>

<p>
  <b>Quality:</b>
  <%= @pallet.quality_id %>
</p>

<p>
  <b>Price kg:</b>
  <%= @pallet.price_kg %>
</p>

<p>
  <b>Container:</b>
  <%= @pallet.container_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @pallet.quantity %>
</p>

<p>
  <b>Gross weight:</b>
  <%= @pallet.gross_weight %>
</p>

<p>
  <b>Code:</b>
  <%= @pallet.code %>
</p>

<p>
  <b>Tare:</b>
  <%= @pallet.tare %>
</p>

</div>
<div class="foot-box">
  <%= link_to 'Editar', edit_pallet_path(@pallet) , :class => "button green alignright" %>
</div>
