<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Rol</h1>
</div>
<div class="box">
<%= link_to 'Volver', roles_path , :class => "button blue alignright" %>
<p>
  <b>Nombre:</b>
  <%= @role.name %>
</p>

<p>
  <b>Descripción:</b>
  <%= @role.description %>
</p>


</div>
<div class="foot-box">
  <%= link_to 'Editar', edit_role_path(@role) , :class => "button green alignright" %>
</div>