<div class="box">
<%= form_for(@producer) do |f| %>
  <% if @producer.errors.any? %>
    <div id="error_explanation">
      <h2><%= @producer.errors.count > 1 ? "#{@producer.errors.count} errores." : "#{@producer.errors.count} error." %> no se puede guardar el productor:</h2>

      <ul>
      <% @producer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Rut %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :rut %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Nombre %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Giro %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :line_of_business %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Comuna %><br />
    </div>
    <div class="forme-in">
      <% communes_array = Commune.all.map { |commune| [commune.name, commune.id] } %>
      <%= f.select(:commune_id, communes_array, :selected => :prompt, :prompt => '- Seleccione comuna -') %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Dirección %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :address %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Email %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Teléfono %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :phone %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :Contacto %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :contact %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :"Código SAG" %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :sag_code %>
    </div>
  </div>

  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :"Código Interno" %><br />
    </div>
    <div class="forme-in">
      <%= f.text_field :code %>
    </div>
  </div>

  <div class="line-forme">
    <div class="forme-lab">
      <%= f.label :"Agrupaciones" %><br />
    </div>
    <div class="forme-in">
        <% @groupings.each do |grouping| %>
          <%= check_box_tag 'grouping_ids[]', grouping.id, @producer.groupings.member?(grouping) -%>
          <%= h grouping.name -%>
        <% end %>
    </div>
  </div>
</div>

<div class="foot-box">
  <%= link_to 'Cancelar', producers_path , :class => "button silver alignright" %>
  <%= f.submit :Guardar , :class => "button green alignright" %>
</div>
<% end %>