<div class="headContent">
    <h1>Lista de Productores</h1>
</div>
<div class="box">
  <div class="newTopBanner">
    <%= link_to 'Nuevo Productor', new_producer_path , :class => "button blue alignright" %>
  </div>
  
    <div class="contentSubPanel">
        <div class="headContent">
            <h1>Productores Habilitados</h1>
        </div>
        <div class="box">

            <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
                <thead>
                  <tr>
                    <th style="width:20% !important;">Nombre</th>
                    <th>Dirección</th>
                    <th>Comuna</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th colspan="3" style="width:20% !important;">Acciones</th>
                  </tr>
                </thead>
              <tbody>
                  <% @producers.each do |producer| %>
                    <% if ((producer.active == true) and (producer.is_deleted == false))%>
                        <tr>
                          <td><%= producer.company_name %></td>
                          <td><%= producer.address %></td>
                          <td><%= (Commune.all(:select => "name", :conditions => ["id = ?",producer.commune_id]))[0].name%></td>
                          <td><%= producer.phone %></td>
                          <td><%= producer.email %></td>
                          <td><%= link_to 'Ver', producer %>
                          <%= link_to 'Editar', edit_producer_path(producer) %>
                          <%= link_to 'Deshabilitar', producers_disable_path(producer) %></td>
                        </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
        </div>
    </div>

    <div class="contentSubPanel">
        <div class="headContent">
            <h1>Productores Deshabilitados</h1>
        </div>
        <div class="box">

            <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
                <thead>
                  <tr>
                    <th style="width:20% !important;">Nombre</th>
                    <th>Dirección</th>
                    <th>Comuna</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th colspan="3" style="width:20% !important;">Acciones</th>
                  </tr>
                </thead>
              <tbody>
                  <% @producers.each do |producer| %>
                    <% if ((producer.active == false) and (producer.is_deleted == false))%>
                        <tr>
                          <td><%= producer.company_name %></td>
                          <td><%= producer.address %></td>
                          <td><%= (Commune.all(:select => "name", :conditions => ["id = ?",producer.commune_id]))[0].name%></td>
                          <td><%= producer.phone %></td>
                          <td><%= producer.email %></td>
                          <td><%= link_to 'Ver', producer %>
                          <%= link_to 'Editar', edit_producer_path(producer) %>
                          <%= link_to 'Habilitar', producers_enable_path(producer) %>
                          <%= link_to 'Eliminar', producer, method: :delete, data: { confirm: '¿Está seguro de eliminar este productor?' } %></td>
                        </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
        </div>
    </div>
  </div>