<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Productor</h1>
</div>
<div class="box">
<%= link_to 'Volver', producers_path , :class => "button blue alignright" %>
<p>
  <b>Rut:</b>
  <%= @producer.rut %>
</p>

<p>
  <b>Nombre:</b>
  <%= @producer.name %>
</p>

<p>
  <b>Giro:</b>
  <%= @producer.line_of_business %>
</p>

<p>
  <b>Comuna:</b>
  <%= Commune.find(@producer.commune_id).name %>
</p>

<p>
  <b>Direcci贸n:</b>
  <%= @producer.address %>
</p>

<p>
  <b>Email:</b>
  <%= @producer.email %>
</p>

<p>
  <b>Telef贸no:</b>
  <%= @producer.phone %>
</p>

<p>
  <b>Contacto:</b>
  <%= @producer.contact %>
</p>

<p>
  <b>C贸digo SAG:</b>
  <%= @producer.sag_code %>
</p>

<%= render 'groupings_table' %>

<p>
  <b>C贸digo Interno:</b>
  <%= @producer.code %>
</p>

</div>
<div class="foot-box">
  <%= link_to 'Editar', edit_producer_path(@producer) , :class => "button green alignright" %>
</div>

