<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Productor</h1>
</div>
<div class="box">
<%= link_to 'Volver', producers_path , :class => "button blue alignright" %>
<p>
  <b>Rut:</b>
  <%= @producer.rut %>
</p>

<p>
  <b>Nombre:</b>
  <%= @producer.name %>
</p>

<p>
  <b>Giro:</b>
  <%= @producer.line_of_business %>
</p>

<p>
  <b>Comuna:</b>
  <%= @producer.commune_id %>
</p>

<p>
  <b>Dirección:</b>
  <%= @producer.address %>
</p>

<p>
  <b>Email:</b>
  <%= @producer.email %>
</p>

<p>
  <b>Telefóno:</b>
  <%= @producer.phone %>
</p>

<p>
  <b>Contacto:</b>
  <%= @producer.contact %>
</p>

<p>
  <b>Código SAG:</b>
  <%= @producer.sag_code %>
</p>
</div>
<div class="foot-box">
  <%= link_to 'Editar', edit_producer_path(@producer) , :class => "button green alignright" %>
</div>