<script type="text/javascript">

var registers = new Array();
var id_count = 1;
var modified = false;


window.onbeforeunload = function () {    
  if (modified) {
    return "Los cambios no guardados se perderan";
  }
}

function set_modified (argument) {
  modified = argument;
}

function del_register () {
    
}

function add_supply_loan()
{
  var worker_id = $("#worker_id").val();
  var worker_name = $("#worker_id option[value='"+worker_id+"']").text();
  var supply_id = $("#supply_id").val();
  var supply_name = $("#supply_id option[value='"+supply_id+"']").text();
  var quantity= $("#quantity").val();
  alert(quantity);
  var id = id_count;
  id_count++;

  var new_register = new register(worker_id, quantity, supply_id, id);
  registers.push(new_register);

  var row = new Array(worker_name, supply_name, quantity, "<a href='#' onClick='delete_row(cd)'>eliminar</a>");
    $('#supply_table').dataTable().fnAddData(row);
    set_modified(true);

}

function add_db () {
  if(registers.length > 0)
  {
    for (var i = 0; i < registers.length; i++) {
      var register = registers[i];

      var p_worker_id = register.worker_id;
      var p_quantity = register.quantity;
      var p_supply_id = register.supply_id;
      
      $.ajax({  
        url: "/supplies_loans",  
        type: "POST", 
        dataType: "json",
        async: false,
        data: { supplies_loan : {worker_id: p_worker_id,
                                        quantity: p_quantity,
                                        supply_id: p_supply_id,
                                        } } }); 

      
  };
  set_modified(false);
 
  }
  else
    alert("Lista de ingresos vacía");
}

function register ( worker_id, quantity, supply_id , id) 
{
  this.worker_id = worker_id;
  this.quantity = quantity;
  this.supply_id = supply_id;
  this.id = id;
}

function show_rut(s)
{
  if(s.value == "")
  {
   var inputRut = document.getElementById('rut');
   inputRut.value = " - ";
  }
  else
  {
   $.get("/workers/"+s.value+".json", function(data) {
      var inputRut = document.getElementById('rut');
      inputRut.value = data.rut;
   });
  }
}
function show_stock(s)
  {
    if (s.value == "")
    {
      var inputStock = document.getElementById('stock');
      inputStock.value = " - "
    }
    else
    {
      $.get("/supplies/"+s.value+".json", function(data) {
      var inputStock = document.getElementById('stock');
      inputStock.value = data.stock_ini;
      });
    }
  }

</script>  

<div class="headContent">
    <h1>Agregar prestamo de insumo</h1>
  </div>
  <div class="box">

    <div class="line-forme">
  <div class="forme-lab">
    <%= label_tag 'Trabajador'%> 
  </div>
  <% @workers_array = Worker.all.map { |worker| [worker.first_name+ " " + worker.last_name, worker.id] } %>
  <div class="forme-in">
    <%= select_tag "worker_id", options_for_select(@workers_array), :prompt => " -Seleccione un Trabajador - ", :onchange => "show_rut(this)" %>
  </div>
</div>

<div class="line-forme">
  <div class="forme-lab">
   <%= label_tag "rut"  %>
  </div>
  <div class="forme-in ">
   <input id="rut" value="-" disabled="true"></input>
  </div>
</div>

<div class="line-forme">
  <div class="forme-lab">
   <%= label_tag 'Insumo'%> 
  </div>
  <% @supplies_array = Supply.all.map { |supply| [supply.name, supply.id] } %>
  <div class="forme-in">
   <%= select_tag "supply_id", options_for_select(@supplies_array), :prompt => " - Seleccione un Insumo - " ,:onchange => "show_stock(this)"%>
  </div>
</div>

<div class="line-forme">
  <div class="forme-lab">
   <%= label_tag 'Stock'%> 
  </div>    
  <div class="forme-in">
    <input id="stock" value="-" disabled="true"></input>
  </div>  
</div>

<div class="line-forme">
  <div class="forme-lab">
   <%= label_tag 'Cantidad'%> 
   </div>    
  <div class="forme-in">
    <input id="quantity" type="text"><br>
  </div>  
</div>
<button type="button" onclick="add_supply_loan(),show_stock()" class="button blue alignright">Agregar prestamo</button>
  <table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="supply_table">
    <thead>
      <tr>    
        <th>Trabajador</th>
        <th>Insumo</th>
        <th>Cantidad</th>  
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>

  </div>
</div>
<div class="foot-box">
    <%= link_to 'Cancelar', supplies_loans_path , :class => "button silver alignright" %>
    <%= button_tag "Agregar" , :class => "button green alignright", :onclick => "add_db();"%>
</div>