<script>
$(document).ready(function(){
  load_regions("regions", "destination_commune_id");
});
</script>

<div class="box">
<%= form_for(@destination) do |f| %>
  <% if @destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= @destination.errors.count > 1 ? "#{@destination.errors.count} errores." : "#{@destination.errors.count} error." %> no se puede guardar el destino:</h2>

      <ul>
      <% @destination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="line-forme">
    <div class="forme-lab">
      <label> 
        Rut                
        <em class="formee-req">*</em>
      </label>  
    </div>
    <div class="forme-in">
      <%= f.text_field :rut, :class => 'rut' %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <label> 
        Nombre Compañia                
        <em class="formee-req">*</em>
      </label>
    </div>
    <div class="forme-in">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <label> 
        Código Destino               
        <em class="formee-req">*</em>
      </label>
    </div>
    <div class="forme-in">
      <%= f.text_field :code %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
        <label> 
        Región          
        <em class="formee-req">*</em>
      </label>  
    </div>
    <div class="forme-in">
      <% @regions = Region.all.map { |region| [region.name, region.id] } %>
      <%= select_tag('regions', options_for_select(@regions),
        :onchange => "show_communes(this, 'destination_commune_id')", :selected => :prompt, :prompt => '- Seleccione región -') %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <label> 
        Comuna     
        <em class="formee-req">*</em>
      </label>  
    </div>
    <div class="forme-in">

      <%= f.select(:commune_id, {} ,:selected => :prompt, :prompt => '- Seleccione comuna -') %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <label> 
        Dirección 
        <em class="formee-req">*</em>
      </label>  
    </div>
    <div class="forme-in">
      <%= f.text_field :address %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
      <label> 
        E-Mail      
      </label>  
    </div>
    <div class="forme-in">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
        <label> 
        Contacto
        <em class="formee-req">*</em>
      </label> 
    </div>
    <div class="forme-in">
      <%= f.text_field :contact %>
    </div>
  </div>
  <div class="line-forme">
    <div class="forme-lab">
        <label> 
        Teléfono
        <em class="formee-req">*</em>
      </label> 
    </div>
    <div class="forme-in">
      <%= f.text_field :phone %>
    </div>
  </div>
  <label> (
    <em class="formee-req">*</em>
  </label> ) Campos obligatorios.
</div>
<div class="foot-box">
  <%= link_to 'Cancelar', destinations_path , :class => "button silver alignright" %>
  <%= f.submit :Guardar , :class => "button green alignright" %>
</div>
<% end %>



















  