<div class="headContent">
    <h1>Lista de Destinos</h1>
</div>
<div class="box">
  <div class="newTopBanner">
    <%= link_to 'Nuevo Destino', new_destination_path , :class => "button blue alignright" %>
  </div>

    <div class="contentSubPanel">
        <div class="headContent">
            <h1>Destinos Habilitados</h1>
        </div>
        <div class="box">

            <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
                <thead>
                  <tr>
                    <th style="width:20% !important;">Nombre</th>
                    <th>Dirección</th>
                    <th>Comuna</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th colspan="3" style="width:20% !important;">Acciones</th>
                  </tr>
                </thead>
              <tbody>
            <% @destinations.each do |destination| %>
              <% if ((destination.active == true) and (destination.is_deleted == false))%>
                <tr>
                  <td><%= destination.company_name %></td>
                  <td><%= destination.address %></td>
                  <td><%= Commune.find(destination.commune_id).name %></td>
                  <td><%= destination.phone %></td>
                  <td><%= destination.email %></td>
                  <td><%= link_to 'Ver', destination %>
                  <%= link_to 'Editar', edit_destination_path(destination) %>
                  <%= link_to 'Deshabilitar', destinations_disable_path(destination) %>
                </tr>
              <% end %>
            <% end %>
                </tbody>
              </table>
        </div>
    </div>

    <div class="contentSubPanel">
        <div class="headContent">
            <h1>Destinos Deshabilitados</h1>
        </div>
        <div class="box">

            <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
                <thead>
                  <tr>
                    <th style="width:20% !important;">Nombre</th>
                    <th>Dirección</th>
                    <th>Comuna</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th colspan="3" style="width:20% !important;">Acciones</th>
                  </tr>
                </thead>
              <tbody>
            <% @destinations.each do |destination| %>
              <% if ((destination.active == false) and (destination.is_deleted == false))%>
                <tr>
                  <td><%= destination.company_name %></td>
                  <td><%= destination.address %></td>
                  <td><%= destination.commune_id %></td>
                  <td><%= destination.phone %></td>
                  <td><%= destination.email %></td>
                  <td><%= link_to 'Ver', destination %>
                  <%= link_to 'Editar', edit_destination_path(destination) %>
                  <%= link_to 'Habilitar', destinations_enable_path(destination) %>
                  <%= link_to 'Eliminar', destination, method: :delete, data: { confirm: '¿Está seguro de eliminar este destino?' } %></td>
                </tr>
              <% end %>
            <% end %>
                </tbody>
              </table>
        </div>
    </div>
  </div>