<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Destino</h1>
</div>
<div class="box">
<%= link_to 'Volver', destinations_path , :class => "button blue alignright" %>
<p>
  <b>Rut:</b>
  <%= @destination.rut %>
</p>

<p>
  <b>Nombre:</b>
  <%= @destination.company_name %>
</p>

<p>
  <b>Comuna:</b>
  <%= @destination.commune_id %>
</p>

<p>
  <b>Dirección:</b>
  <%= @destination.address %>
</p>

<p>
  <b>Email:</b>
  <%= @destination.email %>
</p>

<p>
  <b>Teléfono:</b>
  <%= @destination.phone %>
</p>

<p>
  <b>Contacto:</b>
  <%= @destination.contact %>
</p>

</div>
<div class="foot-box">
  <%= link_to 'Editar', edit_destination_path(@destination) , :class => "button green alignright" %>
</div>