<script type="text/javascript">
/*Busca el rut del destino seleccionado y calculo de envases*/
function show_rut_destination(s)
{
	if(s.value == "")
	{
 		var inputRut = document.getElementById('rut_destination');
		inputRut.value = "-";
	}
	else
	{
	 	$.get("/destinations.json", function(data) {
			$.each(data, function(index, value){
				if(s.value==value.id)
				{
 					var inputRut = document.getElementById('rut_destination');
 					inputRut.value = value.rut;
				}		
	  	});
		});
	}
	//Calculo de envases del destino
	$.get("/pack_types.json", function(data){
		$.each(data, function(index, value){
			var pack_type_id=value.id;
			var quantity=0;
		  $.get("/destinations/"+s.value+"/empty_packs_destination_moves.json", function(data){
		  $.each(data, function(index, value){
				
				if(value.pack_type_id==pack_type_id)
				{	
					if(value.pack_option=="ingreso")
						{
							quantity = quantity + value.quantity;
						}
						else
						{
							quantity = quantity - value.quantity;

						}
		 		}
			});
			//Insertamos la cantidad en la celda
			var table2 = document.getElementById('tableDestination');
			for(var i=1; i<table2.rows.length; i+=1){
				if(pack_type_id==table2.rows[i].cells[0].innerHTML)
				{
				
			  	table2.rows[i].cells[2].innerHTML=quantity;
				}
			}  
			});
		});		
	});
	stock_pack_type();
}
function displayResultDestination()
{
	//Validar las opciones de ingreso de despacho
	var radio1 =document.getElementById('radioDestination1');
	var radio2 =document.getElementById('radioDestination2');
	var selectp = document.getElementById("Destination").value;
	var stock = document.getElementById("stockDestination").value

	var quantityValidate =document.getElementById('quantityDestination').value;
	var producerValidate = document.getElementById("mySelectDestination").value;


	if(stock=="Sin Stock")
	{
		alert("No hay stock disponible");
	}
	else if(selectp.length==0)
	{
		alert("Debes selecionar un Destino");
	}
	else if(!radio1.checked && !radio2.checked)
	{
		alert("Debes selecionar una opcion");
	}
	else if(quantityValidate.length==0)
	{
		alert("Debes ingresar una cantidad");
	}
	else if(producerValidate.length==0)
	{
		alert("Debes selecionar un tipo de envace");

	}
	else if(radio2.checked && stock-quantityValidate<0)
	{
		alert("Solo puedes despachar: "+(stock));
	}	
	
	else
	{
		if(selectp.length!=0)
		{
			var deshabilitarP = document.getElementById("Destination");
			deshabilitarP.disabled=true;
		}
		var radio1 = document.getElementById("radioDestination1");
		var selectp = document.getElementById("Destination");
		var select = document.getElementById("mySelectDestination");
		var quantity = document.getElementById("quantityDestination");
		var button = '<button type="button" id="bDelete" align="center" onclick="borrarFila(this)">Eliminar</button>';

		if(radio1.checked)
		{
		$('#myTableDestination').dataTable().fnAddData(
			[select.value,selectp.value,selectp.options[selectp.selectedIndex].text,
			 select.options[select.selectedIndex].text,
			 quantity.value,"ingreso",
			 button
			]);
	   }
	   else
	   {
	   	$('#myTableDestination').dataTable().fnAddData(
			[select.value,selectp.value,selectp.options[selectp.selectedIndex].text,
			 select.options[select.selectedIndex].text,
			 quantity.value,"despacho",
			 button
			]);
	   }
		if(radio2.checked)
		{
			addPack_type(parseInt(select.value),parseInt(quantity.value),2);
		}
		
	}
}
/*Borrar la fila selecionada de la tabla*/
function borrarFila(b)
{
	var table = document.getElementById("myTableDestination");
	var parent= b.parentNode;
	while(parent.nodeName.toLowerCase()!='tr'){
		parent = parent.parentNode;
	}
	$('#myTable').dataTable().fnDeleteRow(parent);
}
function add_dbDestination()
{
	var table = document.getElementById('myTableDestination');
	var rowLength = table.rows.length;
	for(var i=2; i<rowLength; i+=1){
	  var row = table.rows[i];
	  var values=new Array(); 
	  var cellLength = row.cells.length;
	  for(var y=0; y<cellLength-1; y+=1){
	    var cell = row.cells[y];
	    if(cell.firstChild!=null)
	    {
		    var value = cell.firstChild.data
		    values.push(value);
	    }
	  	}
	  	
 		$.ajax({
	   	url: "destinations/"+values[1]+"/empty_packs_destination_moves",
	 		type: "POST",
	    	data: {empty_packs_destination_move :{destination_id: values[1],pack_type_id: values[0],quantity: values[4],pack_option: values[5]}},
	 	}).done(function(data){

             window.location = "/empty_packs_destination_moves";
         });
		
	}
}
function show_stockDestination(s)
{
	for(var i=0;i<pack_types.length;i++)
	{
		if(s.value==pack_types[i].pack_id)
		{	var inputStock = document.getElementById('stockDestination');
			inputStock.value =pack_types[i].quantity;
		}
	}
}
function show_stock2Destination()
{
	var selectP = document.getElementById("mySelectDestination").value;
	for(var i=0;i<pack_types.length;i++)
	{
		if(selectP==pack_types[i].pack_id)
		{	var inputStock = document.getElementById('stockDestination');
			inputStock.value =pack_types[i].quantity;
		}
	}
}

</script>

<!-- Selector de Destinos -->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag 'Destino'%> 
	</div>
	<% @destinations_array = Destination.where(:company_id => current_user.company_id).map { |destination| [destination.name, destination.id] } %>
	<div class="forme-in">
	 <%= select_tag "Destination", options_for_select(@destinations_array), :prompt => "Seleccione un Destino", :onchange => "show_rut_destination(this)"%>
	</div>
</div>
<!-- Rut de Destino -->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag "rut"  %>
	</div>
	<div class="forme-in ">
	 <input id="rut_destination" value="-" disabled="true"></input>
	</div>
</div>
<!-- RadioButton ingreso/despacho -->
<div class="line-forme">
	<div class="forme-lab">
		<label>Opcion</label><br />
	</div>
	<div class="forme-in">
		<input id="radioDestination1"type="radio" name="option" value="ingreso">Ingreso
		<input id="radioDestination2"type="radio" name="option" value="despacho">Despacho
	</div>
</div>	
<!-- Selector de envases -->
<div class="line-forme">
	<div class="forme-lab">
		<%= label_tag 'Envase'%> 
	</div>
	<% @pack_types_array = PackType.all.map { |pack_type| [pack_type.name, pack_type.id] } %>
	<div class="forme-in">
	 <%= select_tag "mySelectDestination", options_for_select(@pack_types_array), :prompt => "Seleccione un Envase",:onchange => "show_stockDestination(this)" %>
	</div>
</div>
<!-- Stock de los envases-->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag 'Stock'%> 
	</div>    
	<div class="forme-in">
		<input id="stockDestination" value="-" disabled="true"></input>
	</div>  
</div>
<!--Cantidad del envese selectionado-->
<div class="line-forme">
	<div class="forme-lab">
	<%= label_tag 'Cantidad'%> 
	</div>    
	<div class="forme-in">
		<input id="quantityDestination" type="text"><br>
	</div>  
</div>	
<!--Tabla que muestra la cuenta del productor selecionado-->
<table id="tableDestination" cellpadding="0" cellspacing="0" border="0" class="display datatable">
	<thead>
    <tr>
    	<th style="display:none">Id</th>
    	<th>Envantce</th>
      <th>Cantidad</th>
    </tr>
  </thead>
	<tbody>
		<% @packtypes = PackType.all%>
		<% @packtypes.each do |packtype| %>
 		<tr>
	    	<td style="display:none"><%= packtype.id%></td>
	      <td><%= packtype.name%></td>
			<td>0</td>
		</tr>
		<%end%>
  </tbody>
</table>
<!--Boton para agregar datos a la tabla -->
<button type="button" onclick="displayResultDestination(),show_stock2Destination()" class="button blue alignright">Agregar</button>
<!--Tabla que muestra los datos agregados de destino-->
<table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="myTableDestination">
	<thead>
    <tr>
		<th>Envase_id</th>
    	<th>Productor_id</th>
    	<th>Productor</th>
   	<th>Envase</th>
   	<th>Cantidad</th>
   	<th>Opcion</th>
   	<th>Acción</th>
    </tr>
  </thead>
	<tbody id="tBody">
		<tr style="display:none">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
  </tbody>
</table>
<!--Boton que termina el proceso y agrega todos los datos a la base de datos-->
<a class = "button blue alignright" data-role="button" onclick="add_dbDestination()">Aceptar</a>

