<script type="text/javascript">
var pack_type_array_destination = new Array();
var count_destination=0;
var stock_destination=0;
function show_rut_destination(s){
	if(s.value == ""){
 		var inputRut = document.getElementById('rut_destination');
		inputRut.value = "-";
		var table2 = document.getElementById('tableDestination');
			for(var i=1; i<table2.rows.length; i+=1){
				table2.rows[i].cells[2].innerHTML=0; 	 				
			}
	}
	else{
	 	$.get("/destinations.json", function(data) {
			$.each(data, function(index, value){
				if(s.value==value.id)
				{
 					var inputRut = document.getElementById('rut_destination');
 					inputRut.value = value.rut;
				}		
	  	});
		});
	}
	//Calculo de envases del destino
	$.get("/pack_types.json", function(data){
		$.each(data, function(index, value){
			var pack_type_id=value.id;
			var quantity=0;
		  $.get("/destinations/"+s.value+"/empty_packs_destination_moves.json", function(data){
		  $.each(data, function(index, value){
				
				if(value.pack_type_id==pack_type_id)
				{	
					if(value.pack_option=="ingreso")
						{
							quantity = quantity + value.quantity;
						}
						else
						{
							quantity = quantity - value.quantity;

						}
		 		}
			});
			//Insertamos la cantidad en la celda
			var table2 = document.getElementById('tableDestination');
			for(var i=1; i<table2.rows.length; i+=1){
				if(pack_type_id==table2.rows[i].cells[0].innerHTML)
				{
				
			  	table2.rows[i].cells[2].innerHTML=quantity;
				}
			}  
			});
		});		
	});
	stock_pack_type();
}
function disabled_destination(){
	var destination = document.getElementById('Destination');
	if(pack_type_array_destination.length==0){
		destination.disabled=false;

	}
	else{	
		destination.disabled=true;
		
	}
}
function displayResultDestination(pack_add){
	disabled_destination();
	var button = '<a id="'+count_destination+'"align="center" 	onclick="delete_row_destination(this)">Eliminar</a>';	
		$('#myTableDestination').dataTable().fnAddData(
		[pack_add.pack_type,pack_add.quantity,pack_add.option,
 		button]);
 	count_destination++;	 
}
function clear_field_destination(){
	var radio1 =document.getElementById('radioDestination1');
	var radio2 =document.getElementById('radioDestination2');
	var select = document.getElementById('mySelectDestination');
	var quantity =document.getElementById('quantityDestination');
	radio1.checked=false;
	radio2.checked=false;
	select.value="";
	quantity.value="";
}
function pack_destination(pack_type_id,destination_id,pack_type,quantity,option,id){
	this.pack_type_id = pack_type_id;
	this.destination_id = destination_id;
	this.pack_type = pack_type;
	this.quantity = quantity;
	this.option = option;
	this.id = id;
}
function new_pack_destination(){
	var radio1 =document.getElementById('radioDestination1');
	var radio2 =document.getElementById('radioDestination2');
	var quantity =document.getElementById('quantityDestination').value;
	var selectp = document.getElementById("Destination").value;
	var select = document.getElementById("mySelectDestination");
	
	if(validate_producer(selectp)==true){
		if(validate_radio(radio1,radio2)==true){		
			var option;
			if(radio1.checked){
				option = radio1.value;
			}
			else{
				option = radio2.value;
			}	
			if(validate_quantity(quantity)==true){
				
				var stock = document.getElementById('stockDestination').value;		
				if(validate_stock(quantity,option,stock)==true){
					console.log(option);
					if(validate_pack_type(select.value)==true){
						console.log(selectp);
						if(validate_register(select.value,option)==true){
							var pack_add = new pack_destination(select.value,selectp,select.options[select.selectedIndex].text,quantity,option,count_destination);
							pack_type_array_destination.push(pack_add);
							displayResultDestination(pack_add);
							clear_field_destination();
						}
					}

				}
			}
		}
	}
}
function add_db_destination(){
	if(pack_type_array_destination.length==0){
		alert("Debes agregar envases");
	}
	else{

		var last = "<%=@code_destination[0]%>";
		var code_destination;
		console.log(last);
		if(last==[])
		{
			code_destination=0;
		}
		else{
			code_destination= parseInt(last)+1;
		}
		for(var i=0; i<pack_type_array_destination.length; i+=1){
		  	$.ajax({
				url: "/destinations/"+pack_type_array_destination[i].destination_id+"/empty_packs_destination_moves",
		 		type: "POST",
		 	
		    	data: {empty_packs_destination_move:{destination_id: pack_type_array_destination[i].destination_id,pack_type_id: pack_type_array_destination[i].pack_type_id,quantity: pack_type_array_destination[i].quantity,pack_option: pack_type_array_destination[i].option, code: code_destination}},
		 	}).done(function(data){

	             
		 		var id_last = "<%=@id_destination[0]%>";
		 		
             	window.open("/empty_packs_destination_moves/"+id_last+".pdf");
			 	location.href = "/empty_packs";
	         });
			
		}
	}
}
function delete_row_destination(b){
	var table = document.getElementById("myTableDestination");
	var parent= b.parentNode;	
	while(parent.nodeName.toLowerCase()!='tr'){
		parent = parent.parentNode;
	}
	$('#myTableDestination').dataTable().fnDeleteRow(parent);
	for(i=0; i<pack_type_array_destination.length;i++){
		if(pack_type_array_destination[i].id==b.id){
			pack_type_array_destination.splice(i, 1);			
		}
	}
	disabled_destination();
}
function stock_calculate_destination(){
	stock_destination=0;
	var pack_id = document.getElementById('mySelectDestination');
	
	$.get("/destinations.json", function(data){
		$.each(data, function(index, value){
			var destination_id= value.id;
			var quantity=0;
			$.get("/destinations/"+destination_id+"/empty_packs_destination_moves.json", function(data){
		  	$.each(data, function(index, value){
				if(value.pack_type_id==pack_id.value){	
					if(value.pack_option=="ingreso"){
						quantity = quantity + value.quantity;
					}
					else{
						quantity = quantity - value.quantity;
					}
		 		}	
			});
			
			stock_destination = quantity;  
			});
		});
	$.get("/producers.json", function(data){
		$.each(data, function(index, value){
			var producer_id= value.id;
			var quantity2=0;
			$.get("/producers/"+producer_id+"/empty_packs_producer_moves.json", function(data){				
		  	$.each(data, function(index, value){
				
				if(value.pack_type_id==pack_id.value){	
					if(value.pack_option=="ingreso"){
						quantity2 = quantity2 + value.quantity;
					}
					else{
						quantity2 = quantity2 - value.quantity;
					}
		 		}
			});
			var stock_pack_type = document.getElementById('stockDestination');
			stock_pack_type.value = stock_destination+quantity2; 
		    });
		});
	});						
	});
}

</script>

<!-- Selector de Destinos -->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag 'Destino'%>
	 <em class="formee-req">*</em> 
	</div>
	<% @destinations_array = Destination.where(:company_id => current_user.company_id).map { |destination| [destination.name, destination.id] } %>
	<div class="forme-in">
	 <%= select_tag "Destination", options_for_select(@destinations_array), :prompt => "Seleccione un Destino", :onchange => "show_rut_destination(this)"%>
	</div>
</div>
<!-- Rut de Destino -->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag "rut"  %>
	</div>
	<div class="forme-in ">
	 <input id="rut_destination" value="-" disabled="true"></input>
	</div>
</div>
<!-- RadioButton ingreso/despacho -->
<div class="line-forme">
	<div class="forme-lab">
		<label>Opcion</label>
		<em class="formee-req">*</em><br />
	</div>
	<div class="forme-in">
		<input id="radioDestination1"type="radio" name="option" value="ingreso">Ingreso
		<input id="radioDestination2"type="radio" name="option" value="despacho">Despacho
	</div>
</div>	
<!-- Selector de envases -->
<div class="line-forme">
	<div class="forme-lab">
		<%= label_tag 'Envase'%>
		<em class="formee-req">*</em> 
	</div>
	<% @pack_types_array = PackType.where(:company_id => current_user.company_id).map { |pack_type| [pack_type.name, pack_type.id] } %>
	<div class="forme-in">
	 <%= select_tag "mySelectDestination", options_for_select(@pack_types_array), :prompt => "Seleccione un Envase",:onchange => "stock_calculate_destination(this)" %>
	</div>
</div>
<!-- Stock de los envases-->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag 'Stock'%> 
	</div>    
	<div class="forme-in">
		<input id="stockDestination" value="-" disabled="true"></input>
	</div>  
</div>
<!--Cantidad del envese selectionado-->
<div class="line-forme">
	<div class="forme-lab">
	<%= label_tag 'Cantidad'%>
	 <em class="formee-req">*</em>
	</div>    
	<div class="forme-in">
		<input id="quantityDestination" type="text"><br>
	</div>  
</div>	
<!--Tabla que muestra la cuenta del productor selecionado-->
<table id="tableDestination" cellpadding="0" cellspacing="0" border="0" class="display datatable">
	<thead>
    <tr>
    	<th style="display:none">Id</th>
    	<th>Envantce</th>
      <th>Cantidad</th>
    </tr>
  </thead>
	<tbody>
		<% @packtypes = PackType.where(:company_id => current_user.company_id)%>
		<% @packtypes.each do |packtype| %>
 		<tr>
	    	<td style="display:none"><%= packtype.id%></td>
	      <td><%= packtype.name%></td>
			<td>0</td>
		</tr>
		<%end%>
  </tbody>
</table>
<div class="headContent">
  <h1>Envases</h1>
</div>
<div class="box">
<!--Boton para agregar datos a la tabla -->
<button type="button" onclick="new_pack_destination()" class="button blue alignright">Agregar</button>
<!--Tabla que muestra los datos agregados de destino-->
<table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="myTableDestination">
	<thead>
    <tr>
		<th>Envase</th>
   	<th>Cantidad</th>
   	<th>Opcion</th>
   	<th>Acción</th>
    </tr>
  </thead>
	<tbody id="tBody">
		<tr style="display:none">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
  </tbody>
</table>
</div>
<div class="foot-box">
<!--Boton que termina el proceso y agrega todos los datos a la base de datos-->
 <%= link_to 'Cancelar', empty_packs_path, :class => "button silver alignright" %>
<a class = "button green alignright" data-role="button" onclick="add_db_destination()">Guardar</a>
</div>

