<script type="text/javascript">
var pack_type_array = new Array();
var count=0;
var stock=0;


function show_rut1(s){
	if(s.value == ""){
		var inputRut = document.getElementById('rut1');
	 	inputRut.value = "-";
	 	var inputCodigo = document.getElementById('codigo1');
	 	inputCodigo.value = "-";
		
		var table2 = document.getElementById('table2');
		for(var i=1; i<table2.rows.length; i+=1){
			table2.rows[i].cells[2].innerHTML=0;			
		}
	}
	else
	{
	 $.get("/producers/"+s.value+".json", function(data) {
	    var inputRut = document.getElementById('rut1');
	    inputRut.value = data.rut;

	    var inputCodigo = document.getElementById('codigo1');
	    inputCodigo.value = data.sag_code;
	 });
	}
	//Calculo de envases del productor
	$.get("/pack_types.json", function(data){
		$.each(data, function(index, value){
			var pack_type_id=value.id;
			//alert("Tipo de Envase="+pack_type_id);
			var quantity=0;
			$.get("/producers/"+s.value+"/empty_packs_producer_moves.json", function(data){
		  	$.each(data, function(index, value){
				if(value.pack_type_id==pack_type_id)
				{	
					if(value.pack_option=="ingreso")
						{
							quantity = quantity + value.quantity;
						}
						else
						{
							quantity = quantity - value.quantity;
						}
		 		}

			});
			//Insertamos la cantidad en la celda
			var table2 = document.getElementById('table2');
			for(var i=0; i<table2.rows.length; i+=1){
				if(pack_type_id==table2.rows[i].cells[0].innerHTML)
				{
			  		table2.rows[i].cells[2].innerHTML=quantity;
				}
			}  
			});
		});		
	});
	stock_pack_type();
}
function clear_field(){
	var radio1 =document.getElementById('radio1');
	var radio2 =document.getElementById('radio2');
	var select = document.getElementById("mySelect");
	var quantity =document.getElementById('quantity');

	radio1.checked=false;
	radio2.checked=false;
	select.value="";
	quantity.value="";
}
function pack(pack_type_id,producer_id,pack_type,quantity,option,id){
	this.pack_type_id = pack_type_id;
	this.producer_id = producer_id;
	this.pack_type = pack_type;
	this.quantity = quantity;
	this.option = option;
	this.id = id;
}
function listar(){
	for(i=0; i<pack_type_array.length;i++){

		console.log(pack_type_array[i].pack_type_id+","+pack_type_array[i].producer_id+","+pack_type_array[i].pack_type+","+pack_type_array[i].quantity+","+pack_type_array[i].option);
	}
}
function validate_radio(radio1,radio2){
	if(!radio1.checked && !radio2.checked)
	{
		alert("Debes selecionar una opcion");
		return false;
	}
	else{return true;}
}
function validate_quantity(q){
	if(q.length==0){
		alert("La cantidad no puedes estar en blanco");
		return false;
	}
	else if(isNaN(q))
	{
		alert("Solo debes ingresar números");
		return false;
	}
	else if(q<0)
	{
		alert("Solo debes ingresar números postivos");
		return false;
	}
	else{
		return true;
	}
}
function validate_stock(q,option,stock){
	var flag = true;

	if(option=="despacho")
	{	
	   if((stock-q)<0){
	   	alert("No tienes stock");
	   	flag=false;
	   }
	}
	return flag;
}
function validate_pack_type(pack_type){
	if(pack_type==""){
		alert("Debes selecionar un tipo de envase");
		return false;
	}
	else{
		return true;
	}
}
function validate_register(pack_id,option){
	var flag = true;
	for (var i = 0 ; i<pack_type_array.length;i++){
		if(pack_type_array[i].pack_type_id==pack_id){
			flag=false;
			alert("No puede realizar 2 "+option+"s del mismo tipo de envase");	
		}
	}
	return flag;
}
function validate_producer(producer){
	console.log(producer);
	if(producer==""){
		alert("Debes seleccionar un productor");
		return false;
	}
	else{
	return true;
	}
}	
function new_pack(){
	var radio1 =document.getElementById('radio1');
	var radio2 =document.getElementById('radio2');
	var quantity =document.getElementById('quantity').value;
	var selectp = document.getElementById("Productores1").value;
	var select = document.getElementById("mySelect");

	if(validate_producer(selectp)==true){
		if(validate_radio(radio1,radio2)==true){		
			var option;
			if(radio1.checked){
				option = radio1.value;
			}
			else{
				option = radio2.value;
			}	
			if(validate_quantity(quantity)==true){
				
				var stock = document.getElementById('stock').value;		
				if(validate_stock(quantity,option,stock)==true){
					console.log(option);
					if(validate_pack_type(select.value)==true){
						
						if(validate_register(select.value,option)==true){
							var pack_add = new pack(select.value,selectp,select.options[select.selectedIndex].text,quantity,option,count);
							pack_type_array.push(pack_add);
							displayResult(pack_add);
							clear_field();
						}
					}

				}
			}
		}
	}
}
function disabled_producer(){
	var producer = document.getElementById('Productores1');
	if(pack_type_array.length==0){
		producer.disabled=false;
		$('#destination_id').attr("href","#tab2");
		
	}
	else{	
		producer.disabled=true;

		$('#destination_id').attr("href","#tab1");
	}
}
function displayResult(pack_add){
	
	disabled_producer();
	var button = '<a id="'+count+'" align="center" 	onclick="delete_row(this)">Eliminar</a>';	
		$('#myTable').dataTable().fnAddData(
		[pack_add.pack_type,pack_add.quantity,pack_add.option,
 		button]);
 	count++;		
}
function delete_row(b){
	var table = document.getElementById("myTable");
	var parent= b.parentNode;	
	while(parent.nodeName.toLowerCase()!='tr'){
		parent = parent.parentNode;
	}
	$('#myTable').dataTable().fnDeleteRow(parent);
	
	for(i=0; i<pack_type_array.length;i++){
		if(pack_type_array[i].id==b.id){
			pack_type_array.splice(i, 1);			
		}
	}
	disabled_producer();	
}
function add_db(){
	if(pack_type_array.length==0){
		alert("Debes agregar envases");
	}
	else{

		var last = "<%=@code[0]%>";
		var code_producer;
		console.log(last);
		if(last==[])
		{
			code_producer=0;
		}
		else{
			code_producer= parseInt(last)+1;
		}

		for(var i=0; i<pack_type_array.length; i+=1){
		  	$.ajax({
				url: "/producers/"+pack_type_array[i].producer_id+"/empty_packs_producer_moves",
		 		type: "POST",
		    	data: {empty_packs_producer_move:{producer_id: pack_type_array[i].producer_id,pack_type_id: pack_type_array[i].pack_type_id,quantity: pack_type_array[i].quantity,pack_option: pack_type_array[i].option,code: code_producer}},
		 	}).done(function(data){

	             window.location = "/empty_packs"
	         });
		}
	}
}
function stock_calculate_producer(){
	stock=0;
	var pack_id = document.getElementById('mySelect');
	
	$.get("/producers.json", function(data){
		$.each(data, function(index, value){
			var producer_id= value.id;
			var quantity=0;
			$.get("/producers/"+producer_id+"/empty_packs_producer_moves.json", function(data){				
		  	$.each(data, function(index, value){
				
				if(value.pack_type_id==pack_id.value){	
					if(value.pack_option=="ingreso"){
						quantity = quantity + value.quantity;
					}
					else{
						quantity = quantity - value.quantity;
					}
		 		}
			});
			stock = quantity;  
			});
		});		
	
	$.get("/destinations.json", function(data){
		$.each(data, function(index, value){
			var destination_id= value.id;
			var quantity2=0;
			$.get("/destinations/"+destination_id+"/empty_packs_destination_moves.json", function(data){				
		  	$.each(data, function(index, value){
				
				if(value.pack_type_id==pack_id.value){	
					if(value.pack_option=="ingreso"){
						quantity2 = quantity2 + value.quantity;
					}
					else{
						quantity2 = quantity2 - value.quantity;
					}
		 		}
			});
			var stock_pack_type = document.getElementById('stock');
			stock_pack_type.value = stock+quantity2; 
		    });
		});
	});				



	});
}
</script>

<!--Selector de productores-->
<div class="line-forme">
	<div class="forme-lab">
 		<%= label_tag 'Productor'%>
 		 <em class="formee-req">*</em> 
	</div>
	<% @producers_array = Producer.where(:company_id => current_user.company_id).map { |producer| [producer.name, producer.id] } %>
	<div class="forme-in">
		<%= select_tag "Productores1", options_for_select(@producers_array), :prompt => "Seleccione un Productor", :onchange => "show_rut1(this)" %>
	</div>
</div>
<!--Rut de productor seleccionado-->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag "rut"  %>
	 	
	</div>
	<div class="forme-in ">
	 <input id="rut1" value="-" disabled="true"></input>
	</div>
</div>
<!--Codigo sag del productores selecionado-->
<div class="line-forme">
	<div class="forme-lab">
		<%= label_tag "Cod. Productor"%>
	</div>
	<div class="forme-in">
	 <input id="codigo1" value="-" disabled="true"></input>
	</div>
</div>
<!--RadioButton ingreso/despacho-->
<div class="line-forme">
	<div class="forme-lab">
		<label>Opcion</label>
		 <em class="formee-req">*</em><br />
	</div>
	<div class="forme-in">
		<input id="radio1" type="radio" name="option" value="ingreso">Ingreso
		<input id="radio2" type="radio" name="option" value="despacho">Despacho
	</div>
</div> 
<!--Selector de envases-->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag 'Envase'%>
	 <em class="formee-req">*</em> 
	</div>
	<% @pack_types_array = PackType.where(:company_id => current_user.company_id).map { |pack_type| [pack_type.name, pack_type.id] } %>
	<div class="forme-in">
	 <%= select_tag "mySelect", options_for_select(@pack_types_array), :prompt => "Seleccione un Envase" ,:onchange => "stock_calculate_producer()"%>
	</div>
</div>
<!--Stock del envase selecionado-->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag 'Stock'%>
	
	</div>    
	<div class="forme-in">
		<input id="stock" value="-" disabled="true"	></input>
	</div>  
</div>
<!--Cantidad del envase selecionado-->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag 'Cantidad'%>
	  <em class="formee-req">*</em> 
	 </div>    
	<div class="forme-in">
		<input id="quantity" type="text"><br>
	</div>  
</div>

<!--Tabla que muestra la cuenta del productor selecionado-->
<table id="table2" cellpadding="0" cellspacing="0" border="0" class="display datatable">
	<thead>
    <tr>
    	<th style="display:none">Id</th>
    	<th>Envanse</th>
      <th>Cantidad</th>
    </tr>
  </thead>
	<tbody>
		<% @packtypes = PackType.where(:company_id => current_user.company_id)%>
		<% @packtypes.each do |packtype| %>
    <tr>
    	<td style="display:none"><%= packtype.id%></td>
      <td><%= packtype.name%></td>
		<td>0</td>
		</tr>
		<%end%>
  </tbody>
</table>
<div class="headContent">
  <h1>Envases</h1>
</div>
<div class="box">
<!--Boton que agregar los datos a la tabla-->
<button type="button" onclick="new_pack()" class="button blue alignright">Agregar</button>
<!--Tabla que muestra los datos agregados a la tabla-->
<table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="myTable">
	<thead>
   	<tr>
    	
    	<th>Envase</th>
      	<th>Cantidad</th>
      	<th>Opcion</th>
	  	<th>Acción</th>
	</tr>
  </thead>
	<tbody id="tBody">
		<tr style="display:none">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
  </tbody>
</table>
</div>
<div class="foot-box">
<!--Boton que termina el proceso y agrega todos los datos a la base de datos-->
 <%= link_to 'Cancelar', empty_packs_path, :class => "button silver alignright" %>
<a class = "button green alignright" data-role="button" onclick="add_db()">Guardar</a>
</div>


