<script type="text/javascript">
var pack_type_array = new Array();
/***Funciones relacionadas con modificar los input del html***************/
/*Agrega el rut y codigo sag del productor ademas cuenta los tipos de envases que le perteneces y los agrega a la tabla */
function show_rut1(s){
	//Busqueda del codigo sag y rut del productor
	if(s.value == "")
	{
	 var inputRut = document.getElementById('rut1');
	 inputRut.value = "-";

	 var inputCodigo = document.getElementById('codigo1');
	 inputCodigo.value = "-";
	}
	else
	{
	 $.get("/producers/"+s.value+".json", function(data) {
	    var inputRut = document.getElementById('rut1');
	    inputRut.value = data.rut;

	    var inputCodigo = document.getElementById('codigo1');
	    inputCodigo.value = data.sag_code;
	 });
	}
	//Calculo de envases del productor
	$.get("/pack_types.json", function(data){
		$.each(data, function(index, value){
			var pack_type_id=value.id;
			//alert("Tipo de Envase="+pack_type_id);
			var quantity=0;
			$.get("/producers/"+s.value+"/empty_packs_producer_moves.json", function(data){
		  	$.each(data, function(index, value){
				if(value.pack_type_id==pack_type_id)
				{	
					if(value.pack_option=="ingreso")
						{
							quantity = quantity + value.quantity;
						}
						else
						{
							quantity = quantity - value.quantity;
						}
		 		}

			});
			//Insertamos la cantidad en la celda
			var table2 = document.getElementById('table2');
			for(var i=0; i<table2.rows.length; i+=1){
				if(pack_type_id==table2.rows[i].cells[0].innerHTML)
				{
			  		table2.rows[i].cells[2].innerHTML=quantity;
				}
			}  
			});
		});		
	});
	stock_pack_type();
}
/*Cuenta la cantidad de envases del tipo especificado de la compañia*/
function show_stock(s){
	for(var i=0;i<pack_types.length;i++)
	{
		if(s.value==pack_types[i].pack_id)
		{	var inputStock = document.getElementById('stock');
			inputStock.value =pack_types[i].quantity;
		}
	}
}
/*Modifica el stock cuando es cambiado*/
function show_stock2(){
	var selectP = document.getElementById("mySelect").value;
	for(var i=0;i<pack_types.length;i++)
	{
		if(selectP==pack_types[i].pack_id)
		{	var inputStock = document.getElementById('stock');
			inputStock.value =pack_types[i].quantity;
		}
	}
}
/****************************************************************************/
function pack(pack_type_id,producer_id,pack_type,quantity,option){
	this.pack_type_id = pack_type_id;
	this.producer_id = producer_id;
	this.pack_type = pack_type;
	this.quantity = quantity;
	this.option = option;
}
function listar(){
	for(i=0; i<pack_type_array.length;i++){

		console.log(pack_type_array[i].pack_type_id+","+pack_type_array[i].producer_id+","+pack_type_array[i].pack_type+","+pack_type_array[i].quantity+","+pack_type_array[i].option);
	}
}
function validate_radio(radio1,radio2){
	if(!radio1.checked && !radio2.checked)
	{
		alert("Debes selecionar una opcion");
		return false;
	}
	else{return true;}
}
function validate_quantity(q){
	if(q.length==0){
		alert("La cantidad no puedes estar en blanco");
		return false;
	}
	else if(isNaN(q))
	{
		alert("Solo debes ingresar números");
		return false;
	}
	else if(q<0)
	{
		alert("Solo debes ingresar números postivos");
		return false;
	}
	else{
		return true;
	}
}
function new_pack(){
	var radio1 =document.getElementById('radio1');
	var radio2 =document.getElementById('radio2');
	var quantity =document.getElementById('quantity').value;
	var selectp = document.getElementById("Productores1").value;
	var select = document.getElementById("mySelect");
	var quantity =document.getElementById('quantity').value;

	
	if(validate_radio(radio1,radio2)==true)
	{
		if(validate_quantity(quantity)==true)
		{			
			var pack_add = new pack(select.value,selectp,select.options[select.selectedIndex].text,quantity,"");
			if(radio1.checked){
				pack_add.option = radio1.value;
			}
			else{
				pack_add.option = radio2.value;
			}
			pack_type_array.push(pack_add);
			displayResult(pack_add);
		}
	}
}
/*************Funciones relacionada con la tabla de ingresos*********************/
/*Agregar un movimiento de envases a la tabla*/
function displayResult(pack_add){
	//Validar las opciones de ingreso de despacho
	var selectp = document.getElementById("Productores1").value;
	if(selectp.length!=0)
		{
			var deshabilitarP = document.getElementById("Productores1")
			deshabilitarP.disabled=true;
		}
		var button = '<a id="'+pack_add.producer_id+'"align="center" onclick="borrarFila(this)">Eliminar</a>';	
		$('#myTable').dataTable().fnAddData(
			[pack_add.pack_type,pack_add.quantity,pack_add.option,
			 button
			]);  	
}
/*Borrar la fila selecionada de la tabla*/
function borrarFila(b){
	var table = document.getElementById("myTable");
	var parent= b.parentNode;
	
	while(parent.nodeName.toLowerCase()!='tr'){
		parent = parent.parentNode;
	}
	$('#myTable').dataTable().fnDeleteRow(parent);
	for(var i=0;i<pack_type_array.length;i++){
		if(pack_type_array[i].producer_id==parent.childNodes[0].id){
			pack_type_array.remove[i];
		}
	}


}
/*****************************************************************************/

/*****************Funcion relacionada con la base de datos********************/
/*Agrega los datos de la myTable a la base de datos empty_packs_producer_moves*/
function add_db(){
	
	for(var i=0; i<pack_type_array.length; i+=1){
	  
	  	$.ajax({
			url: "producers/"+pack_type_array[i].producer_id+"/empty_packs_producer_moves",
	 		type: "POST",
	    	data: {empty_packs_producer_move:{producer_id: pack_type_array[i].producer_id,pack_type_id: pack_type_array[i].pack_type_id,quantity: pack_type_array[i].quantity,pack_option: pack_type_array[i].option}},
	 	}).done(function(data){

             window.location = "/empty_packs"
         });
		
	}
}
/******************************************************************************/
</script>  

<!--Selector de productores-->
<div class="line-forme">
	<div class="forme-lab">
 		<%= label_tag 'Productor'%> 
	</div>
	<% @producers_array = Producer.where(:company_id => current_user.company_id).map { |producer| [producer.name, producer.id] } %>
	<div class="forme-in">
		<%= select_tag "Productores1", options_for_select(@producers_array), :prompt => "Seleccione un Productor", :onchange => "show_rut1(this)" %>
	</div>
</div>
<!--Rut de productor seleccionado-->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag "rut"  %>
	</div>
	<div class="forme-in ">
	 <input id="rut1" value="-" disabled="true"></input>
	</div>
</div>
<!--Codigo sag del productores selecionado-->
<div class="line-forme">
	<div class="forme-lab">
		<%= label_tag "Cod. Productor"%>
	</div>
	<div class="forme-in">
	 <input id="codigo1" value="-" disabled="true"></input>
	</div>
</div>
<!--RadioButton ingreso/despacho-->
<div class="line-forme">
	<div class="forme-lab">
		<label>Opcion</label><br />
	</div>
	<div class="forme-in">
		<input id="radio1" type="radio" name="option" value="ingreso">Ingreso
		<input id="radio2" type="radio" name="option" value="despacho">Despacho
	</div>
</div> 
<!--Selector de envases-->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag 'Envase'%> 
	</div>
	<% @pack_types_array = PackType.all.map { |pack_type| [pack_type.name, pack_type.id] } %>
	<div class="forme-in">
	 <%= select_tag "mySelect", options_for_select(@pack_types_array), :prompt => "Seleccione un Envase" ,:onchange => "show_stock(this)"%>
	</div>
</div>
<!--Stock del envase selecionado-->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag 'Stock'%> 
	</div>    
	<div class="forme-in">
		<input id="stock" value="-" disabled="true"></input>
	</div>  
</div>
<!--Cantidad del envase selecionado-->
<div class="line-forme">
	<div class="forme-lab">
	 <%= label_tag 'Cantidad'%> 
	 </div>    
	<div class="forme-in">
		<input id="quantity" type="text"><br>
	</div>  
</div>

<!--Tabla que muestra la cuenta del productor selecionado-->
<table id="table2" cellpadding="0" cellspacing="0" border="0" class="display datatable">
	<thead>
    <tr>
    	<th style="display:none">Id</th>
    	<th>Envantce</th>
      <th>Cantidad</th>
    </tr>
  </thead>
	<tbody>
		<% @packtypes = PackType.all%>
		<% @packtypes.each do |packtype| %>
    <tr>
    	<td style="display:none"><%= packtype.id%></td>
      <td><%= packtype.name%></td>
		<td>0</td>
		</tr>
		<%end%>
  </tbody>
</table>
<div class="headContent">
  <h1>Envases</h1>
</div>
<div class="box">
<!--Boton que agregar los datos a la tabla-->
<button type="button" onclick="new_pack()" class="button blue alignright">Agregar</button>
<!--Tabla que muestra los datos agregados a la tabla-->
<table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="myTable">
	<thead>
   	<tr>
    	
    	<th>Envase</th>
      	<th>Cantidad</th>
      	<th>Opcion</th>
	  	<th>Acción</th>
	</tr>
  </thead>
	<tbody id="tBody">
		<tr style="display:none">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
  </tbody>
</table>
</div>
<div class="foot-box">
<!--Boton que termina el proceso y agrega todos los datos a la base de datos-->
 <%= link_to 'Cancelar', empty_packs_path, :class => "button silver alignright" %>
<a class = "button green alignright" data-role="button" onclick="add_db()">Guardar</a>
</div>


