<p><%= t('.greeting', :recipient => @resource.email, :default => "Hola #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "Alguien a solicitado cambiar tu contraseña, puedes hacerlo con el link de abajo.") %></p>

<p><%= link_to t('.action', :default => "Cambiar mi contrasena"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('.instruction_2', :default => "Si usted no solicito esto, por favor ignore este mensaje") %></p>
<p><%= t('.instruction_3', :default => "Tu contraseña no sera cambiada hasta que entres al vinculo y ingreses una contraseña nueva.") %></p>
