<div class="headContent">
  <h1>Productos</h1>
</div>
<div class="box">
  <p id="notice" class="alignleft"><%= notice %> </p>
  <table >
    <td>
    <div class="headContent">
      <h1>Nueva Especie</h1>
    </div>

    <% @kind_or_variety = "kind" %>
    <%= render 'form' %>
    <br>

    <div class="headContent">
      <h1>Especies</h1>
    </div>
    <div class="box">
      <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th colspan="3" style="width:20% !important;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @kinds.each do |kind| %>
          <tr align="center">
            <td><%= kind.name %></td>
            <td><%= link_to 'Ver', kind %>
            <%= link_to 'Editar', edit_kind_path(kind) %>
            <%= link_to 'Eliminar', kind, method: :delete, data: { confirm: '¿Está seguro de eliminar esta especie?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </td>
    

    <td>
    <div class="headContent">
      <h1>Nueva Variedad</h1>
    </div>

    <% @kind_or_variety = "variety" %>   
    <%= render 'form' %>
    <br>
    
    <div class="headContent">
      <h1>Variedades</h1>
    </div>
    <div class="box">
      <table cellpadding="0" cellspacing="0" border="0" class="display datatable">
        <thead>
          <tr>
            <th style="width:20% !important;">Nombre</th>
            <th>Especie</th>
            <th style="width:20% !important;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @varities.each do |variety| %>
            <tr align="center">
              <td><%= variety.name %></td>
              <td><%= Kind.find(variety.kind_id).name %></td>
              <td><%= link_to 'Ver', variety %>
              <%= link_to 'Editar', edit_variety_path(variety) %>
              <%= link_to 'Eliminar', variety, method: :delete, data: { confirm: '¿Está seguro de eliminar esta variedad?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </td>
  </table>
</div>