<script type="text/javascript">
var oTable = {}
var registers = new Array();
var id_count = 0;
var modified = false;
var idReg = 0;
var posTable = 0;
var config = 'pack_pallet';
  
    $(document).ready(function(){
      $("#receipt_kind_id").change(function(){
        show_variety(this);
      });
    });

    $(function() {
      config = load_config();
      $("#save").hide();
      $("#cancel").hide();

      oTable = $('#tablealone').dataTable({
        "sPaginationType": "full_numbers",
        "bJQueryUI": true,
        "aoColumnDefs": [
          { "bSortable": false, "aTargets": [ -1 ] },
          { "bSearchable": false, "aTargets": [ -1 ]}
        ] } );

      $("#tablealone tbody").delegate(".del", "click", function () {
          var parent = $(this).parent().parent().get( 0 );
          var iPos = oTable.fnGetPosition(parent);
          if (iPos !== null) {
              oTable.fnDeleteRow(iPos);
              var name = $(this).attr("name");
              delete registers[name];
              $("#save").hide();
              $("#cancel").hide();
              $("#agregar").show();
              clean_form();
      }});

      $("#tablealone tbody").delegate(".edit", "click", function () {
          var parent = $(this).parent().parent().get( 0 );
          var iPos = oTable.fnGetPosition(parent);

          if (iPos !== null) {
              //oTable.fnDeleteRow(iPos);
              posTable = iPos
              var name = $(this).attr("name");
              idReg = name;
              var code = registers[name].code;
              var gross_weight = registers[name].gross_weight;
              var pack_type_id = registers[name].pack_type_id;
              var price_per_unit = registers[name].price_kg;
              var quality_id = registers[name].quality_id;
              var quantity = registers[name].quantity;
              var tare = registers[name].tare;
              var variety_id = registers[name].variety_id;
              var is_pallet = registers[name].is_pallet;

              clean_form();

              $("#select_variety").val(variety_id);
              $("#pallet_quality_id").val(quality_id);
              $("#pallet_price_per_unit").val(price_per_unit);
              $("#pallet_pack_type_id").val(pack_type_id);
              $("#pallet_quantity").val(quantity);
              $("#pallet_gross_weight").val(gross_weight);
              if (config == 'pack_pallet') 
              {
                $('#check').prop('checked', false);
                
              };
              if (config == 'pallet' || config == 'pack_pallet')  
              {
                $("#code").prop("disabled",true);
                $("#destare").prop("disabled",true);
              };

              if (is_pallet)
              {
                if (config == 'pack_pallet') 
                {
                  $('#check').prop('checked', true);
                };
                if (config == 'pallet' || config == 'pack_pallet') 
                {
                  $("#code").prop("disabled",false);
                  $("#destare").prop("disabled",false);
                  $("#code").val(code);
                  $("#destare").val(tare)
                };
                
              }
              $("#save").show();
              $("#cancel").show();
              $("#agregar").hide();

              //$("#destare").val("");
              //delete registers[name];
              //console.log(registers);

      }});
      
      $("#save").click(function() {
        var variety_id = $("#select_variety").val();
        var variety_name = $("#select_variety option[value='"+variety_id+"']").text();
        var quality_id = $("#pallet_quality_id").val();
        var quality_name = $("#pallet_quality_id option[value='"+quality_id+"']").text();
        var price_kg = $("#pallet_price_per_unit").val();
        var pack_type_id = $("#pallet_pack_type_id").val();
        var quantity = $("#pallet_quantity").val();
        var gross_weight = $("#pallet_gross_weight").val();

        if (config == 'pack_pallet') 
        {
          is_pallet = $("#check").is(':checked'); //true pallet
          if(is_pallet)
          {
            code = $("#code").val();
            tare = $("#destare").val();
          }
          else
          {
            code = 'No aplica';
            tare = 0;
          }
        }
          else if (config == 'pallet') 
        {
          is_pallet = true;
          code = $("#code").val();
          tare = $("#destare").val();
        }
        else
        {
          is_pallet = false;
          code = 'No aplica';
          tare = 0;
        }   

        var pack_type_tare = get_pack_type_tare(pack_type_id);

        var net_weight = gross_weight - (pack_type_tare * quantity) - tare;

        var row = new Array(code, quantity, net_weight, variety_name, quality_name, price_kg, "<a class='del' name="+idReg+">Eliminar</a> <a class='edit' name="+idReg+">Editar</a>");

        var new_register = new register(variety_id, quality_id, price_kg, pack_type_id, quantity, gross_weight, code, tare, is_pallet, idReg);

        registers[idReg] = new_register;
        oTable.fnUpdate( row, posTable );
        $("#save").hide();
        $("#cancel").hide();
        $("#agregar").show();
        clean_form();
      });
      
      $("#cancel").click(function() {
        $("#save").hide();
        $("#cancel").hide();
        $("#agregar").show();
        clean_form();
      });

      $(".chzn-select").chosen().change(function() {
          var id = $(this).val();
          document.getElementById('select_producer').value = id;
          document.getElementById('select_rut').value = id;
          document.getElementById('select_code').value = id;
          document.getElementById('select_sag_code').value = id;
          $('#select_producer').trigger('liszt:updated');
          $('#select_rut').trigger('liszt:updated');
          $('#select_code').trigger('liszt:updated');
          $('#select_sag_code').trigger('liszt:updated');
      });
    });

  function load_kinds(producer)
  {
    $.get("/producers/"+producer.value+"/kinds.json", function(data) {
        $('#receipt_kind_id')
            .find('option')
            .remove()
            .end()
            .append('<option value="prompt">- Seleccione especie -</option>')
            .val('prompt');
      $.each(data, function(index, value){
        $("#receipt_kind_id").append(new Option(value.name, value.id));
      });
    });
  }

  function show_rut(producer) {

    if(producer.value == "")
    {      
      $('#rut').val(""); 
      $('#codigo').val("");
      $('#codigo_sag').val("");
    }
    else
    {
      load_kinds(producer);
      $.get("/producers/"+producer.value+".json", function(data) {
        $('#rut').val(data.rut); 
        $('#codigo').val(data.code);
        $('#codigo_sag').val(data.sag_code);
      });
    }
  }

  function checkedPallet() {
    if (check.checked == 0) {
      $("#code").prop("disabled",true);
      $("#destare").prop("disabled",true);
      $("#code").val("");
      $("#destare").val("");
      $('#receipt_kind_id').prop("disabled",false);
    } 
    else{
      $("#code").prop("disabled",false);
      $("#destare").prop("disabled",false);

      if(!$.isNumeric($('#receipt_kind_id').val()))
      {
        $('#receipt_kind_id').prop("disabled",false);
        $('#check').attr("checked", false);
        $("#kind_error").text("Seleccione una Especie antes");
        $("#code").prop("disabled",true);
        $("#destare").prop("disabled",true);
      }
      else
      {
        $('#receipt_kind_id').prop("disabled",true);
      }
    }
  }

  function load_config () {
    var setting = 'pack_pallet';
    $.ajax({
      url: "/settings.json",
      dataType: 'json',
      async: false,
      success: function(data){
          $.each(data,function(index, value){
            setting = value.key;
          });
      }
    });
    return setting;
  }

  window.onbeforeunload = function () {    
    if (modified) {
      return "Los cambios no guardados se perderan";
    }
  }

  function set_modified (argument) {
    modified = argument;
  }

  function register (variety_id, quality_id, price_kg, pack_type_id, quantity, gross_weight, code, tare, is_pallet, id) {
    this.variety_id = variety_id;
    this.quality_id = quality_id;
    this.price_kg = price_kg;
    this.pack_type_id = pack_type_id;
    this.quantity = quantity;
    this.gross_weight =gross_weight;
    this.code = code;
    this.tare = tare;
    this.is_pallet = is_pallet;
    this.id = id;
  }

  function post () {
    if(registers.length > 0)
    {
      //obtener datos de ingreso
      var kind_id = $("#receipt_kind_id").val();
      var producer_id = $("#select_producer").val();

      //crear datetime
      var year = $("#receipt_receipt_datetime_1i").val();
      var month = $("#receipt_receipt_datetime_2i").val();
      var day = $("#receipt_receipt_datetime_3i").val();
      var hour = $("#receipt_receipt_datetime_4i").val();
      var minute = $("#receipt_receipt_datetime_5i").val();
      var receipt_datetime = year+"-"+month+"-"+day+" "+hour+":"+minute+":00";

      $.ajax({  
        url: "/receipts",  
        type: "POST", 
        dataType: "json",
        async: false,
        data: { receipt : { kind_id: kind_id, producer_id: producer_id, receipt_datetime: receipt_datetime } },
        success: function(data){ 
          add_registers_to(data.id, data.producer_id);
        },  
        error: function(){  
          alert("Error al registrar ingreso");  
        }  
      }); 
    }
    else
      alert("Lista de ingresos vacía");
  }

  function add_registers_to (receipt_id, producer_id) {
    for (var key in registers) {
      var register = registers[key];

      var code = register.code;
      var gross_weight = register.gross_weight;
      var pack_type_id = register.pack_type_id;
      var price_per_unit = register.price_kg;
      var quality_id = register.quality_id;
      var quantity = register.quantity;
      var tare = register.tare;
      var variety_id = register.variety_id;

      if(register.is_pallet){
        $.ajax({  
          url: "/pallets",  
          type: "POST", 
          dataType: "json",
          async: false,
          data: { pallet : {code: code, gross_weight: gross_weight, pack_type_id: pack_type_id, price_per_unit: price_per_unit, quality_id: quality_id, quantity: quantity, receipt_id: receipt_id, tare: tare, variety_id: variety_id} } });
      }
      else
      {
        $.ajax({  
          url: "/pack_group_receipts",  
          type: "POST", 
          dataType: "json",
          async: false,
          data: { pack_group_receipt : {gross_weight: gross_weight, pack_type_id: pack_type_id, price_per_unit: price_per_unit, quality_id: quality_id, quantity: quantity, receipt_id: receipt_id, variety_id: variety_id} } }); 
      }
      //agregar a envases prestados
    };
    set_modified(false);
    location.href = "/receipts";
  }

  function get_pack_type_tare (pack_type_id) {
    $.ajax({
      url: "/pack_types.json",
      dataType: 'json',
      async: false,
      success: function(data){
          $.each(data,function(index, value){
            if(value.id == pack_type_id)
            {
              tarep = value.tare;
            }
          });
      }
    });
    return tarep;
  }

  function clean_form () {
    $("#select_variety").val("");
    $("#pallet_quality_id").val("");
    $("#pallet_price_per_unit").val("");
    $("#pallet_pack_type_id").val("");
    $("#pallet_quantity").val("");
    $("#pallet_gross_weight").val("");

    if (config == 'pallet' || config == 'pack_pallet') 
    {
      $("#code").val("");
      $("#destare").val("");
    };
  }

  function add_register()
  {
    var variety_id = $("#select_variety").val();
    var variety_name = $("#select_variety option[value='"+variety_id+"']").text();
    var quality_id = $("#pallet_quality_id").val();
    var quality_name = $("#pallet_quality_id option[value='"+quality_id+"']").text();
    var price_kg = $("#pallet_price_per_unit").val();
    var pack_type_id = $("#pallet_pack_type_id").val();
    var quantity = $("#pallet_quantity").val();
    var gross_weight = $("#pallet_gross_weight").val();

    if (config == 'pack_pallet') 
    {
      is_pallet = $("#check").is(':checked'); //true pallet
      if(is_pallet)
      {
        code = $("#code").val();
        tare = $("#destare").val();
      }
      else
      {
        code = 'No aplica';
        tare = 0;
      }
    }
    else if (config == 'pallet') 
    {
      is_pallet = true;
      code = $("#code").val();
      tare = $("#destare").val();
    }
    else
    {
      is_pallet = false;
      code = 'No aplica';
      tare = 0;
    }

    var pack_type_tare = get_pack_type_tare(pack_type_id);

    var net_weight = gross_weight - (pack_type_tare * quantity) - tare;

    var id = id_count;
    id_count++;

    var new_register = new register(variety_id, quality_id, price_kg, pack_type_id, quantity, gross_weight, code, tare, is_pallet, id);

    registers[id_count] = new_register;

    var row = new Array(code, quantity, net_weight, variety_name, quality_name, price_kg, "<a class='del' name="+id_count+">Eliminar</a> <a class='edit' name="+id_count+">Editar</a>");
    $('#tablealone').dataTable().fnAddData(row);
    set_modified(true);
    clean_form();
  }
</script>

<script type="text/javascript">
  function show_variety(s)
  { 
    $("#kind_error").text("");
    if (s.value != '')
    {
      $.get("/varieties.json", function(data) {         
        var options = '<option value>- Seleccione variedad -</option>';
        $.each(data, function(i, item){ 
          if(item.kind_id == s.value){
            options += '<option value="' + item.id + '">' + item.name + '</option>';
          }
        });
        $("#select_variety").html(options);
      });
    }
  }
</script>

<script type="text/javascript">
  function isInteger(possibleInteger) {
    return !isNaN(parseInt(possibleInteger));
  }

  function validate_receipt () {
    var producer_id = ($("#select_producer").val());
    var kind_id = ($("#receipt_kind_id").val());

    $("#producer_div").removeClass("field_with_errors");
    $("#kind_div").removeClass("field_with_errors");

    var errorText = "<div id=error_explanation>";
    var isError = false;
    var contador_errores = 0;
    var errors = "";

    if(producer_id == ""){
      $("#producer_div").addClass("field_with_errors");
      errors = errors + "<li>Productor no puede estar en blanco</li>";
      contador_errores += 1;
      isError = true;
    }

    if(kind_id == ""){
      $("#kind_div").addClass("field_with_errors");
      errors = errors + "<li>Especie no puede estar en blanco</li>";
      contador_errores += 1;
      isError = true;
    }

    if(isError){
      errorText+= "<h2>"+contador_errores+" errores, no se puede guardar el ingreso";
      errorText+= "<ul>";
      errorText+= errors;
      errorText+= "</ul>";
      errorText+= "</div>";  
      document.getElementById("show_errors_receipt").innerHTML = errorText;
    }

    else{
      document.getElementById("show_errors_receipt").innerHTML = "";
      post();
    }
  }

  function errors_revision () {
    var variety_id = $("#select_variety").val();   
    var quality_id = $("#pallet_quality_id").val();
    var pack_type_id = $("#pallet_pack_type_id").val();
    var quantity = $("#pallet_quantity").val();
    var gross_weight = $("#pallet_gross_weight").val();

    if (config == 'pallet' || config == 'pack_pallet') 
    {
      var code = $("#code").val();
      var tare = $("#destare").val();
    };

    $("#variety_div").removeClass("field_with_errors");
    $("#quality_div").removeClass("field_with_errors");
    $("#pack_type_id_div").removeClass("field_with_errors");
    $("#quantity_div").removeClass("field_with_errors");
    $("#gross_weight_div").removeClass("field_with_errors");
    $("#code_div").removeClass("field_with_errors");
    $("#tare_div").removeClass("field_with_errors");

    var errorText = "<div id=error_explanation>";
    var isError = false;
    var contador_errores = 0;
    var errors = "";

    if(variety_id == ""){
      $("#variety_div").addClass("field_with_errors");
      errors = errors + "<li>Variedad no puede estar en blanco</li>";
      contador_errores += 1;
      isError = true;
    }

    if(quality_id == ""){
      $("#quality_div").addClass("field_with_errors");
      errors = errors + "<li>Calidad no puede estar en blanco</li>";
      contador_errores += 1;
      isError = true;
    }

    if(pack_type_id == ""){
      $("#pack_type_id_div").addClass("field_with_errors");
      errors = errors + "<li>Tipo de Envase no puede estar en blanco</li>";
      contador_errores += 1;
      isError = true;
    }

    if(quantity == ""){
      $("#quantity_div").addClass("field_with_errors");
      errors = errors + "<li>Cantidad de Envases no puede estar en blanco</li>";
      contador_errores += 1;
      isError = true;
    }

    if(!isInteger(quantity)){
      $("#quantity_div").addClass("field_with_errors");
      errors = errors + "<li>Cantidad de Envases no es un número</li>";
      contador_errores += 1;
      isError = true;
    }

    if(gross_weight == ""){
      $("#gross_weight_div").addClass("field_with_errors");
      errors = errors + "<li>Peso Bruto no puede estar en blanco</li>";
      contador_errores += 1;
      isError = true;
    }

    if(!isInteger(gross_weight)){
      $("#gross_weight_div").addClass("field_with_errors");
      errors = errors + "<li>Peso Bruto no es un número</li>";
      contador_errores += 1;
      isError = true;
    }

    if (config == 'pallet' || config == 'pack_pallet') 
    {
      if (check.checked == 1) {
        if(code == ""){
          $("#code_div").addClass("field_with_errors");
          errors = errors + "<li>Código Pallet no puede estar en blanco</li>";
          contador_errores += 1;
          isError = true;
        }

        if(!isInteger(code)){
          $("#code_div").addClass("field_with_errors");
          errors = errors + "<li>Código no es un número</li>";
          contador_errores += 1;
          isError = true;
        }

        if(tare == ""){
          $("#tare_div").addClass("field_with_errors");
          errors = errors + "<li>Destare Pallet no puede estar en blanco</li>";
          contador_errores += 1;
          isError = true;
        }   

        if(!isInteger(tare)){
          $("#tare_div").addClass("field_with_errors");
          errors = errors + "<li>Destare Pallet no es un número</li>";
          contador_errores += 1;
          isError = true;
        }
      }
    }

    if(isError){
      errorText+= "<h2>"+contador_errores+" errores, no se puede guardar el pallet o envase";
      errorText+= "<ul>";
      errorText+= errors;
      errorText+= "</ul>";
      errorText+= "</div>";  
      document.getElementById("show_errors").innerHTML = errorText;
    }

    else{
      document.getElementById("show_errors").innerHTML = "";
      add_register();
    }

  }
</script>



<div class="box">
  <div id = "show_errors_receipt">
</div>

<%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= @receipt.errors.count > 1 ? "#{@receipt.errors.count} errores." : "#{@receipt.errors.count} error." %> No se puede guardar el ingreso:</h2>
      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "contentSubPanel">
    
    
    <div class="line-forme">
      <div class="forme-lab">
        <label>Productor </label>
        <em class="formee-req">*</em>
      </div>
        <div class="forme-in">
          <div id="producer_div">
        <% @options = Producer.all.map { |p| [p.name, p.id] } %>
        <%= f.select(:producer_id, options_for_select(@options), {:selected => :prompt, :prompt => '- Seleccione productor - '} , :id => 'select_producer',:onchange => "show_rut(this)", :class => 'chzn-select') %>  
          </div>
      </div>

    </div>


    <div class="line-forme">
      <div class="forme-lab">
        <label>Rut </label>
        <em class="formee-req">*</em>
      </div>
        
      <div class="forme-in">
        <% @options = Producer.all.map { |p| [p.rut, p.id]} %>
        <%= f.select(:producer_id, options_for_select(@options), {:selected => :prompt, :prompt => '- Seleccione productor - '} , :id => 'select_rut',:onchange => "show_rut(this)", :class => 'chzn-select') %>
        

      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Código Interno Productor </label>
        <em class="formee-req">*</em>
      </div>
    
      <div class="forme-in">
        <% @options = Producer.all.map { |p| [p.code, p.id]} %>
        <%= f.select(:producer_id, options_for_select(@options), {:selected => :prompt, :prompt => '- Seleccione productor - '} , :id => 'select_code',:onchange => "show_rut(this)", :class => 'chzn-select') %>
        
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Código SAG Productor </label>
        <em class="formee-req">*</em>
      </div>
    
      <div class="forme-in">
        <% @options = Producer.all.map { |p| [p.sag_code, p.id]} %>
        <%= f.select(:producer_id, options_for_select(@options), {:selected => :prompt, :prompt => '- Seleccione productor - '} , :id => 'select_sag_code',:onchange => "show_rut(this)", :class => 'chzn-select') %>
        
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Especie </label>
        <em class="formee-req">*</em>
      </div>
      <div id="kind_div">
        <div class="forme-in">
          <%= f.select(:kind_id, "kind" ,:selected => :prompt, :prompt => '- Seleccione especie -', :onchange => "show_variety(this)") %>
        </div>
      </div>
    </div>


    <div class="line-forme">
      <div class="forme-lab">
        <label>Fecha </label>
        <em class="formee-req">*</em>
      </div> 
      <%= f.datetime_select :receipt_datetime %>         
    </div>

    <%= f.hidden_field :user_id, :value => 1 %>
    <%= f.hidden_field :company_id, :value => 1 %>
     
  
  </div>  
  <label> (
    <em class="formee-req">*</em>
  </label> ) Campos obligatorios.

    <!-- Panel de Pallets y Envases -->
  <div class = "contentSubPanel">
    <div class="headContent">
      <h1>Registrar</h1>
    </div>
    <div class="box">

<div id = "show_errors">

</div>


    <%= form_for([@pallet], :url => pallets_path) do |f| %>

      <% if @pallet.errors.any? %>
        <div id="error_explanation">
          <h2><%= @pallet.errors.count > 1 ? "#{@pallet.errors.count} errores." : "#{@pallet.errors.count} error." %> No se puede guardar el pallet:</h2>

          <ul>
          <% @pallet.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="line-forme">
        <div class="forme-lab">
          <label>Variedad</label>
          <em class="formee-req">*</em>
        </div>
        <div class="forme-in">
          <div id="variety_div">
            <% @options_varieties = Variety.all.map { |variety| [variety.name, variety.id] } %>
            <%= f.select(:variety_id, options_for_select(@options_varieties), {:selected => :prompt, :prompt => '- Seleccione variedad - '} , :id => 'select_variety') %> 
          </div>
        </div>
      </div>

      <div class="line-forme">
        <div class="forme-lab">
          <label>Calidad</label>
          <em class="formee-req">*</em>
        </div>
        <div class="forme-in">
          <div id="quality_div">
            <% quality_array = Quality.all.map { |quality| [quality.name, quality.id] } %>
            <%= f.select(:quality_id, quality_array, :selected => :prompt, :prompt => '- Seleccione calidad -')  %>
          </div>
        </div>
      </div>

      <div class="line-forme">
        <div class="forme-lab">
          <label>Precio por Kg. ($)</label>
        </div>
        <div class="forme-in">
          <div id="price_per_unit_div">
            <%= f.text_field :price_per_unit %>
          </div>
        </div>
      </div>

      <div class="line-forme">
        <div class="forme-lab">
          <label>Tipo Envase</label>
          <em class="formee-req">*</em>
        </div>
        <div class="forme-in">
          <div id="pack_type_id_div">
            <% pack_type_array = PackType.all.map { |pack_type| [pack_type.name, pack_type.id] } %>
            <%= f.select(:pack_type_id, pack_type_array , :selected => :prompt, :prompt => '- Seleccione envase -')  %>
          </div>
        </div>
      </div>

      <div class="line-forme">
        <div class="forme-lab">
          <label>Cantidad Envases</label>
          <em class="formee-req">*</em>
        </div>
        <div class="forme-in">
          <div id="quantity_div">
            <%= f.text_field :quantity %>
          </div>
        </div>
      </div>

      <div class="line-forme">
        <div class="forme-lab">
          <label>Peso Bruto (Kg.)</label>
          <em class="formee-req">*</em>
        </div>
        <div class="forme-in">
          <div id="gross_weight_div">
            <%= f.text_field :gross_weight %>
          </div>
        </div>
      </div>

      <!-- obtener configuracion para modificar formulario -->
      <% settings_array = Setting.all.map { |setting| [setting.key] }%>
      <% if (settings_array.size != 0)%>
        <% config = (settings_array[settings_array.size - 1][0]).to_s %>
      <% else %>
        <% config = 'pack_pallet' %>
      <% end %>

      <% if config == 'pack_pallet'%>
        <div class="line-forme">
          <div class="forme-lab">
            <label>¿Trabajar con Pallet?</label>
          </div>
          <div class="forme-in">
              <input type="checkbox" id="check" class="check" value="¿Trabajar con Pallet?" onClick="checkedPallet()" />          
              <label id="kind_error", style="color: red;"></label>
          </div>
          
        </div>
      <% end %>
      
      <% if config == 'pack_pallet' || config == 'pallet'%>
        <div class="line-forme">
          <div class="forme-lab">
            <label>Código Pallet</label>
            <em class="formee-req">*</em>
          </div>
          <div class="forme-in">
            <div id="code_div">
              <%= f.text_field :code, :id=>"code", :disabled=>"true"%>
            </div>
          </div>
        </div>

        <div class="line-forme">
          <div class="forme-lab">
            <label>Destare Pallet (Kg.)</label>
            <em class="formee-req">*</em>
          </div>
          <div class="forme-in">
            <div id="tare_div">
              <%= f.text_field :tare, :id=>"destare", :disabled=>"true"%>
            </div>
          </div>
        </div>
      <% end %>

      <div class = "newTopBanner">
        <% if config == 'pack_pallet' %>
          <input type="button" value="Agregar Registro" id="agregar" name="agregar" class="button blue alignright" language="javascript" onClick='errors_revision()'>
        <% elsif config == 'pallet' %>
          <input type="button" value="Agregar Pallet" id="agregar" name="agregar" class="button blue alignright" language="javascript" onClick='errors_revision()'>
        <% else %>
          <input type="button" value="Agregar Envase" id="agregar" name="agregar" class="button blue alignright" language="javascript" onClick='errors_revision()'>
        <% end %>
          
        
        <input type="button" value="Cancelar" id="cancel" name="agregar" class="button red alignright" language="javascript" >
        <input type="button" value="Guardar" id="save" name="agregar" class="button green alignright" language="javascript" >
      </div>
      <label> (
      <em class="formee-req">*</em>
      </label> ) Campos obligatorios.
    </div> 
  </div>  


  <div class = "contentSubPanel">
    <div class="headContent">
      <h1>Detalle</h1>
    </div>

    <div class="box"> 
      <table cellpadding="0" cellspacing="0" border="0" id="tablealone" class="display">
        <thead>
          <tr>
            <th style="width:20% !important;">Código Pallet</th>
            <th>N° Envases</th>
            <th>Peso Neto (Kg.)</th>
            <th>Variedad</th>
            <th>Calidad</th>
            <th>Precio</th>
            <th style="width:20% !important;">Acciones</th>
          </tr>
        </thead>

        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>

</div>
<%end%>


<div class="foot-box">
  <div class="line-forme">
    <%= link_to 'Cancelar', receipts_path , :class => "button silver alignright" %>
    <%= f.submit :Guardar , :class => "button green alignright", :onClick => 'validate_receipt()' %>
  </div>
  
</div>
<% end %>