<script type="text/javascript">
  function show_rut(s) {
    if(s.value == "")
    {      
      $('#rut').val(""); 
      $('#codigo').val("");
      $('#codigo_sag').val("");
    }
    
    $.get("/producers/"+s.value+".json", function(data) {
     $('#rut').val(data.rut); 
     $('#codigo').val(data.code);
     $('#codigo_sag').val(data.sag_code);
   });
  }
  
</script>

<script type="text/javascript">
  function search_rut(s) {
    if(s.value == "")
    {      
      alert("hola");
      $('#select_producer').val("");
      $('#rut').val("-");
      $('#codigo').val("-");
      $('#codigo_sag').val("-");
    }

    $.get("/producers.json", function(data) {
     
     for (var i = data.length - 1; i >= 0; i--) {
      if(data[i]["rut"]==s.value){
        $('#select_producer').val([data[i]["name"], data[i]["id"]]);
        $('#codigo').val(data[i]["code"]);
        $('#codigo_sag').val(data[i]["sag_code"]);            
      }
     };

     
   });
    
  }  
</script>

<script type="text/javascript">
  function search_code(s) {
    if(s.value == "")
    {      
      $('#select_producer').val("");
      $('#rut').val("-");
      $('#codigo').val("-");
      $('#codigo_sag').val("-");
    }

    $.get("/producers.json", function(data) {
     for (var i = data.length - 1; i >= 0; i--) {
      if(data[i]["code"]==s.value){
        $('#select_producer').val([data[i]["name"], data[i]["id"]]);
        $('#rut').val(data[i]["rut"]);
        $('#codigo_sag').val(data[i]["sag_code"]);   
            
      }
     };
   });
    
  }  
</script>

<script type="text/javascript">
  function search_sag(s) {
    if(s.value == "")
    {      
      $('#select_producer').val("");
      $('#rut').val("-");
      $('#codigo').val("-");
      $('#codigo_sag').val("-");
    }

    $.get("/producers.json", function(data) {
     for (var i = data.length - 1; i >= 0; i--) {
      if(data[i]["sag_code"]==s.value){
        $('#select_producer').val([data[i]["name"], data[i]["id"]]);
        $('#rut').val(data[i]["rut"]);
        $('#codigo').val(data[i]["code"]); 
            
      }
     };
   });
    
  }  
</script>


<div class="box">
<%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= @receipt.errors.count > 1 ? "#{@receipt.errors.count} errores." : "#{@receipt.errors.count} error." %> No se puede guardar el ingreso:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "contentSubPanel">
    
    
    <div class="line-forme">
      
      <div class="forme-lab">
        <label>Productor </label>
        <em class="formee-req">*</em>
      </div>
    
      <div class="forme-in">
        <% @options = Producer.all.map { |p| [p.name, p.id] } %>
        <%= f.select(:producer_id, options_for_select(@options), {:selected => :prompt, :prompt => '- Seleccione productor - '} , :id => 'select_producer',:onchange => "show_rut(this)") %>  

      </div>

    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Rut </label>
      </div>
        
      <div class="forme-in">
        
        <%= f.text_field(:code, :id => 'rut', :onblur => "search_rut(this)")%>

      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Código Interno Productor </label>
      </div>
    
      <div class="forme-in">
        <%= f.text_field(:code, :id => 'codigo')%>
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Código SAG Productor </label>
      </div>
    
      <div class="forme-in">
        <%= f.text_field(:code, :id => 'codigo_sag')%>
      </div>
    </div>

    <div class="line-forme">
      <div class="forme-lab">
        <label>Especie </label>
        <em class="formee-req">*</em>
      </div>
    
      <div class="forme-in">
        <% kinds_array = Kind.all.map { |kind| [kind.name, kind.id] }%>
        <%= f.select(:kind_id, kinds_array, :selected => :prompt, :prompt => '- Seleccione especie -') %>      
      </div>
    </div>


    <div class="line-forme">
      <div class="forme-lab">
        <label>Fecha </label>
      </div> 
      <%= f.datetime_select :receipt_datetime %>         
    </div>

    <%= f.hidden_field :user_id, :value => 1 %>
    <%= f.hidden_field :company_id, :value => 1 %>
     
  
  </div>  
  <label> (
    <em class="formee-req">*</em>
  </label> ) Campos obligatorios.
</div>


<div class="foot-box">
  <div class="line-forme">
    <div class="forme-lab">
      <label>Número Ingreso:</label>
    </div>
  
    <div class="forme-in">
      <% receipts_array = Receipt.all.map { |receipt| [receipt.code] }%>
      <% if (receipts_array.size == 0) %>
        <%= f.text_field(:code, :value => '1', :readonly => true)%>
      <% else %>
        <%= f.text_field(:code, :value => (Integer((receipts_array[receipts_array.size - 1])[0])+1).to_s, :readonly => true)%>
      <%end%>
    </div>

    <%= link_to 'Cancelar', receipts_path , :class => "button silver alignright" %>
    <%= f.submit :Aceptar , :class => "button green alignright" %>
  </div>
  
</div>
<% end %>