<script type="text/javascript">

function show_pack_type3() //sel= id del productor seleccionado
   {
      var selDest = document.getElementById("Destinos5");
      var selEnv = document.getElementById("Envases5");
      var idDest = selDest.options[selDest.selectedIndex].value;
      selEnv.options.length = 0;
      selEnv.options[0] = new Option("Seleccione un Envase","","1");      
      var x = 1;
      var flag5;   
      $.get("/pack_types.json", function(data) {  
      $.get("/dispatches.json", function(data1) { 
      $.get("/pack_group_dispatches.json", function(data2) { 
      $.get("/pallets.json", function(data3) { 
      for(i=0;i<data.length;i++){
            flag5 = true;
            for(j=0;j<data1.length && flag5;j++){
                 if(idDest == data1[j].destination_id){ //// si destino idDest == idDestino de dispatches
                     for(k=0;k<data2.length && flag5;k++){ //busco en pack_group_dispatches
                          if(data1[j].id == data2[k].dispatch_id && data[i].id == data2[k].pack_type_id){ //idDispatch == idDispatch de pack_group_dispatches and idPackType == idPackType de pack_group_dispatches
                              selEnv.options[x] = new Option(data[i].name,data[i].id,"0");
                              x++;
                              selEnv.selectedIndex=0;                               
                              flag5 = false;
                          }                       
                     }
                     if(flag5){ //si NO se encontro en packGroupReceipts, busco en Pallets
                        for(q=0;q<data3.length && flag5;k++){ //busco en pallets
                             if(data1[j].id == data3[q].dispatch_id && data[i].id == data3[k].pack_type_id){ //idDispatch == idDispatch de pallets and idPackType == idPackType de pallets
                                 selEnv.options[x] = new Option(data[i].name,data[i].id,"0");
                                 x++;
                                 selEnv.selectedIndex=0;                               
                                 flag5 = false;
                             }                          
                        }
                     }
                 }

            }
      }
      });
      });
      });
      });
      setEstadoBoton5(idDest);
  }

 function setEstadoBoton5(idDest){
      //si campos obligatorios estan seleccionados ==> boton habilitado, sino boton deshabilitado
      var bt5 = document.getElementById("boton5");
      if(idDest>=1){
        bt5.disabled = false;
        bt5.setAttribute("class","button blue");
      }
      else{
        bt5.disabled = true;
        bt5.setAttribute("class","");
      } 
  } 

   
    function validate(){
      var destinationID = document.getElementById('Destinos5');
      if(destinationID.value == ""){
         alert('Debes seleccionar un destino');
      }
   }

</script>



<!--Despacho por Destino-->

<%= form_tag  do %>
  <input type="hidden" value="5" name="report_type"></input>
     <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Destino' %> 
                <em class="formee-req">*</em>
        </div>
        <% @destinations_array = Destination.all.map { |desti| [desti.name, desti.id] } %>
        <div class="forme-in">
            <%= select_tag "Destinos5", options_for_select(@destinations_array), :prompt => "Seleccione un Destino", :onchange => "show_pack_type3()" %>
         </div>                        
      </div>

      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Especie' %> 
        </div>
        <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
        <div class="forme-in">
            <%= select_tag "Especies5", options_for_select(@kinds_array), :prompt => "Seleccione una Especie" %>
         </div>                        
      </div>

      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Fecha Inicio' %> 
        </div>
        <div class="field">
            <%= select_date Date.today, :prefix => :start_date5 %>
         </div>                        
      </div>   

      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Fecha Termino' %> 
        </div>
        <div class="field">
           <%= select_date Date.today, :prefix => :end_date5 %>
         </div>                        
      </div>                                                                    
      <button id = "boton5" >Generar Informe </button> 
<% end %>    