<script type="text/javascript">


   function show_rut3(s) {

      if(s.value == "")
      {      
         var inputRut = document.getElementById('rut3');
         inputRut.value = "-";

         var inputCodigo = document.getElementById('codigo3');
         inputCodigo.value = "-";
      }
      else
      {
         $.get("/producers/"+s.value+".json", function(data) {
            var inputRut = document.getElementById('rut3');
            inputRut.value = data.rut;

            var inputCodigo = document.getElementById('codigo3');
            inputCodigo.value = data.sag_code;
         });
      }
      show_pack_type(s.options[s.selectedIndex].value);
      setEstadoBoton3(s.options[s.selectedIndex].value);
   }

     function setEstadoBoton3(idPro){
      //si campos obligatorios estan seleccionados ==> boton habilitado, sino boton deshabilitado
      var bt3 = document.getElementById("boton3");
      if(idPro>=1){
        bt3.disabled = false;
        bt3.setAttribute("class","button blue");
      }
      else{
        bt3.disabled = true;
        bt3.setAttribute("class","");
      } 
  }

function show_pack_type(sel) //sel= id del productor seleccionado
   {
      var selEnv = document.getElementById("Envases3");
      var x = 1;
      var flag3;   
      selEnv.options.length = 0;
      selEnv.options[0] = new Option("Seleccione un Envase","","1");               
      $.get("/pack_types.json", function(data) {  
      $.get("/receipts.json", function(data1) { 
      $.get("/pack_group_receipts.json", function(data2) { 
      $.get("/pallets.json", function(data3) { 
      $.get("/producers/"+sel+"/empty_packs_producer_moves.json", function(data4) {
      for(i=0;i<data.length;i++){
            flag3 = true;
            for(j=0;j<data1.length && flag3;j++){
                 if(sel == data1[j].producer_id){ // si productor sel == idProducer de receipts
                     for(k=0;k<data2.length && flag3;k++){ //busco en pack_group_receipts
                          if(data1[j].id == data2[k].receipt_id && data[i].id == data2[k].pack_type_id){ //idReceipt == idReceipt de pack_group_receipts and idPackType == idPackType de pack_group_receipts
                              selEnv.options[x] = new Option(data[i].name,data[i].id,"0");
                              x++;
                              selEnv.selectedIndex=0;                               
                              flag3 = false;
                          }                       
                     }
                     if(flag3){ //si NO se encontro en packGroupReceipts, busco en Pallets
                        for(q=0;q<data3.length && flag3;q++){ //busco en pallets
                             if(data1[j].id == data3[q].receipt_id && data[i].id == data3[q].pack_type_id){ //idReceipt == idReceipt de pallets and idPackType == idPackType de pallets
                                 selEnv.options[x] = new Option(data[i].name,data[i].id,"0");
                                 x++;
                                 selEnv.selectedIndex=0;                               
                                 flag3 = false;
                             }                          
                        }
                     }
                 }

            }
            if(flag3){
               for(j=0;j<data4.length && flag3;j++){
                  if(data4[j].producer_id == sel && data4[j].pack_type_id == data[i].id){
                        selEnv.options[x] = new Option(data[i].name,data[i].id,"0");
                        x++;
                        selEnv.selectedIndex=0;                               
                        flag3 = false;
                    }  
               }
            }
      }
      });
      });
      });
      });
      });                               
   }     


</script>

<!--Envases Productor-->
<%= form_tag  do %>
   <input type="hidden" value="3" name="report_type"></input>
   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Productor'%>
              <em class="formee-req">*</em>
      </div>
      <% @producers_array = Producer.where(:company_id => current_user.company_id).map { |producer| [producer.name, producer.id] } %>
      <div class="forme-in">
         <%= select_tag "Productores3", options_for_select(@producers_array), :prompt => "Seleccione un Productor", :onchange => "show_rut3(this)" %>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag "rut"%>
      </div>
      <div class="forme-in">
         <input id="rut3" value="-" disabled="true"></input>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag "Cod. Productor" %>
      </div>
      <div class="forme-in">
         <input id="codigo3" value="-" disabled="true"></input>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Envase' %>
      </div>
      <% @pack_types_array = PackType.all.map { |pack| [pack.name, pack.id] } %>
      <div class="forme-in">
         <%= select_tag "Envases3", "",:prompt => "Seleccione un Envase" %>
      </div>
   </div> 

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Fecha Inicio' %>
      </div>
      <div class="field">
         <%= select_date Date.today, :prefix => :start_date3 %>
      </div>
   </div>   

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Fecha Termino' %>
      </div>
      <div class="field">
         <%= select_date Date.today, :prefix => :end_date3 %>
      </div>
   </div>                                                                    
   <button id = "boton3"  >Generar Informe </button> 
                       
<% end %>               	