<script type="text/javascript">
   function show_rut2(s) {

    if(s.value == "")
    {      
      var inputRut = document.getElementById('rut2');
      inputRut.value = "-";

      var inputCodigo = document.getElementById('codigo2');
      inputCodigo.value = "-";
    }

    $.get("/producers/"+s.value+".json", function(data) {

      var inputRut = document.getElementById('rut2');
      inputRut.value = data.rut;

      var inputCodigo = document.getElementById('codigo2');
      inputCodigo.value = data.sag_code;
    });

    show_kind2(s.options[s.selectedIndex].value);
  }

   function show_kind2(sel) //sel= id del productor seleccionado
   {
      var selKin = document.getElementById("Especies2");
      var i = 1;
      selKin.options.length = 0;
      selKin.options[0] = new Option("Seleccione una Especie","","1");  

      $.get("/kinds.json", function(data1) {
         $.each(data1, function(index1, element1){
            var flag2 = true;
            $.get("/receipts.json", function(data) {
               $.each(data, function(index, element){                  
                  if(sel == element.producer_id && flag2){ //id productor seleccionado == id productor de ingresos         
                        if(element1.id == element.kind_id){
                           selKin.options[i] = new Option(element1.name,element1.id,"0");
                           i = i+1;
                           selKin.selectedIndex=0;
                           flag2 = false;                                                    
                        }                        
                  } 
               });
            }); 
         });
      });    
   }

</script>

<!--Facturación a Productores-->
<%= form_tag  do |f| %>
  <input type="hidden" value="2" name="report_type"></input>
      <div class="line-forme">
         <div class="forme-lab">
            <%= label_tag 'Productor'%> 
         </div>
         <% @producers_array = Producer.all.map { |producer| [producer.name, producer.id] } %>
         <div class="forme-in">
            <%= select_tag "Productores1", options_for_select(@producers_array), :prompt => "Seleccione un Productor", :onchange => "show_rut2(this)" %>
         </div>
      </div>

      <div class="line-forme">
         <div class="forme-lab">
            <%= label_tag "rut"  %>
         </div>
         <div class="forme-in ">
            <input id="rut2" value="-" disabled="true"></input>
         </div>
      </div>

      <div class="line-forme">
         <div class="forme-lab">
            <%= label_tag "Cod. Productor" %>
         </div>
         <div class="forme-in">
            <input id="codigo2" value="-" disabled="true"></input>
         </div>
      </div>

      <div class="line-forme">
         <div class="forme-lab">
            <%= label_tag 'Especie' %>
         </div>
         <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
         <div class="forme-in">
            <%= select_tag "Especies2", "",:prompt => "Seleccione una Especie" %>
         </div>
      </div>

      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Fecha Inicio' %> 
        </div>
        <div class="field">
            <%= select_date Date.today, :prefix => :start_date2 %>
         </div>                        
      </div>   

      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Fecha Termino' %> 
        </div>
        <div class="field">
            <%= select_date Date.today, :prefix => :end_date2 %>
         </div>                        
      </div>                                                                    
      <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
                       
<% end %> 