<script type="text/javascript">
   function show_rut2(s) {

    if(s.value == "")
    {      
      var inputRut = document.getElementById('rut2');
      inputRut.value = "-";

      var inputCodigo = document.getElementById('codigo2');
      inputCodigo.value = "-";
    }

    $.get("/producers/"+s.value+".json", function(data) {

      var inputRut = document.getElementById('rut2');
      inputRut.value = data.rut;

      var inputCodigo = document.getElementById('codigo2');
      inputCodigo.value = data.sag_code;
    });
  }
</script>


<%= form_tag  do |f| %>
      <div class="line-forme">
         <div class="forme-lab">
            <%= label_tag 'Productor'%> 
         </div>
         <% @producers_array = Producer.all.map { |producer| [producer.name, producer.id] } %>
         <div class="forme-in">
            <%= select_tag "Productores1", options_for_select(@producers_array), :prompt => "Seleccione un Productor", :onchange => "show_rut2(this)" %>
         </div>
      </div>

      <div class="line-forme">
         <div class="forme-lab">
            <%= label_tag "rut"  %>
         </div>
         <div class="forme-in ">
            <input id="rut2" value="-" disabled="true"></input>
         </div>
      </div>

      <div class="line-forme">
         <div class="forme-lab">
            <%= label_tag "Cod. Productor" %>
         </div>
         <div class="forme-in">
            <input id="codigo2" value="-" disabled="true"></input>
         </div>
      </div>

      <div class="line-forme">
         <div class="forme-lab">
            <%= label_tag 'Especie' %>
         </div>
         <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
         <div class="forme-in">
            <%= select_tag "Especies1", options_for_select(@kinds_array), :prompt => "Seleccione una Especie" %>
         </div>
      </div>

      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Fecha Inicio' %> 
        </div>
        <div class="field">
            <%= select_date %>
         </div>                        
      </div>   

      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Fecha Termino' %> 
        </div>
        <div class="field">
            <%= select_date %>
         </div>                        
      </div>                                                                    
      <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
                       
<% end %> 