<!--Despacho por Destino-->

<%= form_tag  do %>
  <input type="hidden" value="5" name="report_type"></input>
     <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Destino' %> 
        </div>
        <% @destinations_array = Destination.all.map { |desti| [desti.name, desti.id] } %>
        <div class="forme-in">
            <%= select_tag "Destinos5", options_for_select(@destinations_array), :prompt => "Seleccione un Destino" %>
         </div>                        
      </div>

      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Especie' %> 
        </div>
        <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
        <div class="forme-in">
            <%= select_tag "Especies5", options_for_select(@kinds_array), :prompt => "Seleccione una Especie" %>
         </div>                        
      </div>

      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Fecha Inicio' %> 
        </div>
        <div class="field">
            <%= select_date Date.today, :prefix => :start_date5 %>
         </div>                        
      </div>   

      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Fecha Termino' %> 
        </div>
        <div class="field">
           <%= select_date Date.today, :prefix => :end_date5 %>
         </div>                        
      </div>                                                                    
      <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
<% end %>    