<script type="text/javascript">
   function show_rut3(s) {

      if(s.value == "")
      {      
         var inputRut = document.getElementById('rut3');
         inputRut.value = "-";

         var inputCodigo = document.getElementById('codigo3');
         inputCodigo.value = "-";
      }
      else
      {
         $.get("/producers/"+s.value+".json", function(data) {
            var inputRut = document.getElementById('rut3');
            inputRut.value = data.rut;

            var inputCodigo = document.getElementById('codigo3');
            inputCodigo.value = data.sag_code;
         });
      }
      show_pack_type(s.options[s.selectedIndex].value);
   }

   function show_pack_type(sel) //sel= id del productor seleccionado
   {
      var selEnv = document.getElementById("Envases3");
      var x = 1;
      selEnv.options.length = 0;
      selEnv.options[0] = new Option("Seleccione un Envase","","1");      
           $.get("/receipts.json", function(data) {
               $.each(data, function(index, element){          
                  if(sel == element.producer_id){ //id productor seleccionado == id productor de receipt
                        $.get("/receipts/"+element.id+"/pack_group_receipts.json", function(data) {  
                           $.each(data, function(i, item){ 
                                 if(element.id == item.receipt_id){ // id de receipt == id receipt de pack_group_receipts
                                       $.get("/pack_types/"+item.id+".json", function(k) {
                                          selEnv.options[x] = new Option(k.name,k.id,"0");
                                          x = x+1;
                                          selEnv.selectedIndex=0;
                                       }); 
                                 }
                           });
                        });
                  }                  
               });
            }); 
   }




</script>

<!--Envases Productor-->
<%= form_tag  do %>
   <input type="hidden" value="3" name="report_type"></input>
   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Productor'%>
      </div>
      <% @producers_array = Producer.all.map { |producer| [producer.name, producer.id] } %>
      <div class="forme-in">
         <%= select_tag "Productores1", options_for_select(@producers_array), :prompt => "Seleccione un Productor", :onchange => "show_rut3(this)" %>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag "rut"%>
      </div>
      <div class="forme-in">
         <input id="rut3" value="-" disabled="true"></input>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag "Cod. Productor" %>
      </div>
      <div class="forme-in">
         <input id="codigo3" value="-" disabled="true"></input>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Envase' %>
      </div>
      <% @pack_types_array = PackType.all.map { |pack| [pack.name, pack.id] } %>
      <div class="forme-in">
         <%= select_tag "Envases3", "",:prompt => "Seleccione un Envase" %>
      </div>
   </div> 

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Fecha Inicio' %>
      </div>
      <div class="field">
         <%= select_date Date.today, :prefix => :start_date3 %>
      </div>
   </div>   

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Fecha Termino' %>
      </div>
      <div class="field">
         <%= select_date Date.today, :prefix => :end_date3 %>
      </div>
   </div>                                                                    
   <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
                       
<% end %>               	