<script type="text/javascript">
   function show_rut1(s)
   {
      if(s.value == "")
      {
         var inputRut = document.getElementById('rut1');
         inputRut.value = "-";

         var inputCodigo = document.getElementById('codigo1');
         inputCodigo.value = "-";
      }
      else
      {
         $.get("/producers/"+s.value+".json", function(data) {
            var inputRut = document.getElementById('rut1');
            inputRut.value = data.rut;

            var inputCodigo = document.getElementById('codigo1');
            inputCodigo.value = data.sag_code;
         });
      }
      show_kind1(s.options[s.selectedIndex].value);
      setEstadoBoton1(s.options[s.selectedIndex].value);
   }

     function setEstadoBoton1(idPro){
      //si campos obligatorios estan seleccionados ==> boton habilitado, sino boton deshabilitado
      var bt1 = document.getElementById("boton1");
      if(idPro>=1){
        bt1.disabled = false;
        bt1.setAttribute("class","button blue");
      }
      else{
        bt1.disabled = true;
        bt1.setAttribute("class","");
      } 
  }   

   function show_kind1(sel) //sel= id del productor seleccionado
   {
      var selKin = document.getElementById("Especies1");
      var x = 1;
      var flag1;
      selKin.options.length = 0;
      selKin.options[0] = new Option("Seleccione una Especie","","1");  
      $.get("/kinds.json", function(data) {  
      $.get("/receipts.json", function(data1) { 
      for(i=0;i<data.length;i++){
         flag1 = true;
         for(j=0;j<data1.length && flag1;j++){
            if(sel == data1[j].producer_id && data[i].id == data1[j].kind_id){ //productor sel == idProductor de receipts and idKind == idKind de receipts
                  selKin.options[x] = new Option(data[i].name,data[i].id,"0");
                  x++;
                  selKin.selectedIndex=0;
                  flag1 = false;
            }
         }
      }
      });
      });
   }

   function myfunction(event)
   {
      var keyCode = ('which' in event) ? event.which : event.keyCode;
      if(keyCode==9)
      {
         var rut22 = document.getElementById('rut22');
         $.getJSON("/producers.json", function(data) {
            var bandera = false;
            $.each(data, function(index, element){
               if(element.rut==rut22.value)
               {
                  var inputCodigo = document.getElementById('nombrectm');
                  inputCodigo.value = element.name;
                  bandera = true;
               }
            });

            if(bandera==false)
            {
               var inputCodigo = document.getElementById('nombrectm');
               inputCodigo.value = "-";
            }
         });
      }
   }

   function get_parameters1()
   {
      var producerID = document.getElementById('Productores1');

      if(producerID.value=="")
      {
         alert('Seleccione un productor');
      }
      else
      {
         $.get("/producers/"+producerID.value+".json", function(producers) {
            var especieID = document.getElementById('Especies1');

            if(especieID.value=="")
            {
               //Hacer la consulta mas general
            }
            else
            {
               //Hacer la consulta mas especifica!!
               $.get("/kinds/"+especieID.value+".json", function(kinds) {
                  $.get("/receipts.json", function(receipts) {
                     $.each(data, function(index, element){
                        
                     });
                  });
               });
            }
         });
      }
   }
   function validate(){
      var producerID = document.getElementById('Productores1');
      if(producerID.value == ""){
         alert('Debes seleccionar un productor');
      }
   }



</script>

<!--Precio por Productor-->
<%= form_tag  do %>
<input type="hidden" value="1" name="report_type"></input>
   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Productor'%> 
              <em class="formee-req">*</em>
      </div>
      <% @producers_array = Producer.all.map { |producer| [producer.name, producer.id] } %>
      <div class="forme-in">
         <%= select_tag "Productores1", options_for_select(@producers_array), :prompt => "Seleccione un Productor", :onchange => "show_rut1(this)" %>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag "rut"  %>
      </div>
      <div class="forme-in ">
         <input id="rut1" value="-" disabled="true"></input>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag "Cod. Productor"%>
      </div>
      <div class="forme-in">
         <input id="codigo1" value="-" disabled="true"></input>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Especie'%>
      </div>
      <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
      <div class="forme-in">
         <%= select_tag "Especies1", "",:prompt => "Seleccione una Especie" %>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Fecha Inicio' %>
      </div>
      <div class="field">
         <%= select_date Date.today, :prefix => :start_date1 %>
      </div>
   </div>

   <div class="line-forme">
      <div class="forme-lab">
         <%= label_tag 'Fecha Termino' %>
      </div>
      <div class="field">
         <%= select_date Date.today, :prefix => :end_date1%>
      </div>
   </div>
   <button id = "boton1" >Generar Informe </button>
<% end %>
