<script type="text/javascript">

function show_pack_type3() //sel= id del productor seleccionado
   {
      var selDest = document.getElementById("Destinos5");
      var selEsp = document.getElementById("Especies5");
      var idDest = selDest.options[selDest.selectedIndex].value;    
      var x = 1;
      var flag1;
      selEsp.options.length = 0;
      selEsp.options[0] = new Option("Seleccione una Especie","","1");  
      $.get("/kinds.json", function(data) {  
      $.get("/dispatches.json", function(data1) { 
      for(i=0;i<data.length;i++){
         flag1 = true;
         for(j=0;j<data1.length && flag1;j++){
            if(idDest == data1[j].id && data[i].id == data1[j].kind_id){
                  selEsp.options[x] = new Option(data[i].name,data[i].id,"0");
                  x++;
                  selEsp.selectedIndex=0;
                  flag1 = false;
            }
         }
      }
      });
      });  
      setEstadoBoton5(idDest) ;
      
  }

 function setEstadoBoton5(idDest){
      //si campos obligatorios estan seleccionados ==> boton habilitado, sino boton deshabilitado
      var bt5 = document.getElementById("boton5");
      if(idDest>=1){
        bt5.disabled = false;
        bt5.setAttribute("class","button blue");
      }
      else{
        bt5.disabled = true;
        bt5.setAttribute("class","");
      } 
  } 

   
    function validate(){
      var destinationID = document.getElementById('Destinos5');
      if(destinationID.value == ""){
         alert('Debes seleccionar un destino');
      }
   }

</script>



<!--Despacho por Destino-->

<%= form_tag  do %>
  <input type="hidden" value="5" name="report_type"></input>
     <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Destino' %> 
                <em class="formee-req">*</em>
        </div>
        <% @destinations_array = Destination.where(:company_id => current_user.company_id).map { |destination| [destination.name, destination.id] } %>
        <div class="forme-in">
            <%= select_tag "Destinos5", options_for_select(@destinations_array), :prompt => "Seleccione un Destino", :onchange => "show_pack_type3()" %>
         </div>                        
      </div>

      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Especie' %> 
        </div>
        <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
        <div class="forme-in">
            <%= select_tag "Especies5", "",:prompt => "Seleccione una Especie" %>
         </div>                        
      </div>

      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Fecha Inicio' %> 
        </div>
        <div class="field">
            <%= select_date Date.today, :prefix => :start_date5 %>
         </div>                        
      </div>   

      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Fecha Termino' %> 
        </div>
        <div class="field">
           <%= select_date Date.today, :prefix => :end_date5 %>
         </div>                        
      </div>                                                                    
      <button id = "boton5" >Generar Informe </button> 
<% end %>    