<script type="text/javascript">

$(document).ready(function() {

//Accion por defecto
$(".tab_content").hide(); 
$("ul.tabs li:first").addClass("active").show(); 
$(".tab_content:first").show(); 

//evento (onClick)
$("ul.tabs li").click(function() {
$("ul.tabs li").removeClass("active"); 
$(this).addClass("active"); 
$(".tab_content").hide(); 
var activeTab = $(this).find("a").attr("href");
$(activeTab).fadeIn(); 
return false;
});

});
</script>






<!--Contenido  Reportes-->
<div class="headContent">
  <h1>Informes</h1>
</div>

   <ul class="tabs">
       <li><a href="#tab1">Precio por Productor</a></li>
       <li><a href="#tab2">Facturación a Productores</a></li>
       <li><a href="#tab3">Envases Productor</a></li>
       <li><a href="#tab4">Envases Destino</a></li>
       <li><a href="#tab5">Despacho por Destino</a></li>
       <li><a href="#tab6">Productores</a></li>
       <li><a href="#tab7">Destinos</a></li>
   </ul>
 

   <div class="tab_container">

       <!--Precio por Productor-->
       <div id="tab1" class="tab_content">

          <div class="contentSubPanel">
              <div class="headContent">
                  <h1>Generar Informe: Contenido Precio por Productor</h1>
              </div>
              <div class="box">
              
                  <%= form_tag  do %>

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Productor'%> 
	                       </div>
	                       <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
	                       <div class="forme-in">

                              <%= select_tag "Productores1", options_for_select(@kinds_array), :prompt => "Seleccione un Productor"  %>
                           </div>                        
                        </div>
                                  
                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag "Rut"  %> 
	                       </div>
	                       <div class="forme-in ">
                              <%= text_field_tag 'rut1', "", :disabled => true %>
                           </div>                        
                        </div> 

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag "Cod. Productor" %> 
	                       </div>
	                       <div class="forme-in">
                              <%= text_field_tag 'codigo1', "", :disabled => true %>
                           </div>                        
                        </div>                                               

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Especie' %> 
	                       </div>
	                       <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
	                       <div class="forme-in">
                              <%= select_tag "Especies1", options_for_select(@kinds_array), :prompt => "Seleccione una Especie" %>
                           </div>                        
                        </div> 

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Fecha Inicio' %> 
	                       </div>
	                       <div class="field">
                              <%= select_date %>
                           </div>                        
                        </div>   

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Fecha Termino' %> 
	                       </div>
	                       <div class="field">
                              <%= select_date %>
                           </div>                        
                        </div>                                                                    
                        <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
                       
                    <% end %>  
                  
              </div>
          </div>

       </div>

       <!--Facturación a Productores-->
       <div id="tab2" class="tab_content">

          <div class="contentSubPanel">
              <div class="headContent">
                  <h1>Generar Informe: Facturación a Productores</h1>
              </div>
              <div class="box">

                  <%= form_tag  do %>

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Productor' %> 
	                       </div>
	                       <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
	                       <div class="forme-in">
                              <%= select_tag "Productores2", options_for_select(@kinds_array), :prompt => "Seleccione un Productor" %>
                           </div>                        
                        </div>

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Rut' %> 
	                       </div>
	                       <div class="forme-in">
                              <%= text_field_tag 'rut2', "", :disabled => true %>
                           </div>                        
                        </div> 

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Cod. Productor' %> 
	                       </div>
	                       <div class="forme-in">
                              <%= text_field_tag 'codigo2', "", :disabled => true %>
                           </div>                        
                        </div>                                               

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Especie' %> 
	                       </div>
	                       <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
	                       <div class="forme-in">
                              <%= select_tag "Especies2", options_for_select(@kinds_array), :prompt => "Seleccione una Especie" %>
                           </div>                        
                        </div> 

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Fecha Inicio' %> 
	                       </div>
	                       <div class="field">
                              <%= select_date %>
                           </div>                        
                        </div>   

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Fecha Termino' %> 
	                       </div>
	                       <div class="field">
                              <%= select_date %>
                           </div>                        
                        </div>                                                                    
                        <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
                       
                    <% end %>                	
           
              </div>
          </div>

       </div>

       <!--Envases Productor-->
       <div id="tab3" class="tab_content">

          <div class="contentSubPanel">
              <div class="headContent">
                  <h1>Generar Informe: Envases Productor</h1>
              </div>
              <div class="box">

                   <%= form_tag  do %>

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Productor' %> 
	                       </div>
	                       <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
	                       <div class="forme-in">
                              <%= select_tag "Productores3", options_for_select(@kinds_array), :prompt => "Seleccione un Productor" %>
                           </div>                        
                        </div>

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Rut' %> 
	                       </div>
	                       <div class="forme-in">
                              <%= text_field_tag 'rut3', "", :disabled => true %>
                           </div>                        
                        </div> 

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Cod. Productor' %> 
	                       </div>
	                       <div class="forme-in">
                              <%= text_field_tag 'codigo3', "", :disabled => true %>
                           </div>                        
                        </div>                                               

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Envase' %> 
	                       </div>
	                       <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
	                       <div class="forme-in">
                              <%= select_tag "Envases3", options_for_select(@kinds_array), :prompt => "Seleccione un Envase" %>
                           </div>                        
                        </div> 

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Fecha Inicio' %> 
	                       </div>
	                       <div class="field">
                              <%= select_date %>
                           </div>                        
                        </div>   

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Fecha Termino' %> 
	                       </div>
	                       <div class="field">
                              <%= select_date %>
                           </div>                        
                        </div>                                                                    
                        <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
                       
                    <% end %>               	

              </div>
          </div>

       </div>

       <!--Envases Destino-->
       <div id="tab4" class="tab_content">

          <div class="contentSubPanel">
              <div class="headContent">
                  <h1>Generar Informe: Envases Destino</h1>
              </div>
              <div class="box">

                   <%= form_tag  do %>

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Destino' %> 
	                       </div>
	                       <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
	                       <div class="forme-in">
                              <%= select_tag "Destinos4", options_for_select(@kinds_array), :prompt => "Seleccione un Destino" %>
                           </div>                        
                        </div>

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Envase' %> 
	                       </div>
	                       <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
	                       <div class="forme-in">
                              <%= select_tag "Envases4", options_for_select(@kinds_array), :prompt => "Seleccione un Envase" %>
                           </div>                        
                        </div> 

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Fecha Inicio' %> 
	                       </div>
	                       <div class="field">
                              <%= select_date %>
                           </div>                        
                        </div>   

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Fecha Termino' %> 
	                       </div>
	                       <div class="field">
                              <%= select_date %>
                           </div>                        
                        </div>                                                                    
                        <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
                       
                    <% end %>               	

              </div>
          </div>

       </div>

       <!--Despacho por Destino-->
       <div id="tab5" class="tab_content">

          <div class="contentSubPanel">
              <div class="headContent">
                  <h1>Generar Informe: Despacho por Destino</h1>
              </div>
              <div class="box">

                   <%= form_tag  do %>

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Destino' %> 
	                       </div>
	                       <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
	                       <div class="forme-in">
                              <%= select_tag "Destinos5", options_for_select(@kinds_array), :prompt => "Seleccione un Destino" %>
                           </div>                        
                        </div>

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Envase' %> 
	                       </div>
	                       <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
	                       <div class="forme-in">
                              <%= select_tag "Envases5", options_for_select(@kinds_array), :prompt => "Seleccione un Envase" %>
                           </div>                        
                        </div> 

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Fecha Inicio' %> 
	                       </div>
	                       <div class="field">
                              <%= select_date %>
                           </div>                        
                        </div>   

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Fecha Termino' %> 
	                       </div>
	                       <div class="field">
	                          <%= select_date() %>
                           </div>                        
                        </div>                                                                    
                        <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
                       
                    <% end %>    

              </div>
          </div>

       </div>

       <!--Productores-->
       <div id="tab6" class="tab_content">

          <div class="contentSubPanel">
              <div class="headContent">
                  <h1>Generar Informe: Productores</h1>
              </div>
              <div class="box">

                   <%= form_tag  do %>

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Productores' %> 
	                       </div>
	                       <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
	                       <div class="forme-in">
                              <%= select_tag "Productores6", options_for_select(@kinds_array), :prompt => "Todos los Productores"  %>
                           </div>                        
                        </div>
                        <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
                       
                    <% end %>            	

              </div>
          </div>

       </div>

       <!--Destinos-->
       <div id="tab7" class="tab_content">

          <div class="contentSubPanel">
              <div class="headContent">
                  <h1>Generar Informe: Destinos</h1>
              </div>
              <div class="box">

                    <%= form_tag  do %>

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Destinos' %> 
	                       </div>
	                       <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
	                       <div class="forme-in">
                              <%= select_tag "Destinos7", options_for_select(@kinds_array), :prompt => "Todos los Destinos" %>
                           </div>                        
                        </div>
                        <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
                       
                    <% end %>               	

   

               </div> 
                                 

           </div>


        </div>
                        
                        

    </div>
