<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Centros de Acopio</title>

  	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<link rel="stylesheet" href="/css/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/datatables/media/css/data_table.css" />
	<link  rel="stylesheet" href="/css/styles.css" type="text/css"></style>
	<link  rel="stylesheet" href="/css/default_buttons.css" type="text/css"></style>

	<script src="/js/jquery-ui.js"></script>
	<script type="text/javascript" src="/plugins/datatables/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/plugins/datatables/media/js/jquery.dataTablesES.js"></script>
	<script type="text/javascript" src="/plugins/jquery.Rut/jquery.Rut.js"></script>

	<script>
		$(function() {
			$( ".date" ).datepicker();

		    $('.datatable').dataTable({
				"sPaginationType": "full_numbers",
				"bJQueryUI": true,
				"aoColumnDefs": [
		      { "bSortable": false, "aTargets": [ -1 ] },
		      { "bSearchable": false, "aTargets": [ -1 ]}
		    ] } );

		    $('.rut').Rut({
			  on_error: function(){ alert('Rut incorrecto'); },
			  format_on: 'keyup'
			});
		});
		$(document).on("click", "#mostrar-dialog",function(event) 
		{	
			$( "#dialog-modal" ).dialog( "open" );
		});
  	</script>

	<script>
		function algo(){
			alert("YUJUU");
		}
	</script>

  	<script>
      function show_producer_communes(region) {
      	if (region.value == '') {
      		var options = '<option value>- Seleccione comuna -</option>';
      		$("select#producer_commune_id").html(options);
      	}
      	else
      	{
	        $.get("/regions/"+region.value+"/communes.json", function(data) { 
		    	var options = '';
		      	$.each(data, function(i, item){	
		            options += '<option value="' + item.id + '">' + item.name + '</option>';
		        });
		        $("select#producer_commune_id").html(options);
	        });
        }
      }
	</script>
	<script>
      function show_destination_communes(region) {
      	if (region.value == '') {
      		var options = '<option value>- Seleccione comuna -</option>';
      		$("select#destination_commune_id").html(options);
      	}
      	else
      	{
	        $.get("/regions/"+region.value+"/communes.json", function(data) { 
		    	var options = '';
		      	$.each(data, function(i, item){	
		            options += '<option value="' + item.id + '">' + item.name + '</option>';
		        });
		        $("select#destination_commune_id").html(options);
		      	if (region.value === '' ) $("select#destination_commune_id").html();

	        });
    	}
      }
	</script>

</head>
<body>

	<div id="container">

		<section id="content">
			

			<div class="contentPanel">
				<%= yield %>
			</div>

			<section id="left">
				<div id="leftCol">

				<% if current_user.super_admin == true %>
					<ul id="action" >
						<h2 class="headLeft"> Acciones </h2>
						<li> <p><%= link_to('Cuentas', users_path) %></p></li>
						<li> <p><%= link_to('Roles', roles_path) %></p></li>
						<li> <p><%= link_to('Compa침ias', companies_path)%></p></li>
						
					</ul>
				<%else%>
					<ul id="action" >
						<h2 class="headLeft"> Entradas/Salidas </h2>
						<li> <p><%= link_to "Ingresos", "/" %></p></li>
						<li> <p><%= link_to "Temporadas", "/seasons" %></p></li>
						<li> <p><%= link_to "Despachos", "/" %></p></li>
						<li> <p><%= link_to "Informes", "/" %></p></li>
					</ul>
					
					<ul id="maintainer" >
						<h2 class="headLeft"> Recursos </h2>
						<li> <p><%= link_to "Productores", "/producers" %></p></li>
						<li> <p><%= link_to "Envases", "/containers" %></p></li>
						<li> <p><%= link_to "Destinos", "/destinations" %></p></li>
						<li> <p><%= link_to "Especies", "/kinds" %></p></li>
						<li> <p><%= link_to "Variedades", "/varieties" %></p></li>
						<li> <p><%= link_to "Calidades", "/qualities" %></p></li>
						<li> <p><%= link_to "Agrupaciones", "/groupings" %></p></li>
					</ul>
				<%end%>		
					
				</div>
			</section>
		</section>

		<section id="top">
			<div id="pageHead">
				<div id="logo">
					<img src="/images/des.png" width="40" height="40">
					<% if current_user.super_admin == true %>
						<h1 id="textLogo">Administraci칩n</h1>
					<%else%>
						<h1 id="textLogo">Sistema Centros de Acopio</h1>
					<%end%>
				</div>
				
				<div id="nameLogin">
				
						<p><%= current_user.email %></p>
					

				</div>
				
				<div class="tools">
					<div class="toolsCompressed">
						<p>Cuenta</p>
					</div>
					
					<ul class="toolsMenu">
						<li><p>Perfil</p></li>
						<li><p><%= link_to('Cerrar sesi칩n', destroy_user_session_path, :method => :delete) %></p> </li>
					</ul>
				</div>

				<div class="tools first-tool">
					<div class="toolsCompressed">
						<p> Herramientas</p>
					</div>
					
					<ul class="toolsMenu">
						<li> <p>Configuraci칩n</p> </li>
						<li> <p>Ayuda</p> </li>
						<li> <p>Acerca de</p></li>
					</ul>
				</div>
			</div>
		</section>

	</div>

</body>
</html>

